<div class="row">
  <div class="col-xs-10 col-xs-offset-1">


<%- model_class = Workletter -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:project_id) %></th>
      <th><%= model_class.human_attribute_name(:map_id) %></th>
      <th><%= model_class.human_attribute_name(:deal_id) %></th>
      
      <!--
      <th><%= model_class.human_attribute_name(:slab) %></th>
      <th><%= model_class.human_attribute_name(:studs) %></th>
      <th><%= model_class.human_attribute_name(:drywall) %></th>
      <th><%= model_class.human_attribute_name(:insulation) %></th>
      <th><%= model_class.human_attribute_name(:service_door) %></th>
      <th><%= model_class.human_attribute_name(:storefront) %></th>
      <th><%= model_class.human_attribute_name(:supply) %></th>
      <th><%= model_class.human_attribute_name(:exhaust) %></th>
      <th><%= model_class.human_attribute_name(:unit) %></th>
      <th><%= model_class.human_attribute_name(:line_set_pathways) %></th>
      <th><%= model_class.human_attribute_name(:ems) %></th>
      <th><%= model_class.human_attribute_name(:voltage) %></th>
      <th><%= model_class.human_attribute_name(:amperage) %></th>
      <th><%= model_class.human_attribute_name(:conduit_size) %></th>
      <th><%= model_class.human_attribute_name(:electrical_meter) %></th>
      <th><%= model_class.human_attribute_name(:tele_conduit_size) %></th>
      <th><%= model_class.human_attribute_name(:sanitary) %></th>
      <th><%= model_class.human_attribute_name(:sanitary_vent) %></th>
      <th><%= model_class.human_attribute_name(:grease) %></th>
      <th><%= model_class.human_attribute_name(:water) %></th>
      <th><%= model_class.human_attribute_name(:gas) %></th>
      <th><%= model_class.human_attribute_name(:sprinkler_stub) %></th>
      <th><%= model_class.human_attribute_name(:sprinkler_grid) %></th>
      <th><%= model_class.human_attribute_name(:fire_alarm) %></th>
      <th><%= model_class.human_attribute_name(:slab_description) %></th>
      <th><%= model_class.human_attribute_name(:studs_description) %></th>
      <th><%= model_class.human_attribute_name(:drywall_description) %></th>
      <th><%= model_class.human_attribute_name(:storefront_description) %></th>
      <th><%= model_class.human_attribute_name(:servicedoor_description) %></th>
      <th><%= model_class.human_attribute_name(:untis_description) %></th>
      <th><%= model_class.human_attribute_name(:supplyduct_description) %></th>
      <th><%= model_class.human_attribute_name(:exhaustduct_description) %></th>
      <th><%= model_class.human_attribute_name(:linesetpathway_description) %></th>
      <th><%= model_class.human_attribute_name(:emergency_description) %></th>
      <th><%= model_class.human_attribute_name(:voltage_description) %></th>
      <th><%= model_class.human_attribute_name(:amperage_description) %></th>
      <th><%= model_class.human_attribute_name(:conduitsize_description) %></th>
      <th><%= model_class.human_attribute_name(:panels_description) %></th>
      <th><%= model_class.human_attribute_name(:meter_description) %></th>
      <th><%= model_class.human_attribute_name(:telephone_description) %></th>
      <th><%= model_class.human_attribute_name(:sanitary_description) %></th>
      <th><%= model_class.human_attribute_name(:sanitaryvent_description) %></th>
      <th><%= model_class.human_attribute_name(:grease_description) %></th>
      <th><%= model_class.human_attribute_name(:water_description) %></th>
      <th><%= model_class.human_attribute_name(:gas_description) %></th>
      <th><%= model_class.human_attribute_name(:sprinklerstub_description) %></th>
      <th><%= model_class.human_attribute_name(:sprinklergrid_description) %></th>
      <th><%= model_class.human_attribute_name(:firealarm_description) %></th>
      <th><%= model_class.human_attribute_name(:insulation_description) %></th>
      <th><%= model_class.human_attribute_name(:slab_complete) %></th>
      <th><%= model_class.human_attribute_name(:slab_typical) %></th>
      <th><%= model_class.human_attribute_name(:slab_date) %></th>
      <th><%= model_class.human_attribute_name(:studs_typical) %></th>
      <th><%= model_class.human_attribute_name(:drywall_typical) %></th>
      <th><%= model_class.human_attribute_name(:insulation_typical) %></th>
      <th><%= model_class.human_attribute_name(:service_door_typical) %></th>
      <th><%= model_class.human_attribute_name(:storefront_typical) %></th>
      <th><%= model_class.human_attribute_name(:supply_duct_typical) %></th>
      <th><%= model_class.human_attribute_name(:exhaust_duct_typical) %></th>
      <th><%= model_class.human_attribute_name(:unit_typical) %></th>
      <th><%= model_class.human_attribute_name(:line_set_pathways_typical) %></th>
      <th><%= model_class.human_attribute_name(:ems_typical) %></th>
      <th><%= model_class.human_attribute_name(:voltage_typical) %></th>
      <th><%= model_class.human_attribute_name(:amperage_typical) %></th>
      <th><%= model_class.human_attribute_name(:conduit_size_typical) %></th>
      <th><%= model_class.human_attribute_name(:electrical_meter_typical) %></th>
      <th><%= model_class.human_attribute_name(:telephone_typical) %></th>
      <th><%= model_class.human_attribute_name(:sanitary_typical) %></th>
      <th><%= model_class.human_attribute_name(:sanitary_vent_typical) %></th>
      <th><%= model_class.human_attribute_name(:grease_typical) %></th>
      <th><%= model_class.human_attribute_name(:water_typical) %></th>
      <th><%= model_class.human_attribute_name(:gas_typical) %></th>
      <th><%= model_class.human_attribute_name(:sprinkler_stub_typical) %></th>
      <th><%= model_class.human_attribute_name(:sprinkler_grid_typical) %></th>
      <th><%= model_class.human_attribute_name(:fire_alarm_typical) %></th>
      <th><%= model_class.human_attribute_name(:studs_complete) %></th>
      <th><%= model_class.human_attribute_name(:drywall_complete) %></th>
      <th><%= model_class.human_attribute_name(:insulation_complete) %></th>
      <th><%= model_class.human_attribute_name(:service_door_complete) %></th>
      <th><%= model_class.human_attribute_name(:storefront_complete) %></th>
      <th><%= model_class.human_attribute_name(:supply_duct_complete) %></th>
      <th><%= model_class.human_attribute_name(:exhaust_duct_complete) %></th>
      <th><%= model_class.human_attribute_name(:unit_complete) %></th>
      <th><%= model_class.human_attribute_name(:line_set_pathways_complete) %></th>
      <th><%= model_class.human_attribute_name(:ems_complete) %></th>
      <th><%= model_class.human_attribute_name(:voltage_complete) %></th>
      <th><%= model_class.human_attribute_name(:amperage_complete) %></th>
      <th><%= model_class.human_attribute_name(:conduit_size_complete) %></th>
      <th><%= model_class.human_attribute_name(:electrical_meter_complete) %></th>
      <th><%= model_class.human_attribute_name(:telephone_complete) %></th>
      <th><%= model_class.human_attribute_name(:sanitary_complete) %></th>
      <th><%= model_class.human_attribute_name(:sanitary_vent_complete) %></th>
      <th><%= model_class.human_attribute_name(:grease_complete) %></th>
      <th><%= model_class.human_attribute_name(:water_complete) %></th>
      <th><%= model_class.human_attribute_name(:gas_complete) %></th>
      <th><%= model_class.human_attribute_name(:sprinkler_stub_complete) %></th>
      <th><%= model_class.human_attribute_name(:sprinkler_grid_complete) %></th>
      <th><%= model_class.human_attribute_name(:fire_alarm_complete) %></th>
      <th><%= model_class.human_attribute_name(:studs_date) %></th>
      <th><%= model_class.human_attribute_name(:drywall_date) %></th>
      <th><%= model_class.human_attribute_name(:insulation_date) %></th>
      <th><%= model_class.human_attribute_name(:service_door_date) %></th>
      <th><%= model_class.human_attribute_name(:storefront_date) %></th>
      <th><%= model_class.human_attribute_name(:supply_date) %></th>
      <th><%= model_class.human_attribute_name(:exhaust_date) %></th>
      <th><%= model_class.human_attribute_name(:unit_date) %></th>
      <th><%= model_class.human_attribute_name(:line_set_pathways_date) %></th>
      <th><%= model_class.human_attribute_name(:ems_date) %></th>
      <th><%= model_class.human_attribute_name(:voltage_date) %></th>
      <th><%= model_class.human_attribute_name(:amperage_date) %></th>
      <th><%= model_class.human_attribute_name(:conduit_size_date) %></th>
      <th><%= model_class.human_attribute_name(:electrical_meter_date) %></th>
      <th><%= model_class.human_attribute_name(:tele_conduit_size_date) %></th>
      <th><%= model_class.human_attribute_name(:sanitary_date) %></th>
      <th><%= model_class.human_attribute_name(:grease_date) %></th>
      <th><%= model_class.human_attribute_name(:water_date) %></th>
      <th><%= model_class.human_attribute_name(:sprinkler_stub_date) %></th>
      <th><%= model_class.human_attribute_name(:sprinkler_grid_date) %></th>
      <th><%= model_class.human_attribute_name(:fire_alarm_date) %></th>
      <th><%= model_class.human_attribute_name(:gas_date) %></th>
      <th><%= model_class.human_attribute_name(:sanitary_vent_date) %></th>
      <th><%= model_class.human_attribute_name(:electrical) %></th>
      <th><%= model_class.human_attribute_name(:electrical_description) %></th>
      <th><%= model_class.human_attribute_name(:electrical_typical) %></th>
      <th><%= model_class.human_attribute_name(:electrical_responsibility) %></th>
      <th><%= model_class.human_attribute_name(:electrical_complete) %></th>
      <th><%= model_class.human_attribute_name(:electrical_date) %></th>
      <th><%= model_class.human_attribute_name(:ll_work) %></th>
      <th><%= model_class.human_attribute_name(:ll_work_cost) %></th>
      <th><%= model_class.human_attribute_name(:slab_cost) %></th>
      <th><%= model_class.human_attribute_name(:studs_cost) %></th>
      <th><%= model_class.human_attribute_name(:drywall_cost) %></th>
      <th><%= model_class.human_attribute_name(:insulation_cost) %></th>
      <th><%= model_class.human_attribute_name(:service_door_cost) %></th>
      <th><%= model_class.human_attribute_name(:storefront_cost) %></th>
      <th><%= model_class.human_attribute_name(:supply_cost) %></th>
      <th><%= model_class.human_attribute_name(:exhaust_cost) %></th>
      <th><%= model_class.human_attribute_name(:unit_cost) %></th>
      <th><%= model_class.human_attribute_name(:ems_cost) %></th>
      <th><%= model_class.human_attribute_name(:voltage_cost) %></th>
      <th><%= model_class.human_attribute_name(:amperage_cost) %></th>
      <th><%= model_class.human_attribute_name(:conduit_size_cost) %></th>
      <th><%= model_class.human_attribute_name(:electrical_cost) %></th>
      <th><%= model_class.human_attribute_name(:electrical_meter_cost) %></th>
      <th><%= model_class.human_attribute_name(:telephone_cost) %></th>
      <th><%= model_class.human_attribute_name(:sanitary_cost) %></th>
      <th><%= model_class.human_attribute_name(:sanitary_vent_cost) %></th>
      <th><%= model_class.human_attribute_name(:grease_cost) %></th>
      <th><%= model_class.human_attribute_name(:water_cost) %></th>
      <th><%= model_class.human_attribute_name(:gas_cost) %></th>
      <th><%= model_class.human_attribute_name(:sprinkler_stub_cost) %></th>
      <th><%= model_class.human_attribute_name(:sprinkler_grid_cost) %></th>
      <th><%= model_class.human_attribute_name(:fire_alarm_cost) %></th>
      <th><%= model_class.human_attribute_name(:line_set_pathways_cost) %></th>
      <th><%= model_class.human_attribute_name(:structure) %></th>
      <th><%= model_class.human_attribute_name(:structure_description) %></th>
      <th><%= model_class.human_attribute_name(:structure_typical) %></th>
      <th><%= model_class.human_attribute_name(:structure_complete) %></th>
      <th><%= model_class.human_attribute_name(:structure_date) %></th>
      <th><%= model_class.human_attribute_name(:structure_cost) %></th>
      <th><%= model_class.human_attribute_name(:demolition) %></th>
      <th><%= model_class.human_attribute_name(:demolition_description) %></th>
      <th><%= model_class.human_attribute_name(:demolition_typical) %></th>
      <th><%= model_class.human_attribute_name(:demolition_complete) %></th>
      <th><%= model_class.human_attribute_name(:demolition_date) %></th>
      <th><%= model_class.human_attribute_name(:demolition_cost) %></th>
      <th><%= model_class.human_attribute_name(:other) %></th>
      <th><%= model_class.human_attribute_name(:other_description) %></th>
      <th><%= model_class.human_attribute_name(:other_typical) %></th>
      <th><%= model_class.human_attribute_name(:other_complete) %></th>
      <th><%= model_class.human_attribute_name(:other_date) %></th>
      <th><%= model_class.human_attribute_name(:other_cost) %></th>
      <th><%= model_class.human_attribute_name(:structure_sqft) %></th>
      <th><%= model_class.human_attribute_name(:structure_unit) %></th>
      <th><%= model_class.human_attribute_name(:slab_sqft) %></th>
      <th><%= model_class.human_attribute_name(:slab_unit) %></th>
      <th><%= model_class.human_attribute_name(:studs_sqft) %></th>
      <th><%= model_class.human_attribute_name(:studs_unit) %></th>
      <th><%= model_class.human_attribute_name(:drywall_sqft) %></th>
      <th><%= model_class.human_attribute_name(:drywall_unit) %></th>
      <th><%= model_class.human_attribute_name(:insulation_sqft) %></th>
      <th><%= model_class.human_attribute_name(:insulation_unit) %></th>
      <th><%= model_class.human_attribute_name(:service_door_sqft) %></th>
      <th><%= model_class.human_attribute_name(:service_door_unit) %></th>
      <th><%= model_class.human_attribute_name(:storefront_sqft) %></th>
      <th><%= model_class.human_attribute_name(:storefront_unit) %></th>
      <th><%= model_class.human_attribute_name(:hvac_unit_sqft) %></th>
      <th><%= model_class.human_attribute_name(:hvac_unit_unit) %></th>
      <th><%= model_class.human_attribute_name(:supply_duct_sqft) %></th>
      <th><%= model_class.human_attribute_name(:supply_duct_unit) %></th>
      <th><%= model_class.human_attribute_name(:exhaust_sqft) %></th>
      <th><%= model_class.human_attribute_name(:exhaust_unit) %></th>
      <th><%= model_class.human_attribute_name(:line_set_pathways_sqft) %></th>
      <th><%= model_class.human_attribute_name(:line_set_pathways_unit) %></th>
      <th><%= model_class.human_attribute_name(:ems_sqft) %></th>
      <th><%= model_class.human_attribute_name(:ems_unit) %></th>
      <th><%= model_class.human_attribute_name(:electrical_sqft) %></th>
      <th><%= model_class.human_attribute_name(:electrical_unit) %></th>
      <th><%= model_class.human_attribute_name(:voltage_sqft) %></th>
      <th><%= model_class.human_attribute_name(:voltage_unit) %></th>
      <th><%= model_class.human_attribute_name(:amperage_sqft) %></th>
      <th><%= model_class.human_attribute_name(:amperage_unit) %></th>
      <th><%= model_class.human_attribute_name(:conduit_size_sqft) %></th>
      <th><%= model_class.human_attribute_name(:conduit_size_unit) %></th>
      <th><%= model_class.human_attribute_name(:electrical_meter_sqft) %></th>
      <th><%= model_class.human_attribute_name(:electrical_meter_unit) %></th>
      <th><%= model_class.human_attribute_name(:telephone_sqft) %></th>
      <th><%= model_class.human_attribute_name(:telephone_unit) %></th>
      <th><%= model_class.human_attribute_name(:sanitary_sqft) %></th>
      <th><%= model_class.human_attribute_name(:sanitary_unit) %></th>
      <th><%= model_class.human_attribute_name(:sanitary_vent_sqft) %></th>
      <th><%= model_class.human_attribute_name(:sanitary_vent_unit) %></th>
      <th><%= model_class.human_attribute_name(:grease_sqft) %></th>
      <th><%= model_class.human_attribute_name(:grease_unit) %></th>
      <th><%= model_class.human_attribute_name(:water_sqft) %></th>
      <th><%= model_class.human_attribute_name(:water_unit) %></th>
      <th><%= model_class.human_attribute_name(:gas_sqft) %></th>
      <th><%= model_class.human_attribute_name(:gas_unit) %></th>
      <th><%= model_class.human_attribute_name(:sprinkler_stub_sqft) %></th>
      <th><%= model_class.human_attribute_name(:sprinkler_stub_unit) %></th>
      <th><%= model_class.human_attribute_name(:sprinkler_grid_sqft) %></th>
      <th><%= model_class.human_attribute_name(:sprinkler_grid_unit) %></th>
      <th><%= model_class.human_attribute_name(:fire_alarm_sqft) %></th>
      <th><%= model_class.human_attribute_name(:fire_alarm_unit) %></th>
      <th><%= model_class.human_attribute_name(:demolition_sqft) %></th>
      <th><%= model_class.human_attribute_name(:demolition_unit) %></th>
      <th><%= model_class.human_attribute_name(:other_sqft) %></th>
      <th><%= model_class.human_attribute_name(:other_unit) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      -->
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @workletters.each do |workletter| %>
      <tr>
        <td><%= link_to workletter.id, workletter_path(workletter) %></td>
        <td><%= workletter.name %></td>
        <td><%= workletter.project_id %></td>
        <td><%= workletter.map_id %></td>
        <td><%= workletter.deal_id %></td>
        
        <!--
        <td><%= workletter.slab %></td>
        <td><%= workletter.studs %></td>
        <td><%= workletter.drywall %></td>
        <td><%= workletter.insulation %></td>
        <td><%= workletter.service_door %></td>
        <td><%= workletter.storefront %></td>
        <td><%= workletter.supply %></td>
        <td><%= workletter.exhaust %></td>
        <td><%= workletter.unit %></td>
        <td><%= workletter.line_set_pathways %></td>
        <td><%= workletter.ems %></td>
        <td><%= workletter.voltage %></td>
        <td><%= workletter.amperage %></td>
        <td><%= workletter.conduit_size %></td>
        <td><%= workletter.electrical_meter %></td>
        <td><%= workletter.tele_conduit_size %></td>
        <td><%= workletter.sanitary %></td>
        <td><%= workletter.sanitary_vent %></td>
        <td><%= workletter.grease %></td>
        <td><%= workletter.water %></td>
        <td><%= workletter.gas %></td>
        <td><%= workletter.sprinkler_stub %></td>
        <td><%= workletter.sprinkler_grid %></td>
        <td><%= workletter.fire_alarm %></td>
        <td><%= workletter.slab_description %></td>
        <td><%= workletter.studs_description %></td>
        <td><%= workletter.drywall_description %></td>
        <td><%= workletter.storefront_description %></td>
        <td><%= workletter.servicedoor_description %></td>
        <td><%= workletter.untis_description %></td>
        <td><%= workletter.supplyduct_description %></td>
        <td><%= workletter.exhaustduct_description %></td>
        <td><%= workletter.linesetpathway_description %></td>
        <td><%= workletter.emergency_description %></td>
        <td><%= workletter.voltage_description %></td>
        <td><%= workletter.amperage_description %></td>
        <td><%= workletter.conduitsize_description %></td>
        <td><%= workletter.panels_description %></td>
        <td><%= workletter.meter_description %></td>
        <td><%= workletter.telephone_description %></td>
        <td><%= workletter.sanitary_description %></td>
        <td><%= workletter.sanitaryvent_description %></td>
        <td><%= workletter.grease_description %></td>
        <td><%= workletter.water_description %></td>
        <td><%= workletter.gas_description %></td>
        <td><%= workletter.sprinklerstub_description %></td>
        <td><%= workletter.sprinklergrid_description %></td>
        <td><%= workletter.firealarm_description %></td>
        <td><%= workletter.insulation_description %></td>
        <td><%= workletter.slab_complete %></td>
        <td><%= workletter.slab_typical %></td>
        <td><%= workletter.slab_date %></td>
        <td><%= workletter.studs_typical %></td>
        <td><%= workletter.drywall_typical %></td>
        <td><%= workletter.insulation_typical %></td>
        <td><%= workletter.service_door_typical %></td>
        <td><%= workletter.storefront_typical %></td>
        <td><%= workletter.supply_duct_typical %></td>
        <td><%= workletter.exhaust_duct_typical %></td>
        <td><%= workletter.unit_typical %></td>
        <td><%= workletter.line_set_pathways_typical %></td>
        <td><%= workletter.ems_typical %></td>
        <td><%= workletter.voltage_typical %></td>
        <td><%= workletter.amperage_typical %></td>
        <td><%= workletter.conduit_size_typical %></td>
        <td><%= workletter.electrical_meter_typical %></td>
        <td><%= workletter.telephone_typical %></td>
        <td><%= workletter.sanitary_typical %></td>
        <td><%= workletter.sanitary_vent_typical %></td>
        <td><%= workletter.grease_typical %></td>
        <td><%= workletter.water_typical %></td>
        <td><%= workletter.gas_typical %></td>
        <td><%= workletter.sprinkler_stub_typical %></td>
        <td><%= workletter.sprinkler_grid_typical %></td>
        <td><%= workletter.fire_alarm_typical %></td>
        <td><%= workletter.studs_complete %></td>
        <td><%= workletter.drywall_complete %></td>
        <td><%= workletter.insulation_complete %></td>
        <td><%= workletter.service_door_complete %></td>
        <td><%= workletter.storefront_complete %></td>
        <td><%= workletter.supply_duct_complete %></td>
        <td><%= workletter.exhaust_duct_complete %></td>
        <td><%= workletter.unit_complete %></td>
        <td><%= workletter.line_set_pathways_complete %></td>
        <td><%= workletter.ems_complete %></td>
        <td><%= workletter.voltage_complete %></td>
        <td><%= workletter.amperage_complete %></td>
        <td><%= workletter.conduit_size_complete %></td>
        <td><%= workletter.electrical_meter_complete %></td>
        <td><%= workletter.telephone_complete %></td>
        <td><%= workletter.sanitary_complete %></td>
        <td><%= workletter.sanitary_vent_complete %></td>
        <td><%= workletter.grease_complete %></td>
        <td><%= workletter.water_complete %></td>
        <td><%= workletter.gas_complete %></td>
        <td><%= workletter.sprinkler_stub_complete %></td>
        <td><%= workletter.sprinkler_grid_complete %></td>
        <td><%= workletter.fire_alarm_complete %></td>
        <td><%= workletter.studs_date %></td>
        <td><%= workletter.drywall_date %></td>
        <td><%= workletter.insulation_date %></td>
        <td><%= workletter.service_door_date %></td>
        <td><%= workletter.storefront_date %></td>
        <td><%= workletter.supply_date %></td>
        <td><%= workletter.exhaust_date %></td>
        <td><%= workletter.unit_date %></td>
        <td><%= workletter.line_set_pathways_date %></td>
        <td><%= workletter.ems_date %></td>
        <td><%= workletter.voltage_date %></td>
        <td><%= workletter.amperage_date %></td>
        <td><%= workletter.conduit_size_date %></td>
        <td><%= workletter.electrical_meter_date %></td>
        <td><%= workletter.tele_conduit_size_date %></td>
        <td><%= workletter.sanitary_date %></td>
        <td><%= workletter.grease_date %></td>
        <td><%= workletter.water_date %></td>
        <td><%= workletter.sprinkler_stub_date %></td>
        <td><%= workletter.sprinkler_grid_date %></td>
        <td><%= workletter.fire_alarm_date %></td>
        <td><%= workletter.gas_date %></td>
        <td><%= workletter.sanitary_vent_date %></td>
        <td><%= workletter.electrical %></td>
        <td><%= workletter.electrical_description %></td>
        <td><%= workletter.electrical_typical %></td>
        <td><%= workletter.electrical_responsibility %></td>
        <td><%= workletter.electrical_complete %></td>
        <td><%= workletter.electrical_date %></td>
        <td><%= workletter.ll_work %></td>
        <td><%= workletter.ll_work_cost %></td>
        <td><%= workletter.slab_cost %></td>
        <td><%= workletter.studs_cost %></td>
        <td><%= workletter.drywall_cost %></td>
        <td><%= workletter.insulation_cost %></td>
        <td><%= workletter.service_door_cost %></td>
        <td><%= workletter.storefront_cost %></td>
        <td><%= workletter.supply_cost %></td>
        <td><%= workletter.exhaust_cost %></td>
        <td><%= workletter.unit_cost %></td>
        <td><%= workletter.ems_cost %></td>
        <td><%= workletter.voltage_cost %></td>
        <td><%= workletter.amperage_cost %></td>
        <td><%= workletter.conduit_size_cost %></td>
        <td><%= workletter.electrical_cost %></td>
        <td><%= workletter.electrical_meter_cost %></td>
        <td><%= workletter.telephone_cost %></td>
        <td><%= workletter.sanitary_cost %></td>
        <td><%= workletter.sanitary_vent_cost %></td>
        <td><%= workletter.grease_cost %></td>
        <td><%= workletter.water_cost %></td>
        <td><%= workletter.gas_cost %></td>
        <td><%= workletter.sprinkler_stub_cost %></td>
        <td><%= workletter.sprinkler_grid_cost %></td>
        <td><%= workletter.fire_alarm_cost %></td>
        <td><%= workletter.line_set_pathways_cost %></td>
        <td><%= workletter.structure %></td>
        <td><%= workletter.structure_description %></td>
        <td><%= workletter.structure_typical %></td>
        <td><%= workletter.structure_complete %></td>
        <td><%= workletter.structure_date %></td>
        <td><%= workletter.structure_cost %></td>
        <td><%= workletter.demolition %></td>
        <td><%= workletter.demolition_description %></td>
        <td><%= workletter.demolition_typical %></td>
        <td><%= workletter.demolition_complete %></td>
        <td><%= workletter.demolition_date %></td>
        <td><%= workletter.demolition_cost %></td>
        <td><%= workletter.other %></td>
        <td><%= workletter.other_description %></td>
        <td><%= workletter.other_typical %></td>
        <td><%= workletter.other_complete %></td>
        <td><%= workletter.other_date %></td>
        <td><%= workletter.other_cost %></td>
        <td><%= workletter.structure_sqft %></td>
        <td><%= workletter.structure_unit %></td>
        <td><%= workletter.slab_sqft %></td>
        <td><%= workletter.slab_unit %></td>
        <td><%= workletter.studs_sqft %></td>
        <td><%= workletter.studs_unit %></td>
        <td><%= workletter.drywall_sqft %></td>
        <td><%= workletter.drywall_unit %></td>
        <td><%= workletter.insulation_sqft %></td>
        <td><%= workletter.insulation_unit %></td>
        <td><%= workletter.service_door_sqft %></td>
        <td><%= workletter.service_door_unit %></td>
        <td><%= workletter.storefront_sqft %></td>
        <td><%= workletter.storefront_unit %></td>
        <td><%= workletter.hvac_unit_sqft %></td>
        <td><%= workletter.hvac_unit_unit %></td>
        <td><%= workletter.supply_duct_sqft %></td>
        <td><%= workletter.supply_duct_unit %></td>
        <td><%= workletter.exhaust_sqft %></td>
        <td><%= workletter.exhaust_unit %></td>
        <td><%= workletter.line_set_pathways_sqft %></td>
        <td><%= workletter.line_set_pathways_unit %></td>
        <td><%= workletter.ems_sqft %></td>
        <td><%= workletter.ems_unit %></td>
        <td><%= workletter.electrical_sqft %></td>
        <td><%= workletter.electrical_unit %></td>
        <td><%= workletter.voltage_sqft %></td>
        <td><%= workletter.voltage_unit %></td>
        <td><%= workletter.amperage_sqft %></td>
        <td><%= workletter.amperage_unit %></td>
        <td><%= workletter.conduit_size_sqft %></td>
        <td><%= workletter.conduit_size_unit %></td>
        <td><%= workletter.electrical_meter_sqft %></td>
        <td><%= workletter.electrical_meter_unit %></td>
        <td><%= workletter.telephone_sqft %></td>
        <td><%= workletter.telephone_unit %></td>
        <td><%= workletter.sanitary_sqft %></td>
        <td><%= workletter.sanitary_unit %></td>
        <td><%= workletter.sanitary_vent_sqft %></td>
        <td><%= workletter.sanitary_vent_unit %></td>
        <td><%= workletter.grease_sqft %></td>
        <td><%= workletter.grease_unit %></td>
        <td><%= workletter.water_sqft %></td>
        <td><%= workletter.water_unit %></td>
        <td><%= workletter.gas_sqft %></td>
        <td><%= workletter.gas_unit %></td>
        <td><%= workletter.sprinkler_stub_sqft %></td>
        <td><%= workletter.sprinkler_stub_unit %></td>
        <td><%= workletter.sprinkler_grid_sqft %></td>
        <td><%= workletter.sprinkler_grid_unit %></td>
        <td><%= workletter.fire_alarm_sqft %></td>
        <td><%= workletter.fire_alarm_unit %></td>
        <td><%= workletter.demolition_sqft %></td>
        <td><%= workletter.demolition_unit %></td>
        <td><%= workletter.other_sqft %></td>
        <td><%= workletter.other_unit %></td>
        <td><%=l workletter.created_at %></td>
        -->
        <td>
          <%= link_to image_tag('/images/view-button.png'),
                      workletter_path(workletter), :class => 'action-buttons print-none', :title => 'View' %>
          <%= link_to image_tag('/images/edit-button.png'),
                      edit_workletter_path(workletter), :class => 'action-buttons print-none', :title => 'Edit' %>
          <%#= link_to image_tag('/images/delete-button.png'),
                      workletter_path(workletter),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'action-buttons print-none' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>



<%#= link_to t('.new', :default => t("helpers.links.new")),
            new_workletter_path,
            :class => 'btn btn-primary' %>


  </div>
</div>