<%- model_class = Workletter -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @workletter.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:project_id) %>:</strong></dt>
  <dd><%= @workletter.project_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:map_id) %>:</strong></dt>
  <dd><%= @workletter.map_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:area_id) %>:</strong></dt>
  <dd><%= @workletter.area_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:deal_id) %>:</strong></dt>
  <dd><%= @workletter.deal_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:slab) %>:</strong></dt>
  <dd><%= @workletter.slab %></dd>
  <dt><strong><%= model_class.human_attribute_name(:studs) %>:</strong></dt>
  <dd><%= @workletter.studs %></dd>
  <dt><strong><%= model_class.human_attribute_name(:drywall) %>:</strong></dt>
  <dd><%= @workletter.drywall %></dd>
  <dt><strong><%= model_class.human_attribute_name(:insulation) %>:</strong></dt>
  <dd><%= @workletter.insulation %></dd>
  <dt><strong><%= model_class.human_attribute_name(:service_door) %>:</strong></dt>
  <dd><%= @workletter.service_door %></dd>
  <dt><strong><%= model_class.human_attribute_name(:storefront) %>:</strong></dt>
  <dd><%= @workletter.storefront %></dd>
  <dt><strong><%= model_class.human_attribute_name(:supply) %>:</strong></dt>
  <dd><%= @workletter.supply %></dd>
  <dt><strong><%= model_class.human_attribute_name(:exhaust) %>:</strong></dt>
  <dd><%= @workletter.exhaust %></dd>
  <dt><strong><%= model_class.human_attribute_name(:unit) %>:</strong></dt>
  <dd><%= @workletter.unit %></dd>
  <dt><strong><%= model_class.human_attribute_name(:line_set_pathways) %>:</strong></dt>
  <dd><%= @workletter.line_set_pathways %></dd>
  <dt><strong><%= model_class.human_attribute_name(:ems) %>:</strong></dt>
  <dd><%= @workletter.ems %></dd>
  <dt><strong><%= model_class.human_attribute_name(:voltage) %>:</strong></dt>
  <dd><%= @workletter.voltage %></dd>
  <dt><strong><%= model_class.human_attribute_name(:amperage) %>:</strong></dt>
  <dd><%= @workletter.amperage %></dd>
  <dt><strong><%= model_class.human_attribute_name(:conduit_size) %>:</strong></dt>
  <dd><%= @workletter.conduit_size %></dd>
  <dt><strong><%= model_class.human_attribute_name(:electrical_meter) %>:</strong></dt>
  <dd><%= @workletter.electrical_meter %></dd>
  <dt><strong><%= model_class.human_attribute_name(:tele_conduit_size) %>:</strong></dt>
  <dd><%= @workletter.tele_conduit_size %></dd>
  <dt><strong><%= model_class.human_attribute_name(:sanitary) %>:</strong></dt>
  <dd><%= @workletter.sanitary %></dd>
  <dt><strong><%= model_class.human_attribute_name(:sanitary_vent) %>:</strong></dt>
  <dd><%= @workletter.sanitary_vent %></dd>
  <dt><strong><%= model_class.human_attribute_name(:grease) %>:</strong></dt>
  <dd><%= @workletter.grease %></dd>
  <dt><strong><%= model_class.human_attribute_name(:water) %>:</strong></dt>
  <dd><%= @workletter.water %></dd>
  <dt><strong><%= model_class.human_attribute_name(:gas) %>:</strong></dt>
  <dd><%= @workletter.gas %></dd>
  <dt><strong><%= model_class.human_attribute_name(:sprinkler_stub) %>:</strong></dt>
  <dd><%= @workletter.sprinkler_stub %></dd>
  <dt><strong><%= model_class.human_attribute_name(:sprinkler_grid) %>:</strong></dt>
  <dd><%= @workletter.sprinkler_grid %></dd>
  <dt><strong><%= model_class.human_attribute_name(:fire_alarm) %>:</strong></dt>
  <dd><%= @workletter.fire_alarm %></dd>
  <dt><strong><%= model_class.human_attribute_name(:slab_description) %>:</strong></dt>
  <dd><%= @workletter.slab_description %></dd>
  <dt><strong><%= model_class.human_attribute_name(:studs_description) %>:</strong></dt>
  <dd><%= @workletter.studs_description %></dd>
  <dt><strong><%= model_class.human_attribute_name(:drywall_description) %>:</strong></dt>
  <dd><%= @workletter.drywall_description %></dd>
  <dt><strong><%= model_class.human_attribute_name(:storefront_description) %>:</strong></dt>
  <dd><%= @workletter.storefront_description %></dd>
  <dt><strong><%= model_class.human_attribute_name(:servicedoor_description) %>:</strong></dt>
  <dd><%= @workletter.servicedoor_description %></dd>
  <dt><strong><%= model_class.human_attribute_name(:untis_description) %>:</strong></dt>
  <dd><%= @workletter.untis_description %></dd>
  <dt><strong><%= model_class.human_attribute_name(:supplyduct_description) %>:</strong></dt>
  <dd><%= @workletter.supplyduct_description %></dd>
  <dt><strong><%= model_class.human_attribute_name(:exhaustduct_description) %>:</strong></dt>
  <dd><%= @workletter.exhaustduct_description %></dd>
  <dt><strong><%= model_class.human_attribute_name(:linesetpathway_description) %>:</strong></dt>
  <dd><%= @workletter.linesetpathway_description %></dd>
  <dt><strong><%= model_class.human_attribute_name(:emergency_description) %>:</strong></dt>
  <dd><%= @workletter.emergency_description %></dd>
  <dt><strong><%= model_class.human_attribute_name(:voltage_description) %>:</strong></dt>
  <dd><%= @workletter.voltage_description %></dd>
  <dt><strong><%= model_class.human_attribute_name(:amperage_description) %>:</strong></dt>
  <dd><%= @workletter.amperage_description %></dd>
  <dt><strong><%= model_class.human_attribute_name(:conduitsize_description) %>:</strong></dt>
  <dd><%= @workletter.conduitsize_description %></dd>
  <dt><strong><%= model_class.human_attribute_name(:panels_description) %>:</strong></dt>
  <dd><%= @workletter.panels_description %></dd>
  <dt><strong><%= model_class.human_attribute_name(:meter_description) %>:</strong></dt>
  <dd><%= @workletter.meter_description %></dd>
  <dt><strong><%= model_class.human_attribute_name(:telephone_description) %>:</strong></dt>
  <dd><%= @workletter.telephone_description %></dd>
  <dt><strong><%= model_class.human_attribute_name(:sanitary_description) %>:</strong></dt>
  <dd><%= @workletter.sanitary_description %></dd>
  <dt><strong><%= model_class.human_attribute_name(:sanitaryvent_description) %>:</strong></dt>
  <dd><%= @workletter.sanitaryvent_description %></dd>
  <dt><strong><%= model_class.human_attribute_name(:grease_description) %>:</strong></dt>
  <dd><%= @workletter.grease_description %></dd>
  <dt><strong><%= model_class.human_attribute_name(:water_description) %>:</strong></dt>
  <dd><%= @workletter.water_description %></dd>
  <dt><strong><%= model_class.human_attribute_name(:gas_description) %>:</strong></dt>
  <dd><%= @workletter.gas_description %></dd>
  <dt><strong><%= model_class.human_attribute_name(:sprinklerstub_description) %>:</strong></dt>
  <dd><%= @workletter.sprinklerstub_description %></dd>
  <dt><strong><%= model_class.human_attribute_name(:sprinklergrid_description) %>:</strong></dt>
  <dd><%= @workletter.sprinklergrid_description %></dd>
  <dt><strong><%= model_class.human_attribute_name(:firealarm_description) %>:</strong></dt>
  <dd><%= @workletter.firealarm_description %></dd>
  <dt><strong><%= model_class.human_attribute_name(:insulation_description) %>:</strong></dt>
  <dd><%= @workletter.insulation_description %></dd>
  <dt><strong><%= model_class.human_attribute_name(:slab_complete) %>:</strong></dt>
  <dd><%= @workletter.slab_complete %></dd>
  <dt><strong><%= model_class.human_attribute_name(:slab_typical) %>:</strong></dt>
  <dd><%= @workletter.slab_typical %></dd>
  <dt><strong><%= model_class.human_attribute_name(:slab_date) %>:</strong></dt>
  <dd><%= @workletter.slab_date %></dd>
  <dt><strong><%= model_class.human_attribute_name(:studs_typical) %>:</strong></dt>
  <dd><%= @workletter.studs_typical %></dd>
  <dt><strong><%= model_class.human_attribute_name(:drywall_typical) %>:</strong></dt>
  <dd><%= @workletter.drywall_typical %></dd>
  <dt><strong><%= model_class.human_attribute_name(:insulation_typical) %>:</strong></dt>
  <dd><%= @workletter.insulation_typical %></dd>
  <dt><strong><%= model_class.human_attribute_name(:service_door_typical) %>:</strong></dt>
  <dd><%= @workletter.service_door_typical %></dd>
  <dt><strong><%= model_class.human_attribute_name(:storefront_typical) %>:</strong></dt>
  <dd><%= @workletter.storefront_typical %></dd>
  <dt><strong><%= model_class.human_attribute_name(:supply_duct_typical) %>:</strong></dt>
  <dd><%= @workletter.supply_duct_typical %></dd>
  <dt><strong><%= model_class.human_attribute_name(:exhaust_duct_typical) %>:</strong></dt>
  <dd><%= @workletter.exhaust_duct_typical %></dd>
  <dt><strong><%= model_class.human_attribute_name(:unit_typical) %>:</strong></dt>
  <dd><%= @workletter.unit_typical %></dd>
  <dt><strong><%= model_class.human_attribute_name(:line_set_pathways_typical) %>:</strong></dt>
  <dd><%= @workletter.line_set_pathways_typical %></dd>
  <dt><strong><%= model_class.human_attribute_name(:ems_typical) %>:</strong></dt>
  <dd><%= @workletter.ems_typical %></dd>
  <dt><strong><%= model_class.human_attribute_name(:voltage_typical) %>:</strong></dt>
  <dd><%= @workletter.voltage_typical %></dd>
  <dt><strong><%= model_class.human_attribute_name(:amperage_typical) %>:</strong></dt>
  <dd><%= @workletter.amperage_typical %></dd>
  <dt><strong><%= model_class.human_attribute_name(:conduit_size_typical) %>:</strong></dt>
  <dd><%= @workletter.conduit_size_typical %></dd>
  <dt><strong><%= model_class.human_attribute_name(:electrical_meter_typical) %>:</strong></dt>
  <dd><%= @workletter.electrical_meter_typical %></dd>
  <dt><strong><%= model_class.human_attribute_name(:telephone_typical) %>:</strong></dt>
  <dd><%= @workletter.telephone_typical %></dd>
  <dt><strong><%= model_class.human_attribute_name(:sanitary_typical) %>:</strong></dt>
  <dd><%= @workletter.sanitary_typical %></dd>
  <dt><strong><%= model_class.human_attribute_name(:sanitary_vent_typical) %>:</strong></dt>
  <dd><%= @workletter.sanitary_vent_typical %></dd>
  <dt><strong><%= model_class.human_attribute_name(:grease_typical) %>:</strong></dt>
  <dd><%= @workletter.grease_typical %></dd>
  <dt><strong><%= model_class.human_attribute_name(:water_typical) %>:</strong></dt>
  <dd><%= @workletter.water_typical %></dd>
  <dt><strong><%= model_class.human_attribute_name(:gas_typical) %>:</strong></dt>
  <dd><%= @workletter.gas_typical %></dd>
  <dt><strong><%= model_class.human_attribute_name(:sprinkler_stub_typical) %>:</strong></dt>
  <dd><%= @workletter.sprinkler_stub_typical %></dd>
  <dt><strong><%= model_class.human_attribute_name(:sprinkler_grid_typical) %>:</strong></dt>
  <dd><%= @workletter.sprinkler_grid_typical %></dd>
  <dt><strong><%= model_class.human_attribute_name(:fire_alarm_typical) %>:</strong></dt>
  <dd><%= @workletter.fire_alarm_typical %></dd>
  <dt><strong><%= model_class.human_attribute_name(:studs_complete) %>:</strong></dt>
  <dd><%= @workletter.studs_complete %></dd>
  <dt><strong><%= model_class.human_attribute_name(:drywall_complete) %>:</strong></dt>
  <dd><%= @workletter.drywall_complete %></dd>
  <dt><strong><%= model_class.human_attribute_name(:insulation_complete) %>:</strong></dt>
  <dd><%= @workletter.insulation_complete %></dd>
  <dt><strong><%= model_class.human_attribute_name(:service_door_complete) %>:</strong></dt>
  <dd><%= @workletter.service_door_complete %></dd>
  <dt><strong><%= model_class.human_attribute_name(:storefront_complete) %>:</strong></dt>
  <dd><%= @workletter.storefront_complete %></dd>
  <dt><strong><%= model_class.human_attribute_name(:supply_duct_complete) %>:</strong></dt>
  <dd><%= @workletter.supply_duct_complete %></dd>
  <dt><strong><%= model_class.human_attribute_name(:exhaust_duct_complete) %>:</strong></dt>
  <dd><%= @workletter.exhaust_duct_complete %></dd>
  <dt><strong><%= model_class.human_attribute_name(:unit_complete) %>:</strong></dt>
  <dd><%= @workletter.unit_complete %></dd>
  <dt><strong><%= model_class.human_attribute_name(:line_set_pathways_complete) %>:</strong></dt>
  <dd><%= @workletter.line_set_pathways_complete %></dd>
  <dt><strong><%= model_class.human_attribute_name(:ems_complete) %>:</strong></dt>
  <dd><%= @workletter.ems_complete %></dd>
  <dt><strong><%= model_class.human_attribute_name(:voltage_complete) %>:</strong></dt>
  <dd><%= @workletter.voltage_complete %></dd>
  <dt><strong><%= model_class.human_attribute_name(:amperage_complete) %>:</strong></dt>
  <dd><%= @workletter.amperage_complete %></dd>
  <dt><strong><%= model_class.human_attribute_name(:conduit_size_complete) %>:</strong></dt>
  <dd><%= @workletter.conduit_size_complete %></dd>
  <dt><strong><%= model_class.human_attribute_name(:electrical_meter_complete) %>:</strong></dt>
  <dd><%= @workletter.electrical_meter_complete %></dd>
  <dt><strong><%= model_class.human_attribute_name(:telephone_complete) %>:</strong></dt>
  <dd><%= @workletter.telephone_complete %></dd>
  <dt><strong><%= model_class.human_attribute_name(:sanitary_complete) %>:</strong></dt>
  <dd><%= @workletter.sanitary_complete %></dd>
  <dt><strong><%= model_class.human_attribute_name(:sanitary_vent_complete) %>:</strong></dt>
  <dd><%= @workletter.sanitary_vent_complete %></dd>
  <dt><strong><%= model_class.human_attribute_name(:grease_complete) %>:</strong></dt>
  <dd><%= @workletter.grease_complete %></dd>
  <dt><strong><%= model_class.human_attribute_name(:water_complete) %>:</strong></dt>
  <dd><%= @workletter.water_complete %></dd>
  <dt><strong><%= model_class.human_attribute_name(:gas_complete) %>:</strong></dt>
  <dd><%= @workletter.gas_complete %></dd>
  <dt><strong><%= model_class.human_attribute_name(:sprinkler_stub_complete) %>:</strong></dt>
  <dd><%= @workletter.sprinkler_stub_complete %></dd>
  <dt><strong><%= model_class.human_attribute_name(:sprinkler_grid_complete) %>:</strong></dt>
  <dd><%= @workletter.sprinkler_grid_complete %></dd>
  <dt><strong><%= model_class.human_attribute_name(:fire_alarm_complete) %>:</strong></dt>
  <dd><%= @workletter.fire_alarm_complete %></dd>
  <dt><strong><%= model_class.human_attribute_name(:studs_date) %>:</strong></dt>
  <dd><%= @workletter.studs_date %></dd>
  <dt><strong><%= model_class.human_attribute_name(:drywall_date) %>:</strong></dt>
  <dd><%= @workletter.drywall_date %></dd>
  <dt><strong><%= model_class.human_attribute_name(:insulation_date) %>:</strong></dt>
  <dd><%= @workletter.insulation_date %></dd>
  <dt><strong><%= model_class.human_attribute_name(:service_door_date) %>:</strong></dt>
  <dd><%= @workletter.service_door_date %></dd>
  <dt><strong><%= model_class.human_attribute_name(:storefront_date) %>:</strong></dt>
  <dd><%= @workletter.storefront_date %></dd>
  <dt><strong><%= model_class.human_attribute_name(:supply_date) %>:</strong></dt>
  <dd><%= @workletter.supply_date %></dd>
  <dt><strong><%= model_class.human_attribute_name(:exhaust_date) %>:</strong></dt>
  <dd><%= @workletter.exhaust_date %></dd>
  <dt><strong><%= model_class.human_attribute_name(:unit_date) %>:</strong></dt>
  <dd><%= @workletter.unit_date %></dd>
  <dt><strong><%= model_class.human_attribute_name(:line_set_pathways_date) %>:</strong></dt>
  <dd><%= @workletter.line_set_pathways_date %></dd>
  <dt><strong><%= model_class.human_attribute_name(:ems_date) %>:</strong></dt>
  <dd><%= @workletter.ems_date %></dd>
  <dt><strong><%= model_class.human_attribute_name(:voltage_date) %>:</strong></dt>
  <dd><%= @workletter.voltage_date %></dd>
  <dt><strong><%= model_class.human_attribute_name(:amperage_date) %>:</strong></dt>
  <dd><%= @workletter.amperage_date %></dd>
  <dt><strong><%= model_class.human_attribute_name(:conduit_size_date) %>:</strong></dt>
  <dd><%= @workletter.conduit_size_date %></dd>
  <dt><strong><%= model_class.human_attribute_name(:electrical_meter_date) %>:</strong></dt>
  <dd><%= @workletter.electrical_meter_date %></dd>
  <dt><strong><%= model_class.human_attribute_name(:tele_conduit_size_date) %>:</strong></dt>
  <dd><%= @workletter.tele_conduit_size_date %></dd>
  <dt><strong><%= model_class.human_attribute_name(:sanitary_date) %>:</strong></dt>
  <dd><%= @workletter.sanitary_date %></dd>
  <dt><strong><%= model_class.human_attribute_name(:grease_date) %>:</strong></dt>
  <dd><%= @workletter.grease_date %></dd>
  <dt><strong><%= model_class.human_attribute_name(:water_date) %>:</strong></dt>
  <dd><%= @workletter.water_date %></dd>
  <dt><strong><%= model_class.human_attribute_name(:sprinkler_stub_date) %>:</strong></dt>
  <dd><%= @workletter.sprinkler_stub_date %></dd>
  <dt><strong><%= model_class.human_attribute_name(:sprinkler_grid_date) %>:</strong></dt>
  <dd><%= @workletter.sprinkler_grid_date %></dd>
  <dt><strong><%= model_class.human_attribute_name(:fire_alarm_date) %>:</strong></dt>
  <dd><%= @workletter.fire_alarm_date %></dd>
  <dt><strong><%= model_class.human_attribute_name(:gas_date) %>:</strong></dt>
  <dd><%= @workletter.gas_date %></dd>
  <dt><strong><%= model_class.human_attribute_name(:sanitary_vent_date) %>:</strong></dt>
  <dd><%= @workletter.sanitary_vent_date %></dd>
  <dt><strong><%= model_class.human_attribute_name(:electrical) %>:</strong></dt>
  <dd><%= @workletter.electrical %></dd>
  <dt><strong><%= model_class.human_attribute_name(:electrical_description) %>:</strong></dt>
  <dd><%= @workletter.electrical_description %></dd>
  <dt><strong><%= model_class.human_attribute_name(:electrical_typical) %>:</strong></dt>
  <dd><%= @workletter.electrical_typical %></dd>
  <dt><strong><%= model_class.human_attribute_name(:electrical_responsibility) %>:</strong></dt>
  <dd><%= @workletter.electrical_responsibility %></dd>
  <dt><strong><%= model_class.human_attribute_name(:electrical_complete) %>:</strong></dt>
  <dd><%= @workletter.electrical_complete %></dd>
  <dt><strong><%= model_class.human_attribute_name(:electrical_date) %>:</strong></dt>
  <dd><%= @workletter.electrical_date %></dd>
  <dt><strong><%= model_class.human_attribute_name(:ll_work) %>:</strong></dt>
  <dd><%= @workletter.ll_work %></dd>
  <dt><strong><%= model_class.human_attribute_name(:ll_work_cost) %>:</strong></dt>
  <dd><%= @workletter.ll_work_cost %></dd>
  <dt><strong><%= model_class.human_attribute_name(:slab_cost) %>:</strong></dt>
  <dd><%= @workletter.slab_cost %></dd>
  <dt><strong><%= model_class.human_attribute_name(:studs_cost) %>:</strong></dt>
  <dd><%= @workletter.studs_cost %></dd>
  <dt><strong><%= model_class.human_attribute_name(:drywall_cost) %>:</strong></dt>
  <dd><%= @workletter.drywall_cost %></dd>
  <dt><strong><%= model_class.human_attribute_name(:insulation_cost) %>:</strong></dt>
  <dd><%= @workletter.insulation_cost %></dd>
  <dt><strong><%= model_class.human_attribute_name(:service_door_cost) %>:</strong></dt>
  <dd><%= @workletter.service_door_cost %></dd>
  <dt><strong><%= model_class.human_attribute_name(:storefront_cost) %>:</strong></dt>
  <dd><%= @workletter.storefront_cost %></dd>
  <dt><strong><%= model_class.human_attribute_name(:supply_cost) %>:</strong></dt>
  <dd><%= @workletter.supply_cost %></dd>
  <dt><strong><%= model_class.human_attribute_name(:exhaust_cost) %>:</strong></dt>
  <dd><%= @workletter.exhaust_cost %></dd>
  <dt><strong><%= model_class.human_attribute_name(:unit_cost) %>:</strong></dt>
  <dd><%= @workletter.unit_cost %></dd>
  <dt><strong><%= model_class.human_attribute_name(:ems_cost) %>:</strong></dt>
  <dd><%= @workletter.ems_cost %></dd>
  <dt><strong><%= model_class.human_attribute_name(:voltage_cost) %>:</strong></dt>
  <dd><%= @workletter.voltage_cost %></dd>
  <dt><strong><%= model_class.human_attribute_name(:amperage_cost) %>:</strong></dt>
  <dd><%= @workletter.amperage_cost %></dd>
  <dt><strong><%= model_class.human_attribute_name(:conduit_size_cost) %>:</strong></dt>
  <dd><%= @workletter.conduit_size_cost %></dd>
  <dt><strong><%= model_class.human_attribute_name(:electrical_cost) %>:</strong></dt>
  <dd><%= @workletter.electrical_cost %></dd>
  <dt><strong><%= model_class.human_attribute_name(:electrical_meter_cost) %>:</strong></dt>
  <dd><%= @workletter.electrical_meter_cost %></dd>
  <dt><strong><%= model_class.human_attribute_name(:telephone_cost) %>:</strong></dt>
  <dd><%= @workletter.telephone_cost %></dd>
  <dt><strong><%= model_class.human_attribute_name(:sanitary_cost) %>:</strong></dt>
  <dd><%= @workletter.sanitary_cost %></dd>
  <dt><strong><%= model_class.human_attribute_name(:sanitary_vent_cost) %>:</strong></dt>
  <dd><%= @workletter.sanitary_vent_cost %></dd>
  <dt><strong><%= model_class.human_attribute_name(:grease_cost) %>:</strong></dt>
  <dd><%= @workletter.grease_cost %></dd>
  <dt><strong><%= model_class.human_attribute_name(:water_cost) %>:</strong></dt>
  <dd><%= @workletter.water_cost %></dd>
  <dt><strong><%= model_class.human_attribute_name(:gas_cost) %>:</strong></dt>
  <dd><%= @workletter.gas_cost %></dd>
  <dt><strong><%= model_class.human_attribute_name(:sprinkler_stub_cost) %>:</strong></dt>
  <dd><%= @workletter.sprinkler_stub_cost %></dd>
  <dt><strong><%= model_class.human_attribute_name(:sprinkler_grid_cost) %>:</strong></dt>
  <dd><%= @workletter.sprinkler_grid_cost %></dd>
  <dt><strong><%= model_class.human_attribute_name(:fire_alarm_cost) %>:</strong></dt>
  <dd><%= @workletter.fire_alarm_cost %></dd>
  <dt><strong><%= model_class.human_attribute_name(:line_set_pathways_cost) %>:</strong></dt>
  <dd><%= @workletter.line_set_pathways_cost %></dd>
  <dt><strong><%= model_class.human_attribute_name(:structure) %>:</strong></dt>
  <dd><%= @workletter.structure %></dd>
  <dt><strong><%= model_class.human_attribute_name(:structure_description) %>:</strong></dt>
  <dd><%= @workletter.structure_description %></dd>
  <dt><strong><%= model_class.human_attribute_name(:structure_typical) %>:</strong></dt>
  <dd><%= @workletter.structure_typical %></dd>
  <dt><strong><%= model_class.human_attribute_name(:structure_complete) %>:</strong></dt>
  <dd><%= @workletter.structure_complete %></dd>
  <dt><strong><%= model_class.human_attribute_name(:structure_date) %>:</strong></dt>
  <dd><%= @workletter.structure_date %></dd>
  <dt><strong><%= model_class.human_attribute_name(:structure_cost) %>:</strong></dt>
  <dd><%= @workletter.structure_cost %></dd>
  <dt><strong><%= model_class.human_attribute_name(:demolition) %>:</strong></dt>
  <dd><%= @workletter.demolition %></dd>
  <dt><strong><%= model_class.human_attribute_name(:demolition_description) %>:</strong></dt>
  <dd><%= @workletter.demolition_description %></dd>
  <dt><strong><%= model_class.human_attribute_name(:demolition_typical) %>:</strong></dt>
  <dd><%= @workletter.demolition_typical %></dd>
  <dt><strong><%= model_class.human_attribute_name(:demolition_complete) %>:</strong></dt>
  <dd><%= @workletter.demolition_complete %></dd>
  <dt><strong><%= model_class.human_attribute_name(:demolition_date) %>:</strong></dt>
  <dd><%= @workletter.demolition_date %></dd>
  <dt><strong><%= model_class.human_attribute_name(:demolition_cost) %>:</strong></dt>
  <dd><%= @workletter.demolition_cost %></dd>
  <dt><strong><%= model_class.human_attribute_name(:other) %>:</strong></dt>
  <dd><%= @workletter.other %></dd>
  <dt><strong><%= model_class.human_attribute_name(:other_description) %>:</strong></dt>
  <dd><%= @workletter.other_description %></dd>
  <dt><strong><%= model_class.human_attribute_name(:other_typical) %>:</strong></dt>
  <dd><%= @workletter.other_typical %></dd>
  <dt><strong><%= model_class.human_attribute_name(:other_complete) %>:</strong></dt>
  <dd><%= @workletter.other_complete %></dd>
  <dt><strong><%= model_class.human_attribute_name(:other_date) %>:</strong></dt>
  <dd><%= @workletter.other_date %></dd>
  <dt><strong><%= model_class.human_attribute_name(:other_cost) %>:</strong></dt>
  <dd><%= @workletter.other_cost %></dd>
  <dt><strong><%= model_class.human_attribute_name(:structure_sqft) %>:</strong></dt>
  <dd><%= @workletter.structure_sqft %></dd>
  <dt><strong><%= model_class.human_attribute_name(:structure_unit) %>:</strong></dt>
  <dd><%= @workletter.structure_unit %></dd>
  <dt><strong><%= model_class.human_attribute_name(:slab_sqft) %>:</strong></dt>
  <dd><%= @workletter.slab_sqft %></dd>
  <dt><strong><%= model_class.human_attribute_name(:slab_unit) %>:</strong></dt>
  <dd><%= @workletter.slab_unit %></dd>
  <dt><strong><%= model_class.human_attribute_name(:studs_sqft) %>:</strong></dt>
  <dd><%= @workletter.studs_sqft %></dd>
  <dt><strong><%= model_class.human_attribute_name(:studs_unit) %>:</strong></dt>
  <dd><%= @workletter.studs_unit %></dd>
  <dt><strong><%= model_class.human_attribute_name(:drywall_sqft) %>:</strong></dt>
  <dd><%= @workletter.drywall_sqft %></dd>
  <dt><strong><%= model_class.human_attribute_name(:drywall_unit) %>:</strong></dt>
  <dd><%= @workletter.drywall_unit %></dd>
  <dt><strong><%= model_class.human_attribute_name(:insulation_sqft) %>:</strong></dt>
  <dd><%= @workletter.insulation_sqft %></dd>
  <dt><strong><%= model_class.human_attribute_name(:insulation_unit) %>:</strong></dt>
  <dd><%= @workletter.insulation_unit %></dd>
  <dt><strong><%= model_class.human_attribute_name(:service_door_sqft) %>:</strong></dt>
  <dd><%= @workletter.service_door_sqft %></dd>
  <dt><strong><%= model_class.human_attribute_name(:service_door_unit) %>:</strong></dt>
  <dd><%= @workletter.service_door_unit %></dd>
  <dt><strong><%= model_class.human_attribute_name(:storefront_sqft) %>:</strong></dt>
  <dd><%= @workletter.storefront_sqft %></dd>
  <dt><strong><%= model_class.human_attribute_name(:storefront_unit) %>:</strong></dt>
  <dd><%= @workletter.storefront_unit %></dd>
  <dt><strong><%= model_class.human_attribute_name(:hvac_unit_sqft) %>:</strong></dt>
  <dd><%= @workletter.hvac_unit_sqft %></dd>
  <dt><strong><%= model_class.human_attribute_name(:hvac_unit_unit) %>:</strong></dt>
  <dd><%= @workletter.hvac_unit_unit %></dd>
  <dt><strong><%= model_class.human_attribute_name(:supply_duct_sqft) %>:</strong></dt>
  <dd><%= @workletter.supply_duct_sqft %></dd>
  <dt><strong><%= model_class.human_attribute_name(:supply_duct_unit) %>:</strong></dt>
  <dd><%= @workletter.supply_duct_unit %></dd>
  <dt><strong><%= model_class.human_attribute_name(:exhaust_sqft) %>:</strong></dt>
  <dd><%= @workletter.exhaust_sqft %></dd>
  <dt><strong><%= model_class.human_attribute_name(:exhaust_unit) %>:</strong></dt>
  <dd><%= @workletter.exhaust_unit %></dd>
  <dt><strong><%= model_class.human_attribute_name(:line_set_pathways_sqft) %>:</strong></dt>
  <dd><%= @workletter.line_set_pathways_sqft %></dd>
  <dt><strong><%= model_class.human_attribute_name(:line_set_pathways_unit) %>:</strong></dt>
  <dd><%= @workletter.line_set_pathways_unit %></dd>
  <dt><strong><%= model_class.human_attribute_name(:ems_sqft) %>:</strong></dt>
  <dd><%= @workletter.ems_sqft %></dd>
  <dt><strong><%= model_class.human_attribute_name(:ems_unit) %>:</strong></dt>
  <dd><%= @workletter.ems_unit %></dd>
  <dt><strong><%= model_class.human_attribute_name(:electrical_sqft) %>:</strong></dt>
  <dd><%= @workletter.electrical_sqft %></dd>
  <dt><strong><%= model_class.human_attribute_name(:electrical_unit) %>:</strong></dt>
  <dd><%= @workletter.electrical_unit %></dd>
  <dt><strong><%= model_class.human_attribute_name(:voltage_sqft) %>:</strong></dt>
  <dd><%= @workletter.voltage_sqft %></dd>
  <dt><strong><%= model_class.human_attribute_name(:voltage_unit) %>:</strong></dt>
  <dd><%= @workletter.voltage_unit %></dd>
  <dt><strong><%= model_class.human_attribute_name(:amperage_sqft) %>:</strong></dt>
  <dd><%= @workletter.amperage_sqft %></dd>
  <dt><strong><%= model_class.human_attribute_name(:amperage_unit) %>:</strong></dt>
  <dd><%= @workletter.amperage_unit %></dd>
  <dt><strong><%= model_class.human_attribute_name(:conduit_size_sqft) %>:</strong></dt>
  <dd><%= @workletter.conduit_size_sqft %></dd>
  <dt><strong><%= model_class.human_attribute_name(:conduit_size_unit) %>:</strong></dt>
  <dd><%= @workletter.conduit_size_unit %></dd>
  <dt><strong><%= model_class.human_attribute_name(:electrical_meter_sqft) %>:</strong></dt>
  <dd><%= @workletter.electrical_meter_sqft %></dd>
  <dt><strong><%= model_class.human_attribute_name(:electrical_meter_unit) %>:</strong></dt>
  <dd><%= @workletter.electrical_meter_unit %></dd>
  <dt><strong><%= model_class.human_attribute_name(:telephone_sqft) %>:</strong></dt>
  <dd><%= @workletter.telephone_sqft %></dd>
  <dt><strong><%= model_class.human_attribute_name(:telephone_unit) %>:</strong></dt>
  <dd><%= @workletter.telephone_unit %></dd>
  <dt><strong><%= model_class.human_attribute_name(:sanitary_sqft) %>:</strong></dt>
  <dd><%= @workletter.sanitary_sqft %></dd>
  <dt><strong><%= model_class.human_attribute_name(:sanitary_unit) %>:</strong></dt>
  <dd><%= @workletter.sanitary_unit %></dd>
  <dt><strong><%= model_class.human_attribute_name(:sanitary_vent_sqft) %>:</strong></dt>
  <dd><%= @workletter.sanitary_vent_sqft %></dd>
  <dt><strong><%= model_class.human_attribute_name(:sanitary_vent_unit) %>:</strong></dt>
  <dd><%= @workletter.sanitary_vent_unit %></dd>
  <dt><strong><%= model_class.human_attribute_name(:grease_sqft) %>:</strong></dt>
  <dd><%= @workletter.grease_sqft %></dd>
  <dt><strong><%= model_class.human_attribute_name(:grease_unit) %>:</strong></dt>
  <dd><%= @workletter.grease_unit %></dd>
  <dt><strong><%= model_class.human_attribute_name(:water_sqft) %>:</strong></dt>
  <dd><%= @workletter.water_sqft %></dd>
  <dt><strong><%= model_class.human_attribute_name(:water_unit) %>:</strong></dt>
  <dd><%= @workletter.water_unit %></dd>
  <dt><strong><%= model_class.human_attribute_name(:gas_sqft) %>:</strong></dt>
  <dd><%= @workletter.gas_sqft %></dd>
  <dt><strong><%= model_class.human_attribute_name(:gas_unit) %>:</strong></dt>
  <dd><%= @workletter.gas_unit %></dd>
  <dt><strong><%= model_class.human_attribute_name(:sprinkler_stub_sqft) %>:</strong></dt>
  <dd><%= @workletter.sprinkler_stub_sqft %></dd>
  <dt><strong><%= model_class.human_attribute_name(:sprinkler_stub_unit) %>:</strong></dt>
  <dd><%= @workletter.sprinkler_stub_unit %></dd>
  <dt><strong><%= model_class.human_attribute_name(:sprinkler_grid_sqft) %>:</strong></dt>
  <dd><%= @workletter.sprinkler_grid_sqft %></dd>
  <dt><strong><%= model_class.human_attribute_name(:sprinkler_grid_unit) %>:</strong></dt>
  <dd><%= @workletter.sprinkler_grid_unit %></dd>
  <dt><strong><%= model_class.human_attribute_name(:fire_alarm_sqft) %>:</strong></dt>
  <dd><%= @workletter.fire_alarm_sqft %></dd>
  <dt><strong><%= model_class.human_attribute_name(:fire_alarm_unit) %>:</strong></dt>
  <dd><%= @workletter.fire_alarm_unit %></dd>
  <dt><strong><%= model_class.human_attribute_name(:demolition_sqft) %>:</strong></dt>
  <dd><%= @workletter.demolition_sqft %></dd>
  <dt><strong><%= model_class.human_attribute_name(:demolition_unit) %>:</strong></dt>
  <dd><%= @workletter.demolition_unit %></dd>
  <dt><strong><%= model_class.human_attribute_name(:other_sqft) %>:</strong></dt>
  <dd><%= @workletter.other_sqft %></dd>
  <dt><strong><%= model_class.human_attribute_name(:other_unit) %>:</strong></dt>
  <dd><%= @workletter.other_unit %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              workletters_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_workletter_path(@workletter), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              workletter_path(@workletter),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
