<div class="row">
  <div class="col-xs-10 col-xs-offset-1">
<br><br>

  <div class="row">
    <div class="col-xs-12" style="text-align:left">
      <h1><strong>Workletter Name:</strong> <%= @workletter.name %></h1>
      <hr>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-4" style="text-align:center">
      <strong>LL Work (per SqFt):</strong> $<%= number_with_delimiter(@workletter.ll_work, :delimiter => ',') %>
    </div>
    <div class="col-xs-4" style="text-align:center">
     <strong>LL Work Cost:</strong> $<%= number_with_delimiter(@workletter.ll_work_cost, :delimiter => ',') %>
    </div>
    <div class="col-xs-4" style="text-align:center">
      <strong>LL Count Total:</strong> <%= number_with_delimiter(@workletter.ll_count_total, :delimiter => ',') %>
    </div>
  </div>
  
  <hr>
  
  <style>
  .affix {
      top: 0;
      /*width: 83.3333333%;*/
      /*width: 975px;*/
      background-color:#fff !important;
      z-index: 999999;
  }

  .affix + .container {
      padding-top: 70px;
  }
  
  </style>
  
  <div class="row">
    <div style="background-color:#fff;">
      <div data-spy="affix" data-offset-top="800" class="responsive-none">
        <div class="col-xs-1"><strong class="affix-smaller">Scope:</strong></div>
        <div class="col-xs-4"><strong class="affix-smaller">Description:</strong></div>
        <div class="col-xs-1" style="text-align:center"><strong class="affix-smaller">Typical:</strong></div>
        <div class="col-xs-3" style="text-align:center"><strong class="affix-smaller">Responsibility:</strong><!--<br>LL | Tenant | N/A--></div>
        <div class="col-xs-1" style="text-align:center"><strong class="affix-smaller">Complete:</strong></div>
        <div class="col-xs-2" style="text-align:center"><strong class="affix-smaller">Date:</strong></div>
      </div>
    </div>
  </div>

  <hr>
  
  
  <div class="row">
    <div class="col-xs-1 responsive-center responsive100">
      <strong>Structure:</strong>
    </div>
    <div class="col-xs-4 responsive-left">
      <span class="responsive-only">Description:<br></span>
      <%= simple_format(@workletter.structure_description) %>
      <br>Cost: <%= number_to_currency(@workletter.structure_cost, :unit => "$") %>
    </div>
    <div class="col-xs-1 responsive100" style="text-align:center">
      <span class="responsive-only">Typical:</span>
      <% if @workletter.structure_typical == true %>
        <span class="fa fa-check-square ws-checked-typical"></span>
      <% else %>
        <span class="fa fa-square-o ws-unchecked-typical"></span>
      <% end %>
    </div>
    <div class="col-xs-3" style="text-align:center">
      <span class="responsive-only">Responsibility:</span>
      <%= @workletter.structure %>
    </div>
    <div class="col-xs-1 responsive100" style="text-align:center">
      <span class="responsive-only">Complete:</span>
      <% if @workletter.structure_complete == true %>
        <span class="fa fa-check-square ws-check-complete"></span>
      <% else %>
        <span class="fa fa-square-o ws-unchecked-complete"></span>
      <% end %>
    </div>
    <div class="col-xs-2" style="text-align:center">
      <span class="responsive-only">Completion:</span>
      <%= @workletter.structure_date %>
    </div>
  </div>
  
  <hr>
  
  
  
  <div class="row">
    <div class="col-xs-1 responsive-center responsive100">
      <strong>Slab:</strong>
    </div>
    <div class="col-xs-4 responsive-left">
      <span class="responsive-only">Description:<br></span>
      <%= simple_format(@workletter.slab_description) %>
      <br>Cost: <%= number_to_currency(@workletter.slab_cost, :unit => "$") %>
    </div>
    <div class="col-xs-1 responsive100" style="text-align:center">
      <span class="responsive-only">Typical:</span>
      <% if @workletter.slab_typical == true %>
        <span class="fa fa-check-square ws-checked-typical"></span>
      <% else %>
        <span class="fa fa-square-o ws-unchecked-typical"></span>
      <% end %>
    </div>
    <div class="col-xs-3" style="text-align:center">
      <span class="responsive-only">Responsibility:</span>
      <%= @workletter.slab %>
    </div>
    <div class="col-xs-1 responsive100" style="text-align:center">
      <span class="responsive-only">Complete:</span>
      <% if @workletter.slab_complete == true %>
        <span class="fa fa-check-square ws-check-complete"></span>
      <% else %>
        <span class="fa fa-square-o ws-unchecked-complete"></span>
      <% end %>
    </div>
    <div class="col-xs-2" style="text-align:center">
      <span class="responsive-only">Completion:</span>
      <%= @workletter.slab_date %>
    </div>
  </div>
  
  <hr>
  
  
  
  
  
  
  
  
  
  
  <div class="row">
    <div class="col-xs-1 responsive-center responsive100">
      <strong>Studs:</strong>
    </div>
    <div class="col-xs-4 responsive-left">
      <span class="responsive-only">Description:<br></span>
      <%= simple_format(@workletter.studs_description) %>
      <br>Cost: <%= number_to_currency(@workletter.studs_cost, :unit => "$") %>
    </div>
    <div class="col-xs-1 responsive100" style="text-align:center">
      <span class="responsive-only">Typical:</span>
      <% if @workletter.studs_typical == true %>
        <span class="fa fa-check-square ws-checked-complete"></span>
      <% else %>
        <span class="fa fa-square-o ws-unchecked-typical"></span>
      <% end %>
    </div>
    <div class="col-xs-3" style="text-align:center">
      <span class="responsive-only">Responsibility:</span>
      <%= @workletter.studs %>
    </div>
    <div class="col-xs-1 responsive100" style="text-align:center">
      <span class="responsive-only">Complete:</span>
      <% if @workletter.studs_complete == true %>
        <span class="fa fa-check-square ws-check-complete"></span>
      <% else %>
        <span class="fa fa-square-o ws-unchecked-complete"></span>
      <% end %>
    </div>
    <div class="col-xs-2" style="text-align:center">
      <span class="responsive-only">Completion:</span>
      <%= @workletter.studs_date %>
    </div>
  </div>
  
  <hr>

  <div class="row">
    <div class="col-xs-1 responsive-center responsive100">
      <strong>Drywall:</strong>
    </div>
    <div class="col-xs-4 responsive-left">
      <span class="responsive-only">Description:<br></span>
      <%= simple_format(@workletter.drywall_description) %>
      <br>Cost: <%= number_to_currency(@workletter.drywall_cost, :unit => "$") %>
    </div>
    <div class="col-xs-1 responsive100" style="text-align:center">
      <span class="responsive-only">Typical:</span>
      <% if @workletter.drywall_typical == true %>
        <span class="fa fa-check-square ws-checked-complete"></span>
      <% else %>
        <span class="fa fa-square-o ws-unchecked-typical"></span>
      <% end %>
    </div>
    <div class="col-xs-3" style="text-align:center">
      <span class="responsive-only">Responsibility:</span>
      <%= @workletter.drywall %>
    </div>
    <div class="col-xs-1 responsive100" style="text-align:center">
      <span class="responsive-only">Complete:</span>
      <% if @workletter.drywall_complete == true %>
        <span class="fa fa-check-square ws-check-complete"></span>
      <% else %>
        <span class="fa fa-square-o ws-unchecked-complete"></span>
      <% end %>
    </div>
    <div class="col-xs-2" style="text-align:center">
      <span class="responsive-only">Completion:</span>
      <%= @workletter.drywall_date %>
    </div>
  </div>
  
  <hr>
  
  <div class="row">
    <div class="col-xs-1 responsive-center responsive100">
      <strong>Insulation:</strong>
    </div>
    <div class="col-xs-4 responsive-left">
      <span class="responsive-only">Description:<br></span>
      <%= simple_format(@workletter.insulation_description) %>
      <br>Cost: <%= number_to_currency(@workletter.insulation_cost, :unit => "$") %>
    </div>
    <div class="col-xs-1 responsive100" style="text-align:center">
      <span class="responsive-only">Typical:</span>
      <% if @workletter.insulation_typical == true %>
        <span class="fa fa-check-square ws-checked-complete"></span>
      <% else %>
        <span class="fa fa-square-o ws-unchecked-typical"></span>
      <% end %>
    </div>
    <div class="col-xs-3" style="text-align:center">
      <span class="responsive-only">Responsibility:</span>
      <%= @workletter.insulation %>
    </div>
    <div class="col-xs-1 responsive100" style="text-align:center">
      <span class="responsive-only">Complete:</span>
      <% if @workletter.insulation_complete == true %>
        <span class="fa fa-check-square ws-check-complete"></span>
      <% else %>
        <span class="fa fa-square-o ws-unchecked-complete"></span>
      <% end %>
    </div>
    <div class="col-xs-2" style="text-align:center">
      <span class="responsive-only">Completion:</span>
      <%= @workletter.insulation_date %>
    </div>
  </div>
  
  <hr>
  
  <div class="row">
    <div class="col-xs-1 responsive-center responsive100">
      <strong>Service Door:</strong>
    </div>
    <div class="col-xs-4 responsive-left">
      <span class="responsive-only">Description:<br></span>
      <%= simple_format(@workletter.servicedoor_description) %>
      <br>Cost: <%= number_to_currency(@workletter.service_door_cost, :unit => "$") %>
    </div>
    <div class="col-xs-1 responsive100" style="text-align:center">
      <span class="responsive-only">Typical:</span>
      <% if @workletter.service_door_typical == true %>
        <span class="fa fa-check-square ws-checked-complete"></span>
      <% else %>
        <span class="fa fa-square-o ws-unchecked-typical"></span>
      <% end %>
    </div>
    <div class="col-xs-3" style="text-align:center">
      <span class="responsive-only">Responsibility:</span>
      <%= @workletter.service_door %>
    </div>
    <div class="col-xs-1 responsive100" style="text-align:center">
      <span class="responsive-only">Complete:</span>
      <% if @workletter.service_door_complete == true %>
        <span class="fa fa-check-square ws-check-complete"></span>
      <% else %>
        <span class="fa fa-square-o ws-unchecked-complete"></span>
      <% end %>
    </div>
    <div class="col-xs-2" style="text-align:center">
      <span class="responsive-only">Completion:</span>
      <%= @workletter.service_door_date %>
    </div>
  </div>
  
  <hr>
  
  <div class="row">
    <div class="col-xs-1 responsive-center responsive100">
      <strong>Storefront:</strong>
    </div>
    <div class="col-xs-4 responsive-left">
      <span class="responsive-only">Description:<br></span>
      <%= simple_format(@workletter.storefront_description) %>
      <br>Cost: <%= number_to_currency(@workletter.storefront_cost, :unit => "$") %>
    </div>
    <div class="col-xs-1 responsive100" style="text-align:center">
      <span class="responsive-only">Typical:</span>
      <% if @workletter.storefront_typical == true %>
        <span class="fa fa-check-square ws-checked-complete"></span>
      <% else %>
        <span class="fa fa-square-o ws-unchecked-typical"></span>
      <% end %>
    </div>
    <div class="col-xs-3" style="text-align:center">
      <span class="responsive-only">Responsibility:</span>
      <%= @workletter.storefront %>
    </div>
    <div class="col-xs-1 responsive100" style="text-align:center">
      <span class="responsive-only">Complete:</span>
      <% if @workletter.storefront_complete == true %>
        <span class="fa fa-check-square ws-check-complete"></span>
      <% else %>
        <span class="fa fa-square-o ws-unchecked-complete"></span>
      <% end %>
    </div>
    <div class="col-xs-2" style="text-align:center">
      <span class="responsive-only">Completion:</span>
      <%= @workletter.storefront_date %>
    </div>
  </div>
  
  <hr>


  <div class="row">
    <div class="col-xs-1 responsive-center responsive100">
      <strong>HVAC Unit(s):</strong>
    </div>
    <div class="col-xs-4 responsive-left">
      <span class="responsive-only">Description:<br></span>
      <%= simple_format(@workletter.untis_description) %>
      <br>Cost: <%= number_to_currency(@workletter.unit_cost, :unit => "$") %>
    </div>
    <div class="col-xs-1 responsive100" style="text-align:center">
      <span class="responsive-only">Typical:</span>
      <% if @workletter.unit_typical == true %>
        <span class="fa fa-check-square ws-checked-complete"></span>
      <% else %>
        <span class="fa fa-square-o ws-unchecked-typical"></span>
      <% end %>
    </div>
    <div class="col-xs-3" style="text-align:center">
      <span class="responsive-only">Responsibility:</span>
      <%= @workletter.unit %>
    </div>
    <div class="col-xs-1 responsive100" style="text-align:center">
      <span class="responsive-only">Complete:</span>
      <% if @workletter.unit_complete == true %>
        <span class="fa fa-check-square ws-check-complete"></span>
      <% else %>
        <span class="fa fa-square-o ws-unchecked-complete"></span>
      <% end %>
    </div>
    <div class="col-xs-2" style="text-align:center">
      <span class="responsive-only">Completion:</span>
      <%= @workletter.unit_date %>
    </div>
  </div>
  
  <hr>


  
  <div class="row">
    <div class="col-xs-1 responsive-center responsive100">
      <strong>Supply Duct:</strong>
    </div>
    <div class="col-xs-4 responsive-left">
      <span class="responsive-only">Description:<br></span>
      <%= simple_format(@workletter.supplyduct_description) %>
      <br>Cost: <%= number_to_currency(@workletter.supply_cost, :unit => "$") %>
    </div>
    <div class="col-xs-1 responsive100" style="text-align:center">
      <span class="responsive-only">Typical:</span>
      <% if @workletter.supply_duct_typical == true %>
        <span class="fa fa-check-square ws-checked-complete"></span>
      <% else %>
        <span class="fa fa-square-o ws-unchecked-typical"></span>
      <% end %>
    </div>
    <div class="col-xs-3" style="text-align:center">
      <span class="responsive-only">Responsibility:</span>
      <%= @workletter.supply %>
    </div>
    <div class="col-xs-1 responsive100" style="text-align:center">
      <span class="responsive-only">Complete:</span>
      <% if @workletter.supply_duct_complete == true %>
        <span class="fa fa-check-square ws-check-complete"></span>
      <% else %>
        <span class="fa fa-square-o ws-unchecked-complete"></span>
      <% end %>
    </div>
    <div class="col-xs-2" style="text-align:center">
      <span class="responsive-only">Completion:</span>
      <%= @workletter.supply_date %>
    </div>
  </div>
  
  <hr>
  
  <div class="row">
    <div class="col-xs-1 responsive-center responsive100">
      <strong>Exhaust:</strong>
    </div>
    <div class="col-xs-4 responsive-left">
      <span class="responsive-only">Description:<br></span>
      <%= simple_format(@workletter.exhaustduct_description) %>
      <br>Cost: <%= number_to_currency(@workletter.exhaust_cost, :unit => "$") %>
    </div>
    <div class="col-xs-1 responsive100" style="text-align:center">
      <span class="responsive-only">Typical:</span>
      <% if @workletter.exhaust_duct_typical == true %>
        <span class="fa fa-check-square ws-checked-complete"></span>
      <% else %>
        <span class="fa fa-square-o ws-unchecked-typical"></span>
      <% end %>
    </div>
    <div class="col-xs-3" style="text-align:center">
      <span class="responsive-only">Responsibility:</span>
      <%= @workletter.exhaust %>
    </div>
    <div class="col-xs-1 responsive100" style="text-align:center">
      <span class="responsive-only">Complete:</span>
      <% if @workletter.exhaust_duct_complete == true %>
        <span class="fa fa-check-square ws-check-complete"></span>
      <% else %>
        <span class="fa fa-square-o ws-unchecked-complete"></span>
      <% end %>
    </div>
    <div class="col-xs-2" style="text-align:center">
      <span class="responsive-only">Completion:</span>
      <%= @workletter.exhaust_date %>
    </div>
  </div>
  
  <hr>
  

  
  <div class="row">
    <div class="col-xs-1 responsive-center responsive100">
      <strong>Line Set Pathways:</strong>
    </div>
    <div class="col-xs-4 responsive-left">
      <span class="responsive-only">Description:<br></span>
      <%= simple_format(@workletter.linesetpathway_description) %>
      <br>Cost: <%= number_to_currency(@workletter.line_set_pathways_cost, :unit => "$") %>
    </div>
    <div class="col-xs-1 responsive100" style="text-align:center">
      <span class="responsive-only">Typical:</span>
      <% if @workletter.line_set_pathways_typical == true %>
        <span class="fa fa-check-square ws-checked-complete"></span>
      <% else %>
        <span class="fa fa-square-o ws-unchecked-typical"></span>
      <% end %>
    </div>
    <div class="col-xs-3" style="text-align:center">
      <span class="responsive-only">Responsibility:</span>
      <%= @workletter.line_set_pathways %>
    </div>
    <div class="col-xs-1 responsive100" style="text-align:center">
      <span class="responsive-only">Complete:</span>
      <% if @workletter.line_set_pathways_complete == true %>
        <span class="fa fa-check-square ws-check-complete"></span>
      <% else %>
        <span class="fa fa-square-o ws-unchecked-complete"></span>
      <% end %>
    </div>
    <div class="col-xs-2" style="text-align:center">
      <span class="responsive-only">Completion:</span>
      <%= @workletter.line_set_pathways_date %>
    </div>
  </div>
  
  <hr>
  
  <div class="row">
    <div class="col-xs-1 responsive-center responsive100">
      <strong>EMS:</strong>
    </div>
    <div class="col-xs-4 responsive-left">
      <span class="responsive-only">Description:<br></span>
      <%= simple_format(@workletter.emergency_description) %>
      <br>Cost: <%= number_to_currency(@workletter.ems_cost, :unit => "$") %>
    </div>
    <div class="col-xs-1 responsive100" style="text-align:center">
      <span class="responsive-only">Typical:</span>
      <% if @workletter.ems_typical == true %>
        <span class="fa fa-check-square ws-checked-complete"></span>
      <% else %>
        <span class="fa fa-square-o ws-unchecked-typical"></span>
      <% end %>
    </div>
    <div class="col-xs-3" style="text-align:center">
      <span class="responsive-only">Responsibility:</span>
      <%= @workletter.ems %>
    </div>
    <div class="col-xs-1 responsive100" style="text-align:center">
      <span class="responsive-only">Complete:</span>
      <% if @workletter.ems_complete == true %>
        <span class="fa fa-check-square ws-check-complete"></span>
      <% else %>
        <span class="fa fa-square-o ws-unchecked-complete"></span>
      <% end %>
    </div>
    <div class="col-xs-2" style="text-align:center">
      <span class="responsive-only">Completion:</span>
      <%= @workletter.ems_date %>
    </div>
  </div>
  
  <hr>
  
  
  <div class="row">
    <div class="col-xs-1 responsive-center responsive100">
      <strong>Electrical:</strong>
    </div>
    <div class="col-xs-4 responsive-left">
      <span class="responsive-only">Description:<br></span>
      <%= simple_format(@workletter.electrical_description) %>
      <br>Cost: <%= number_to_currency(@workletter.electrical_cost, :unit => "$") %>
    </div>
    <div class="col-xs-1 responsive100" style="text-align:center">
      <span class="responsive-only">Typical:</span>
      <% if @workletter.electrical_typical == true %>
        <span class="fa fa-check-square ws-checked-complete"></span>
      <% else %>
        <span class="fa fa-square-o ws-unchecked-typical"></span>
      <% end %>
    </div>
    <div class="col-xs-3" style="text-align:center">
      <span class="responsive-only">Responsibility:</span>
      <%= @workletter.electrical %>
    </div>
    <div class="col-xs-1 responsive100" style="text-align:center">
      <span class="responsive-only">Complete:</span>
      <% if @workletter.electrical_complete == true %>
        <span class="fa fa-check-square ws-check-complete"></span>
      <% else %>
        <span class="fa fa-square-o ws-unchecked-complete"></span>
      <% end %>
    </div>
    <div class="col-xs-2" style="text-align:center">
      <span class="responsive-only">Completion:</span>
      <%= @workletter.electrical_date %>
    </div>
  </div>
  
  <hr>
  
  
  
  
  
    <div class="row">
    <div class="col-xs-1 responsive-center responsive100">
      <strong>Voltage:</strong>
    </div>
    <div class="col-xs-4 responsive-left">
      <span class="responsive-only">Description:<br></span>
      <%= simple_format(@workletter.voltage_description) %>
      <br>Cost: <%= number_to_currency(@workletter.voltage_cost, :unit => "$") %>
    </div>
    <div class="col-xs-1 responsive100" style="text-align:center">
      <span class="responsive-only">Typical:</span>
      <% if @workletter.voltage_typical == true %>
        <span class="fa fa-check-square ws-checked-complete"></span>
      <% else %>
        <span class="fa fa-square-o ws-unchecked-typical"></span>
      <% end %>
    </div>
    <div class="col-xs-3" style="text-align:center">
      <span class="responsive-only">Responsibility:</span>
      <%= @workletter.voltage %>
    </div>
    <div class="col-xs-1 responsive100" style="text-align:center">
      <span class="responsive-only">Complete:</span>
      <% if @workletter.voltage_complete == true %>
        <span class="fa fa-check-square ws-check-complete"></span>
      <% else %>
        <span class="fa fa-square-o ws-unchecked-complete"></span>
      <% end %>
    </div>
    <div class="col-xs-2" style="text-align:center">
      <span class="responsive-only">Completion:</span>
      <%= @workletter.voltage_date %>
    </div>
  </div>
  
  <hr>
  
  <div class="row">
    <div class="col-xs-1 responsive-center responsive100">
      <strong>Amperage:</strong>
    </div>
    <div class="col-xs-4 responsive-left">
      <span class="responsive-only">Description:<br></span>
      <%= simple_format(@workletter.amperage_description) %>
      <br>Cost: <%= number_to_currency(@workletter.amperage_cost, :unit => "$") %>
    </div>
    <div class="col-xs-1 responsive100" style="text-align:center">
      <span class="responsive-only">Typical:</span>
      <% if @workletter.amperage_typical == true %>
        <span class="fa fa-check-square ws-checked-complete"></span>
      <% else %>
        <span class="fa fa-square-o ws-unchecked-typical"></span>
      <% end %>
    </div>
    <div class="col-xs-3" style="text-align:center">
      <span class="responsive-only">Responsibility:</span>
      <%= @workletter.amperage %>
    </div>
    <div class="col-xs-1 responsive100" style="text-align:center">
      <span class="responsive-only">Complete:</span>
      <% if @workletter.amperage_complete == true %>
        <span class="fa fa-check-square ws-check-complete"></span>
      <% else %>
        <span class="fa fa-square-o ws-unchecked-complete"></span>
      <% end %>
    </div>
    <div class="col-xs-2" style="text-align:center">
      <span class="responsive-only">Completion:</span>
      <%= @workletter.amperage_date %>
    </div>
  </div>
  
  <hr>
  
  <div class="row">
    <div class="col-xs-1 responsive-center responsive100">
      <strong>Conduit Size:</strong>
    </div>
    <div class="col-xs-4 responsive-left">
      <span class="responsive-only">Description:<br></span>
      <%= simple_format(@workletter.conduitsize_description) %>
      <br>Cost: <%= number_to_currency(@workletter.conduit_size_cost, :unit => "$") %>
    </div>
    <div class="col-xs-1 responsive100" style="text-align:center">
      <span class="responsive-only">Typical:</span>
      <% if @workletter.conduit_size_typical == true %>
        <span class="fa fa-check-square ws-checked-complete"></span>
      <% else %>
        <span class="fa fa-square-o ws-unchecked-typical"></span>
      <% end %>
    </div>
    <div class="col-xs-3" style="text-align:center">
      <span class="responsive-only">Responsibility:</span>
      <%= @workletter.conduit_size %>
    </div>
    <div class="col-xs-1 responsive100" style="text-align:center">
      <span class="responsive-only">Complete:</span>
      <% if @workletter.conduit_size_complete == true %>
        <span class="fa fa-check-square ws-check-complete"></span>
      <% else %>
        <span class="fa fa-square-o ws-unchecked-complete"></span>
      <% end %>
    </div>
    <div class="col-xs-2" style="text-align:center">
      <span class="responsive-only">Completion:</span>
      <%= @workletter.conduit_size_date %>
    </div>
  </div>
  
  <hr>
  
  
  
  <div class="row">
    <div class="col-xs-1 responsive-center responsive100">
      <strong>Electrical Meter:</strong>
    </div>
    <div class="col-xs-4 responsive-left">
      <span class="responsive-only">Description:<br></span>
      <%= simple_format(@workletter.meter_description) %>
      <br>Cost: <%= number_to_currency(@workletter.electrical_meter_cost, :unit => "$") %>
    </div>
    <div class="col-xs-1 responsive100" style="text-align:center">
      <span class="responsive-only">Typical:</span>
      <% if @workletter.electrical_meter_typical == true %>
        <span class="fa fa-check-square ws-checked-complete"></span>
      <% else %>
        <span class="fa fa-square-o ws-unchecked-typical"></span>
      <% end %>
    </div>
    <div class="col-xs-3" style="text-align:center">
      <span class="responsive-only">Responsibility:</span>
      <%= @workletter.electrical_meter %>
    </div>
    <div class="col-xs-1 responsive100" style="text-align:center">
      <span class="responsive-only">Complete:</span>
      <% if @workletter.electrical_meter_complete == true %>
        <span class="fa fa-check-square ws-check-complete"></span>
      <% else %>
        <span class="fa fa-square-o ws-unchecked-complete"></span>
      <% end %>
    </div>
    <div class="col-xs-2" style="text-align:center">
      <span class="responsive-only">Completion:</span>
      <%= @workletter.electrical_meter_date %>
    </div>
  </div>
  
  <hr>
  
  <div class="row">
    <div class="col-xs-1 responsive-center responsive100">
      <strong>Telephone:</strong>
    </div>
    <div class="col-xs-4 responsive-left">
      <span class="responsive-only">Description:<br></span>
      <%= simple_format(@workletter.telephone_description) %>
      <br>Cost: <%= number_to_currency(@workletter.telephone_cost, :unit => "$") %>
    </div>
    <div class="col-xs-1 responsive100" style="text-align:center">
      <span class="responsive-only">Typical:</span>
      <% if @workletter.telephone_typical == true %>
        <span class="fa fa-check-square ws-checked-complete"></span>
      <% else %>
        <span class="fa fa-square-o ws-unchecked-typical"></span>
      <% end %>
    </div>
    <div class="col-xs-3" style="text-align:center">
      <span class="responsive-only">Responsibility:</span>
      <%= @workletter.tele_conduit_size %>
    </div>
    <div class="col-xs-1 responsive100" style="text-align:center">
      <span class="responsive-only">Complete:</span>
      <% if @workletter.telephone_complete == true %>
        <span class="fa fa-check-square ws-check-complete"></span>
      <% else %>
        <span class="fa fa-square-o ws-unchecked-complete"></span>
      <% end %>
    </div>
    <div class="col-xs-2" style="text-align:center">
      <span class="responsive-only">Completion:</span>
      <%= @workletter.tele_conduit_size_date %>
    </div>
  </div>
  
  <hr>
  
  <div class="row">
    <div class="col-xs-1 responsive-center responsive100">
      <strong>Sanitary:</strong>
    </div>
    <div class="col-xs-4 responsive-left">
      <span class="responsive-only">Description:<br></span>
      <%= simple_format(@workletter.sanitary_description) %>
      <br>Cost: <%= number_to_currency(@workletter.sanitary_cost, :unit => "$") %>
    </div>
    <div class="col-xs-1 responsive100" style="text-align:center">
      <span class="responsive-only">Typical:</span>
      <% if @workletter.sanitary_typical == true %>
        <span class="fa fa-check-square ws-checked-complete"></span>
      <% else %>
        <span class="fa fa-square-o ws-unchecked-typical"></span>
      <% end %>
    </div>
    <div class="col-xs-3" style="text-align:center">
      <span class="responsive-only">Responsibility:</span>
      <%= @workletter.sanitary %>
    </div>
    <div class="col-xs-1 responsive100" style="text-align:center">
      <span class="responsive-only">Complete:</span>
      <% if @workletter.sanitary_complete == true %>
        <span class="fa fa-check-square ws-check-complete"></span>
      <% else %>
        <span class="fa fa-square-o ws-unchecked-complete"></span>
      <% end %>
    </div>
    <div class="col-xs-2" style="text-align:center">
      <span class="responsive-only">Completion:</span>
      <%= @workletter.sanitary_date %>
    </div>
  </div>
  
  <hr>
  
  <div class="row">
    <div class="col-xs-1 responsive-center responsive100">
      <strong>Sanitary Vent:</strong>
    </div>
    <div class="col-xs-4 responsive-left">
      <span class="responsive-only">Description:<br></span>
      <%= simple_format(@workletter.sanitaryvent_description) %>
      <br>Cost: <%= number_to_currency(@workletter.sanitary_vent_cost, :unit => "$") %>
    </div>
    <div class="col-xs-1 responsive100" style="text-align:center">
      <span class="responsive-only">Typical:</span>
      <% if @workletter.sanitary_vent_typical == true %>
        <span class="fa fa-check-square ws-checked-complete"></span>
      <% else %>
        <span class="fa fa-square-o ws-unchecked-typical"></span>
      <% end %>
    </div>
    <div class="col-xs-3" style="text-align:center">
      <span class="responsive-only">Responsibility:</span>
      <%= @workletter.sanitary_vent %>
    </div>
    <div class="col-xs-1 responsive100" style="text-align:center">
      <span class="responsive-only">Complete:</span>
      <% if @workletter.sanitary_vent_complete == true %>
        <span class="fa fa-check-square ws-check-complete"></span>
      <% else %>
        <span class="fa fa-square-o ws-unchecked-complete"></span>
      <% end %>
    </div>
    <div class="col-xs-2" style="text-align:center">
      <span class="responsive-only">Completion:</span>
      <%= @workletter.sanitary_vent_date %>
    </div>
  </div>
  
  <hr>
  
  <div class="row">
    <div class="col-xs-1 responsive-center responsive100">
      <strong>Grease:</strong>
    </div>
    <div class="col-xs-4 responsive-left">
      <span class="responsive-only">Description:<br></span>
      <%= simple_format(@workletter.grease_description) %>
      <br>Cost: <%= number_to_currency(@workletter.grease_cost, :unit => "$") %>
    </div>
    <div class="col-xs-1 responsive100" style="text-align:center">
      <span class="responsive-only">Typical:</span>
      <% if @workletter.grease_typical == true %>
        <span class="fa fa-check-square ws-checked-complete"></span>
      <% else %>
        <span class="fa fa-square-o ws-unchecked-typical"></span>
      <% end %>
    </div>
    <div class="col-xs-3" style="text-align:center">
      <span class="responsive-only">Responsibility:</span>
      <%= @workletter.grease %>
    </div>
    <div class="col-xs-1 responsive100" style="text-align:center">
      <span class="responsive-only">Complete:</span>
      <% if @workletter.grease_complete == true %>
        <span class="fa fa-check-square ws-check-complete"></span>
      <% else %>
        <span class="fa fa-square-o ws-unchecked-complete"></span>
      <% end %>
    </div>
    <div class="col-xs-2" style="text-align:center">
      <span class="responsive-only">Completion:</span>
      <%= @workletter.grease_date %>
    </div>
  </div>
  
  <hr>
  
  <div class="row">
    <div class="col-xs-1 responsive-center responsive100">
      <strong>Water:</strong>
    </div>
    <div class="col-xs-4 responsive-left">
      <span class="responsive-only">Description:<br></span>
      <%= simple_format(@workletter.water_description) %>
      <br>Cost: <%= number_to_currency(@workletter.water_cost, :unit => "$") %>
    </div>
    <div class="col-xs-1 responsive100" style="text-align:center">
      <span class="responsive-only">Typical:</span>
      <% if @workletter.water_typical == true %>
        <span class="fa fa-check-square ws-checked-complete"></span>
      <% else %>
        <span class="fa fa-square-o ws-unchecked-typical"></span>
      <% end %>
    </div>
    <div class="col-xs-3" style="text-align:center">
      <span class="responsive-only">Responsibility:</span>
      <%= @workletter.water %>
    </div>
    <div class="col-xs-1 responsive100" style="text-align:center">
      <span class="responsive-only">Complete:</span>
      <% if @workletter.water_complete == true %>
        <span class="fa fa-check-square ws-check-complete"></span>
      <% else %>
        <span class="fa fa-square-o ws-unchecked-complete"></span>
      <% end %>
    </div>
    <div class="col-xs-2" style="text-align:center">
      <span class="responsive-only">Completion:</span>
      <%= @workletter.water_date %>
    </div>
  </div>
  
  <hr>
  
<div class="row">
    <div class="col-xs-1 responsive-center responsive100">
      <strong>Gas:</strong>
    </div>
    <div class="col-xs-4 responsive-left">
      <span class="responsive-only">Description:<br></span>
      <%= simple_format(@workletter.gas_description) %>
      <br>Cost: <%= number_to_currency(@workletter.gas_cost, :unit => "$") %>
    </div>
    <div class="col-xs-1 responsive100" style="text-align:center">
      <span class="responsive-only">Typical:</span>
      <% if @workletter.gas_typical == true %>
        <span class="fa fa-check-square ws-checked-complete"></span>
      <% else %>
        <span class="fa fa-square-o ws-unchecked-typical"></span>
      <% end %>
    </div>
    <div class="col-xs-3" style="text-align:center">
      <span class="responsive-only">Responsibility:</span>
      <%= @workletter.gas %>
    </div>
    <div class="col-xs-1 responsive100" style="text-align:center">
      <span class="responsive-only">Complete:</span>
      <% if @workletter.gas_complete == true %>
        <span class="fa fa-check-square ws-check-complete"></span>
      <% else %>
        <span class="fa fa-square-o ws-unchecked-complete"></span>
      <% end %>
    </div>
    <div class="col-xs-2" style="text-align:center">
      <span class="responsive-only">Completion:</span>
      <%= @workletter.gas_date %>
    </div>
  </div>
  
  <hr>
  
  <div class="row">
    <div class="col-xs-1 responsive-center responsive100">
      <strong>Sprinkler Stub:</strong>
    </div>
    <div class="col-xs-4 responsive-left">
      <span class="responsive-only">Description:<br></span>
      <%= simple_format(@workletter.sprinklerstub_description) %>
      <br>Cost: <%= number_to_currency(@workletter.sprinkler_stub_cost, :unit => "$") %>
    </div>
    <div class="col-xs-1 responsive100" style="text-align:center">
      <span class="responsive-only">Typical:</span>
      <% if @workletter.sprinkler_stub_typical == true %>
        <span class="fa fa-check-square ws-checked-complete"></span>
      <% else %>
        <span class="fa fa-square-o ws-unchecked-typical"></span>
      <% end %>
    </div>
    <div class="col-xs-3" style="text-align:center">
      <span class="responsive-only">Responsibility:</span>
      <%= @workletter.sprinkler_stub %>
    </div>
    <div class="col-xs-1 responsive100" style="text-align:center">
      <span class="responsive-only">Complete:</span>
      <% if @workletter.sprinkler_stub_complete == true %>
        <span class="fa fa-check-square ws-check-complete"></span>
      <% else %>
        <span class="fa fa-square-o ws-unchecked-complete"></span>
      <% end %>
    </div>
    <div class="col-xs-2" style="text-align:center">
      <span class="responsive-only">Completion:</span>
      <%= @workletter.sprinkler_stub_date %>
    </div>
  </div>
  
  <hr>
  
  <div class="row">
    <div class="col-xs-1 responsive-center responsive100">
      <strong>Sprinkler Grid:</strong>
    </div>
    <div class="col-xs-4 responsive-left">
      <span class="responsive-only">Description:<br></span>
      <%= simple_format(@workletter.sprinklergrid_description) %>
      <br>Cost: <%= number_to_currency(@workletter.sprinkler_grid_cost, :unit => "$") %>
    </div>
    <div class="col-xs-1 responsive100" style="text-align:center">
      <span class="responsive-only">Typical:</span>
      <% if @workletter.sprinkler_grid_typical == true %>
        <span class="fa fa-check-square ws-checked-complete"></span>
      <% else %>
        <span class="fa fa-square-o ws-unchecked-typical"></span>
      <% end %>
    </div>
    <div class="col-xs-3" style="text-align:center">
      <span class="responsive-only">Responsibility:</span>
      <%= @workletter.sprinkler_grid %>
    </div>
    <div class="col-xs-1 responsive100" style="text-align:center">
      <span class="responsive-only">Complete:</span>
      <% if @workletter.sprinkler_grid_complete == true %>
        <span class="fa fa-check-square ws-check-complete"></span>
      <% else %>
        <span class="fa fa-square-o ws-unchecked-complete"></span>
      <% end %>
    </div>
    <div class="col-xs-2" style="text-align:center">
      <span class="responsive-only">Completion:</span>
      <%= @workletter.sprinkler_grid_date %>
    </div>
  </div>
  
  <hr>
  
  <div class="row">
    <div class="col-xs-1 responsive-center responsive100">
      <strong>Fire Alarm:</strong>
    </div>
    <div class="col-xs-4 responsive-left">
      <span class="responsive-only">Description:<br></span>
      <%= simple_format(@workletter.firealarm_description) %>
      <br>Cost: <%= number_to_currency(@workletter.fire_alarm_cost, :unit => "$") %>
    </div>
    <div class="col-xs-1 responsive100" style="text-align:center">
      <span class="responsive-only">Typical:</span>
      <% if @workletter.fire_alarm_typical == true %>
        <span class="fa fa-check-square ws-checked-complete"></span>
      <% else %>
        <span class="fa fa-square-o ws-unchecked-typical"></span>
      <% end %>
    </div>
    <div class="col-xs-3" style="text-align:center">
      <span class="responsive-only">Responsibility:</span>
      <%= @workletter.fire_alarm %>
    </div>
    <div class="col-xs-1 responsive100" style="text-align:center">
      <span class="responsive-only">Complete:</span>
      <% if @workletter.fire_alarm_complete == true %>
        <span class="fa fa-check-square ws-check-complete"></span>
      <% else %>
        <span class="fa fa-square-o ws-unchecked-complete"></span>
      <% end %>
    </div>
    <div class="col-xs-2" style="text-align:center">
      <span class="responsive-only">Completion:</span>
      <%= @workletter.fire_alarm_date %>
    </div>
  </div>
  
  <hr>
  
  <div class="row">
    <div class="col-xs-1 responsive-center responsive100">
      <strong>Demolition:</strong>
    </div>
    <div class="col-xs-4 responsive-left">
      <span class="responsive-only">Description:<br></span>
      <%= simple_format(@workletter.demolition_description) %>
      <br>Cost: <%= number_to_currency(@workletter.demolition_cost, :unit => "$") %>
    </div>
    <div class="col-xs-1 responsive100" style="text-align:center">
      <span class="responsive-only">Typical:</span>
      <% if @workletter.demolition_typical == true %>
        <span class="fa fa-check-square ws-checked-typical"></span>
      <% else %>
        <span class="fa fa-square-o ws-unchecked-typical"></span>
      <% end %>
    </div>
    <div class="col-xs-3" style="text-align:center">
      <span class="responsive-only">Responsibility:</span>
      <%= @workletter.demolition %>
    </div>
    <div class="col-xs-1 responsive100" style="text-align:center">
      <span class="responsive-only">Complete:</span>
      <% if @workletter.demolition_complete == true %>
        <span class="fa fa-check-square ws-check-complete"></span>
      <% else %>
        <span class="fa fa-square-o ws-unchecked-complete"></span>
      <% end %>
    </div>
    <div class="col-xs-2" style="text-align:center">
      <span class="responsive-only">Completion:</span>
      <%= @workletter.demolition_date %>
    </div>
  </div>
  
  <hr>
  
  <div class="row">
    <div class="col-xs-1 responsive-center responsive100">
      <strong>Other:</strong>
    </div>
    <div class="col-xs-4 responsive-left">
      <span class="responsive-only">Description:<br></span>
      <%= simple_format(@workletter.other_description) %>
      <br>Cost: <%= number_to_currency(@workletter.other_cost, :unit => "$") %>
    </div>
    <div class="col-xs-1 responsive100" style="text-align:center">
      <span class="responsive-only">Typical:</span>
      <% if @workletter.other_typical == true %>
        <span class="fa fa-check-square ws-checked-typical"></span>
      <% else %>
        <span class="fa fa-square-o ws-unchecked-typical"></span>
      <% end %>
    </div>
    <div class="col-xs-3" style="text-align:center">
      <span class="responsive-only">Responsibility:</span>
      <%= @workletter.other %>
    </div>
    <div class="col-xs-1 responsive100" style="text-align:center">
      <span class="responsive-only">Complete:</span>
      <% if @workletter.other_complete == true %>
        <span class="fa fa-check-square ws-check-complete"></span>
      <% else %>
        <span class="fa fa-square-o ws-unchecked-complete"></span>
      <% end %>
    </div>
    <div class="col-xs-2" style="text-align:center">
      <span class="responsive-only">Completion:</span>
      <%= @workletter.other_date %>
    </div>
  </div>
  
  <hr>

<%= link_to '<= Project',
              project_path(@workletter.project_id), :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_workletter_path(@workletter), :class => 'btn btn-primary' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              workletter_path(@workletter),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>




  </div>
</div>

<br><br><br><br>