<%= form_for @workletter_template, :html => { :class => "form-horizontal workletter" } do |f| %>
  <% if @workletter_template.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@workletter_template.errors.count, "error") %> prohibited this workletter_template from being saved:</h2>

      <ul>
      <% @workletter_template.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <div class="col-lg-4">
      <%= f.label :template_name %><br>
      <%= f.text_field :template_name, :class => 'form-control' %>
    </div>
    <div class="col-lg-4" style="display:none;">
      <%= f.label :project_id %><br>
      <%#= f.number_field :project_id %>
      <%= f.number_field :project_id, value: @project_id, :class => 'form-control' %>
    </div>
    <div class="col-lg-4" style="display:none;">
      <%= f.label :key %><br>
      <%= f.text_field :key, value: @project_id, :class => 'form-control' %>
    </div>
  </div>

  <hr>
  <h2>Load Default Template:</h2>
  <!-- Testing a little something here -->
  <p style="margin-right:10px;" id="default_template"
        class="btn btn-primary print-none">Default Template</p>
  
  <% @workletter_templates.each do |workletter_template| %>
    <p style="margin-right:10px;" id="w<%= workletter_template.id %>"
        class="btn btn-primary print-none"><%= workletter_template.template_name %></p>
  <% end %>
  
  <hr>
  <p>*Currently you can not have line breaks (paragraph) within a Workletter Template or it will corrupt the jQuery.</p>
  <hr><br>
  <!-- Testing a little something here -->

  <style>
  /* Note: Try to remove the following lines to see the effect of CSS positioning */
  .affix {
      top: 0;
      background-color:#fff !important;
      z-index: 999999;
  }

  .affix + .container {
      padding-top: 70px;
  }
  </style>

  <div class="form-group">
    <div style="background-color:#fff;" data-spy="affix" data-offset-top="280" class="responsive-none display-above-1200">
      <div class="col-lg-1"><strong class="affix-smaller">Scope:</strong></div>
      <div class="col-lg-4"><strong class="affix-smaller">Description:</strong></div>
      <div class="col-lg-1" style="text-align:center"><strong class="affix-smaller">Typical:</strong></div>
      <div class="col-lg-3" style="text-align:center"><strong class="affix-smaller">Responsibility:</strong><br><strong class="affix-smaller">LL | Tenant | N/A</strong></div>
    </div>
  </div>



  
  <!-- this -->
  <div class="form-group">
    <%= f.label :structure, :class => 'control-label col-lg-1' %>
    <div class="col-lg-4">
      <span class="show-below-1200">Description:</span>
    <%= f.text_area :structure_description, :rows => 4, :class => 'form-control' %>
    <%=f.error_span(:structure_description) %>
    </div>
    
    <div class="col-lg-1" style="text-align:center">
      <span class="show-below-1200">Structure Typical:</span>
    <%= f.check_box :structure_typical, {:class => "", :style => ""}, "true", "false" %>
    <%=f.error_span(:structure_typical) %>
    </div>
    
    <div class="col-lg-3" style="text-align:center">
    <span class="show-below-1200">Responsibility:</span>
    <%= f.radio_button :structure, "Landlord", :class => "ws-radio-buttons countclass" %>
    <%= f.radio_button :structure, "Tenant", :class => "ws-radio-buttons" %>
    <%= f.radio_button :structure, "N/A", :class => "ws-radio-buttons" %>
    <%=f.error_span(:structure) %>
    </div>
    
    <div class="col-lg-4" style="text-align:center">
    </div>
  </div>  
  <hr>
  
  

  
  <!-- this -->
  <div class="form-group">
    <%= f.label :slab, :class => 'control-label col-lg-1' %>
    <div class="col-lg-4">
      <span class="show-below-1200">Description:</span>
    <%= f.text_area :slab_description, :rows => 4, :class => 'form-control' %>
    <%=f.error_span(:slab_description) %>
    </div>
    
    <div class="col-lg-1" style="text-align:center">
      <span class="show-below-1200">Slab Typical:</span>
    <%= f.check_box :slab_typical, {:class => "", :style => ""}, "true", "false" %>
    <%=f.error_span(:slab_typical) %>
    </div>
    
    <div class="col-lg-3" style="text-align:center">
    <span class="show-below-1200">Responsibility:</span>
    <%= f.radio_button :slab, "Landlord", :class => "ws-radio-buttons countclass" %>
    <%= f.radio_button :slab, "Tenant", :class => "ws-radio-buttons" %>
    <%= f.radio_button :slab, "N/A", :class => "ws-radio-buttons" %>
    <%=f.error_span(:slab) %>
    </div>
    
    <div class="col-lg-4" style="text-align:center">
    </div>
  </div>  
  <hr>
  
  <!-- this -->
  <div class="form-group">
    <%= f.label :studs, :class => 'control-label col-lg-1' %>
    <div class="col-lg-4">
    <span class="show-below-1200">Description:</span>
    <%= f.text_area :studs_description, :rows => 4, :class => 'form-control' %>
    <%=f.error_span(:studs_description) %>
    </div>
    
    <div class="col-lg-1" style="text-align:center">
    <span class="show-below-1200">Studs Typical:</span>
    <%= f.check_box :studs_typical, {:class => "", :style => ""}, "true", "false" %>
    <%=f.error_span(:studs_typical) %>
    </div>
    
    <div class="col-lg-3" style="text-align:center">
    <span class="show-below-1200">Responsibility:</span>
    <%= f.radio_button :studs, "Landlord", :class => "ws-radio-buttons countclass" %>
    <%= f.radio_button :studs, "Tenant", :class => "ws-radio-buttons" %>
    <%= f.radio_button :studs, "N/A", :class => "ws-radio-buttons" %>
    <%=f.error_span(:studs) %>
    </div>
    
    <div class="col-lg-4" style="text-align:center">
    </div>
  </div> 
  <hr>
  
  <!-- this -->
  <div class="form-group">
    <%= f.label :drywall, :class => 'control-label col-lg-1' %>
    <div class="col-lg-4">
    <span class="show-below-1200">Description:</span>
    <%= f.text_area :drywall_description, :rows => 4, :class => 'form-control' %>
    <%=f.error_span(:drywall_description) %>
    </div>
    
    <div class="col-lg-1" style="text-align:center">
    <span class="show-below-1200">Drywall Typical:</span>
    <%= f.check_box :drywall_typical, {:class => "", :style => ""}, "true", "false" %>
    <%=f.error_span(:drywall_typical) %>
    </div>
    
    <div class="col-lg-3" style="text-align:center">
    <span class="show-below-1200">Responsibility:</span>
    <%= f.radio_button :drywall, "Landlord", :class => "ws-radio-buttons countclass" %>
    <%= f.radio_button :drywall, "Tenant", :class => "ws-radio-buttons" %>
    <%= f.radio_button :drywall, "N/A", :class => "ws-radio-buttons" %>
    <%=f.error_span(:drywall) %>
    </div>
    
    <div class="col-lg-4" style="text-align:center">
    </div>
  </div> 
  <hr>
  
  <!-- this -->
  <div class="form-group">
    <%= f.label :insulation, :class => 'control-label col-lg-1' %>
    <div class="col-lg-4">
    <span class="show-below-1200">Description:</span>
    <%= f.text_area :insulation_description, :rows => 4, :class => 'form-control' %>
    <%=f.error_span(:insulation_description) %>
    </div>
    
    <div class="col-lg-1" style="text-align:center">
    <span class="show-below-1200">Insulation Typical:</span>
    <%= f.check_box :insulation_typical, {:class => "", :style => ""}, "true", "false" %>
    <%=f.error_span(:insulation_typical) %>
    </div>
    
    <div class="col-lg-3" style="text-align:center">
    <span class="show-below-1200">Responsibility:</span>
    <%= f.radio_button :insulation, "Landlord", :class => "ws-radio-buttons countclass" %>
    <%= f.radio_button :insulation, "Tenant", :class => "ws-radio-buttons" %>
    <%= f.radio_button :insulation, "N/A", :class => "ws-radio-buttons" %>
    <%=f.error_span(:insulation) %>
    </div>
    
    <div class="col-lg-4" style="text-align:center">
    </div>
  </div> 
  <hr>
  
  <!-- this -->
  <div class="form-group">
    <%= f.label :service_door, :class => 'control-label col-lg-1' %>
    <div class="col-lg-4">
    <span class="show-below-1200">Description:</span>
    <%= f.text_area :service_door_description, :rows => 4, :class => 'form-control' %>
    <%=f.error_span(:service_door_description) %>
    </div>
    
    <div class="col-lg-1" style="text-align:center">
    <span class="show-below-1200">Service Door Typical:</span>
    <%= f.check_box :service_door_typical, {:class => "", :style => ""}, "true", "false" %>
    <%=f.error_span(:service_door_typical) %>
    </div>
    
    <div class="col-lg-3" style="text-align:center">
    <span class="show-below-1200">Responsibility:</span>
    <%= f.radio_button :service_door, "Landlord", :class => "ws-radio-buttons countclass" %>
    <%= f.radio_button :service_door, "Tenant", :class => "ws-radio-buttons" %>
    <%= f.radio_button :service_door, "N/A", :class => "ws-radio-buttons" %>
    <%=f.error_span(:service_door) %>
    </div>
    
    <div class="col-lg-4" style="text-align:center">
    </div>
  </div> 
  <hr>
  
  <!-- this -->
  <div class="form-group">
    <%= f.label :storefront, :class => 'control-label col-lg-1' %>
    <div class="col-lg-4">
    <span class="show-below-1200">Description:</span>
    <%= f.text_area :storefront_description, :rows => 4, :class => 'form-control' %>
    <%=f.error_span(:storefront_description) %>
    </div>
    
    <div class="col-lg-1" style="text-align:center">
    <span class="show-below-1200">Storefront Typical:</span>
    <%= f.check_box :storefront_typical, {:class => "", :style => ""}, "true", "false" %>
    <%=f.error_span(:storefront_typical) %>
    </div>
    
    <div class="col-lg-3" style="text-align:center">
    <span class="show-below-1200">Responsibility:</span>
    <%= f.radio_button :storefront, "Landlord", :class => "ws-radio-buttons countclass" %>
    <%= f.radio_button :storefront, "Tenant", :class => "ws-radio-buttons" %>
    <%= f.radio_button :storefront, "N/A", :class => "ws-radio-buttons" %>
    <%=f.error_span(:storefront) %>
    </div>
    
    <div class="col-lg-4" style="text-align:center">
    </div>
  </div> 
  <hr>
  
  <!-- this -->
  <div class="form-group">
    <%= f.label :unit, "HVAC Unit(s)", :class => 'control-label col-lg-1' %>
    <div class="col-lg-4">
    <span class="show-below-1200">Description:</span>
    <%= f.text_area :unit_description, :rows => 4, :class => 'form-control' %>
    <%=f.error_span(:unit_description) %>
    </div>
    
    <div class="col-lg-1" style="text-align:center">
    <span class="show-below-1200">Unit Typical:</span>
    <%= f.check_box :unit_typical, {:class => "", :style => ""}, "true", "false" %>
    <%=f.error_span(:unit_typical) %>
    </div>
    
    <div class="col-lg-3" style="text-align:center">
    <span class="show-below-1200">Responsibility:</span>
    <%= f.radio_button :unit, "Landlord", :class => "ws-radio-buttons countclass" %>
    <%= f.radio_button :unit, "Tenant", :class => "ws-radio-buttons" %>
    <%= f.radio_button :unit, "N/A", :class => "ws-radio-buttons" %>
    <%=f.error_span(:unit) %>
    </div>
    
    <div class="col-lg-4" style="text-align:center">
    </div>
  </div> 
  <hr>
  
  <!-- this -->
  <div class="form-group">
    <%= f.label :supply_duct, :class => 'control-label col-lg-1' %>
    <div class="col-lg-4">
    <span class="show-below-1200">Description:</span>
    <%= f.text_area :supply_description, :rows => 4, :class => 'form-control' %>
    <%=f.error_span(:supply_description) %>
    </div>
    
    <div class="col-lg-1" style="text-align:center">
    <span class="show-below-1200">Supply Typical:</span>
    <%= f.check_box :supply_typical, {:class => "", :style => ""}, "true", "false" %>
    <%=f.error_span(:supply_typical) %>
    </div>
    
    <div class="col-lg-3" style="text-align:center">
    <span class="show-below-1200">Responsibility:</span>
    <%= f.radio_button :supply, "Landlord", :class => "ws-radio-buttons countclass" %>
    <%= f.radio_button :supply, "Tenant", :class => "ws-radio-buttons" %>
    <%= f.radio_button :supply, "N/A", :class => "ws-radio-buttons" %>
    <%=f.error_span(:supply) %>
    </div>
    
    <div class="col-lg-4" style="text-align:center">
    </div>
  </div> 
  <hr>
  
  <!-- this -->
  <div class="form-group">
    <%= f.label :exhaust, :class => 'control-label col-lg-1' %>
    <div class="col-lg-4">
    <span class="show-below-1200">Description:</span>
    <%= f.text_area :exhaust_description, :rows => 4, :class => 'form-control' %>
    <%=f.error_span(:exhaust_description) %>
    </div>
    
    <div class="col-lg-1" style="text-align:center">
    <span class="show-below-1200">Exhaust Typical:</span>
    <%= f.check_box :exhaust_typical, {:class => "", :style => ""}, "true", "false" %>
    <%=f.error_span(:exhaust_typical) %>
    </div>
    
    <div class="col-lg-3" style="text-align:center">
    <span class="show-below-1200">Responsibility:</span>
    <%= f.radio_button :exhaust, "Landlord", :class => "ws-radio-buttons countclass" %>
    <%= f.radio_button :exhaust, "Tenant", :class => "ws-radio-buttons" %>
    <%= f.radio_button :exhaust, "N/A", :class => "ws-radio-buttons" %>
    <%=f.error_span(:exhaust) %>
    </div>
    
    <div class="col-lg-4" style="text-align:center">
    </div>
  </div> 
  <hr>
  
  
  
  <!-- this -->
  <div class="form-group">
    <%= f.label :line_set_pathways, :class => 'control-label col-lg-1' %>
    <div class="col-lg-4">
    <span class="show-below-1200">Description:</span>
    <%= f.text_area :line_set_pathways_description, :rows => 4, :class => 'form-control' %>
    <%=f.error_span(:line_set_pathways_description) %>
    </div>
    
    <div class="col-lg-1" style="text-align:center">
    <span class="show-below-1200">Line Set Pathways Typical:</span>
    <%= f.check_box :line_set_pathways_typical, {:class => "", :style => ""}, "true", "false" %>
    <%=f.error_span(:line_set_pathways_typical) %>
    </div>
    
    <div class="col-lg-3" style="text-align:center">
    <span class="show-below-1200">Responsibility:</span>
    <%= f.radio_button :line_set_pathways, "Landlord", :class => "ws-radio-buttons countclass" %>
    <%= f.radio_button :line_set_pathways, "Tenant", :class => "ws-radio-buttons" %>
    <%= f.radio_button :line_set_pathways, "N/A", :class => "ws-radio-buttons" %>
    <%=f.error_span(:line_set_pathways) %>
    </div>
    
    <div class="col-lg-4" style="text-align:center">
    </div>
  </div> 
  <hr>
  
  <!-- this -->
  <div class="form-group">
    <%= f.label :ems, :class => 'control-label col-lg-1' %>
    <div class="col-lg-4">
    <span class="show-below-1200">Description:</span>
    <%= f.text_area :ems_description, :rows => 4, :class => 'form-control' %>
    <%=f.error_span(:ems_description) %>
    </div>
    
    <div class="col-lg-1" style="text-align:center">
    <span class="show-below-1200">EMS Typical:</span>
    <%= f.check_box :ems_typical, {:class => "", :style => ""}, "true", "false" %>
    <%=f.error_span(:ems_typical) %>
    </div>
    
    <div class="col-lg-3" style="text-align:center">
    <span class="show-below-1200">Responsibility:</span>
    <%= f.radio_button :ems, "Landlord", :class => "ws-radio-buttons countclass" %>
    <%= f.radio_button :ems, "Tenant", :class => "ws-radio-buttons" %>
    <%= f.radio_button :ems, "N/A", :class => "ws-radio-buttons" %>
    <%=f.error_span(:ems) %>
    </div>
    
    <div class="col-lg-4" style="text-align:center">
    </div>
  </div> 
  <hr>
  
  <!-- this -->
  <div class="form-group">
    <%= f.label :electrical, :class => 'control-label col-lg-1' %>
    <div class="col-lg-4">
    <span class="show-below-1200">Description:</span>
    <%= f.text_area :electrical_description, :rows => 4, :class => 'form-control' %>
    <%=f.error_span(:electrical_description) %>
    </div>
    
    <div class="col-lg-1" style="text-align:center">
    <span class="show-below-1200">Electrical Typical:</span>
    <%= f.check_box :electrical_typical, {:class => "", :style => ""}, "true", "false" %>
    <%=f.error_span(:electrical_typical) %>
    </div>
    
    <div class="col-lg-3" style="text-align:center">
    <span class="show-below-1200">Responsibility:</span>
    <%= f.radio_button :electrical, "Landlord", :class => "ws-radio-buttons countclass" %>
    <%= f.radio_button :electrical, "Tenant", :class => "ws-radio-buttons" %>
    <%= f.radio_button :electrical, "N/A", :class => "ws-radio-buttons" %>
    <%=f.error_span(:electrical) %>
    </div>
    
    <div class="col-lg-4" style="text-align:center">
    </div>
  </div> 
  <hr>
  
  <!-- this -->
  <div class="form-group">
    <%= f.label :voltage, :class => 'control-label col-lg-1' %>
    <div class="col-lg-4">
    <span class="show-below-1200">Description:</span>
    <%= f.text_area :voltage_description, :rows => 4, :class => 'form-control' %>
    <%=f.error_span(:voltage_description) %>
    </div>
    
    <div class="col-lg-1" style="text-align:center">
    <span class="show-below-1200">EMS Typical:</span>
    <%= f.check_box :voltage_typical, {:class => "", :style => ""}, "true", "false" %>
    <%=f.error_span(:voltage_typical) %>
    </div>
    
    <div class="col-lg-3" style="text-align:center">
    <span class="show-below-1200">Responsibility:</span>
    <%= f.radio_button :voltage, "Landlord", :class => "ws-radio-buttons countclass" %>
    <%= f.radio_button :voltage, "Tenant", :class => "ws-radio-buttons" %>
    <%= f.radio_button :voltage, "N/A", :class => "ws-radio-buttons" %>
    <%=f.error_span(:voltage) %>
    </div>
    
    <div class="col-lg-4" style="text-align:center">
    </div>
  </div> 
  <hr>
  
  <!-- this -->
  <div class="form-group">
    <%= f.label :amperage, :class => 'control-label col-lg-1' %>
    <div class="col-lg-4">
    <span class="show-below-1200">Description:</span>
    <%= f.text_area :amperage_description, :rows => 4, :class => 'form-control' %>
    <%=f.error_span(:amperage_description) %>
    </div>
    
    <div class="col-lg-1" style="text-align:center">
    <span class="show-below-1200">Amperage Typical:</span>
    <%= f.check_box :amperage_typical, {:class => "", :style => ""}, "true", "false" %>
    <%=f.error_span(:amperage_typical) %>
    </div>
    
    <div class="col-lg-3" style="text-align:center">
    <span class="show-below-1200">Responsibility:</span>
    <%= f.radio_button :amperage, "Landlord", :class => "ws-radio-buttons countclass" %>
    <%= f.radio_button :amperage, "Tenant", :class => "ws-radio-buttons" %>
    <%= f.radio_button :amperage, "N/A", :class => "ws-radio-buttons" %>
    <%=f.error_span(:amperage) %>
    </div>
    
    <div class="col-lg-4" style="text-align:center">
    </div>
  </div> 
  <hr>
  
  <!-- this -->
  <div class="form-group">
    <%= f.label :conduit_size, :class => 'control-label col-lg-1' %>
    <div class="col-lg-4">
    <span class="show-below-1200">Description:</span>
    <%= f.text_area :conduit_size_description, :rows => 4, :class => 'form-control' %>
    <%=f.error_span(:conduit_size_description) %>
    </div>
    
    <div class="col-lg-1" style="text-align:center">
    <span class="show-below-1200">Conduit Size Typical:</span>
    <%= f.check_box :conduit_size_typical, {:class => "", :style => ""}, "true", "false" %>
    <%=f.error_span(:conduit_size_typical) %>
    </div>
    
    <div class="col-lg-3" style="text-align:center">
    <span class="show-below-1200">Responsibility:</span>
    <%= f.radio_button :conduit_size, "Landlord", :class => "ws-radio-buttons countclass" %>
    <%= f.radio_button :conduit_size, "Tenant", :class => "ws-radio-buttons" %>
    <%= f.radio_button :conduit_size, "N/A", :class => "ws-radio-buttons" %>
    <%=f.error_span(:conduit_size) %>
    </div>
    
    <div class="col-lg-4" style="text-align:center">
    </div>
  </div> 
  <hr>
  
  
  
  <!-- this -->
  <div class="form-group">
    <%= f.label :electrical_meter, :class => 'control-label col-lg-1' %>
    <div class="col-lg-4">
    <span class="show-below-1200">Description:</span>
    <%= f.text_area :electrical_meter_description, :rows => 4, :class => 'form-control' %>
    <%=f.error_span(:electrical_meter_description) %>
    </div>
    
    <div class="col-lg-1" style="text-align:center">
    <span class="show-below-1200">Electrical Meter Typical:</span>
    <%= f.check_box :electrical_meter_typical, {:class => "", :style => ""}, "true", "false" %>
    <%=f.error_span(:electrical_meter_typical) %>
    </div>
    
    <div class="col-lg-3" style="text-align:center">
    <span class="show-below-1200">Responsibility:</span>
    <%= f.radio_button :electrical_meter, "Landlord", :class => "ws-radio-buttons countclass" %>
    <%= f.radio_button :electrical_meter, "Tenant", :class => "ws-radio-buttons" %>
    <%= f.radio_button :electrical_meter, "N/A", :class => "ws-radio-buttons" %>
    <%=f.error_span(:electrical_meter) %>
    </div>
    
    <div class="col-lg-4" style="text-align:center">
    </div>
  </div> 
  <hr>
  
  <!-- this -->
  <div class="form-group">
    <%= f.label :telephone, :class => 'control-label col-lg-1' %>
    <div class="col-lg-4">
    <span class="show-below-1200">Description:</span>
    <%= f.text_area :telephone_description, :rows => 4, :class => 'form-control' %>
    <%=f.error_span(:telephone_description) %>
    </div>
    
    <div class="col-lg-1" style="text-align:center">
    <span class="show-below-1200">Telephone Typical:</span>
    <%= f.check_box :telephone_typical, {:class => "", :style => ""}, "true", "false" %>
    <%=f.error_span(:telephone_typical) %>
    </div>
    
    <div class="col-lg-3" style="text-align:center">
    <span class="show-below-1200">Responsibility:</span>
    <%= f.radio_button :telephone, "Landlord", :class => "ws-radio-buttons countclass" %>
    <%= f.radio_button :telephone, "Tenant", :class => "ws-radio-buttons" %>
    <%= f.radio_button :telephone, "N/A", :class => "ws-radio-buttons" %>
    <%=f.error_span(:telephone) %>
    </div>
    
    <div class="col-lg-4" style="text-align:center">
    </div>
  </div> 
  <hr>
  
  <!-- this -->
  <div class="form-group">
    <%= f.label :sanitary, :class => 'control-label col-lg-1' %>
    <div class="col-lg-4">
    <span class="show-below-1200">Description:</span>
    <%= f.text_area :sanitary_description, :rows => 4, :class => 'form-control' %>
    <%=f.error_span(:sanitary_description) %>
    </div>
    
    <div class="col-lg-1" style="text-align:center">
    <span class="show-below-1200">Sanitary Typical:</span>
    <%= f.check_box :sanitary_typical, {:class => "", :style => ""}, "true", "false" %>
    <%=f.error_span(:sanitary_typical) %>
    </div>
    
    <div class="col-lg-3" style="text-align:center">
    <span class="show-below-1200">Responsibility:</span>
    <%= f.radio_button :sanitary, "Landlord", :class => "ws-radio-buttons countclass" %>
    <%= f.radio_button :sanitary, "Tenant", :class => "ws-radio-buttons" %>
    <%= f.radio_button :sanitary, "N/A", :class => "ws-radio-buttons" %>
    <%=f.error_span(:sanitary) %>
    </div>
    
    <div class="col-lg-4" style="text-align:center">
    </div>
  </div> 
  <hr>
  
  <!-- this -->
  <div class="form-group">
    <%= f.label :sanitary_vent, :class => 'control-label col-lg-1' %>
    <div class="col-lg-4">
    <span class="show-below-1200">Description:</span>
    <%= f.text_area :sanitary_vent_description, :rows => 4, :class => 'form-control' %>
    <%=f.error_span(:sanitary_vent_description) %>
    </div>
    
    <div class="col-lg-1" style="text-align:center">
    <span class="show-below-1200">Sanitary Vent Typical:</span>
    <%= f.check_box :sanitary_vent_typical, {:class => "", :style => ""}, "true", "false" %>
    <%=f.error_span(:sanitary_vent_typical) %>
    </div>
    
    <div class="col-lg-3" style="text-align:center">
    <span class="show-below-1200">Responsibility:</span>
    <%= f.radio_button :sanitary_vent, "Landlord", :class => "ws-radio-buttons countclass" %>
    <%= f.radio_button :sanitary_vent, "Tenant", :class => "ws-radio-buttons" %>
    <%= f.radio_button :sanitary_vent, "N/A", :class => "ws-radio-buttons" %>
    <%=f.error_span(:sanitary_vent) %>
    </div>
    
    <div class="col-lg-4" style="text-align:center">
    </div>
  </div> 
  <hr>
  
  <!-- this -->
  <div class="form-group">
    <%= f.label :grease, :class => 'control-label col-lg-1' %>
    <div class="col-lg-4">
    <span class="show-below-1200">Description:</span>
    <%= f.text_area :grease_description, :rows => 4, :class => 'form-control' %>
    <%=f.error_span(:grease_description) %>
    </div>
    
    <div class="col-lg-1" style="text-align:center">
    <span class="show-below-1200">Grease Typical:</span>
    <%= f.check_box :grease_typical, {:class => "", :style => ""}, "true", "false" %>
    <%=f.error_span(:grease_typical) %>
    </div>
    
    <div class="col-lg-3" style="text-align:center">
    <span class="show-below-1200">Responsibility:</span>
    <%= f.radio_button :grease, "Landlord", :class => "ws-radio-buttons countclass" %>
    <%= f.radio_button :grease, "Tenant", :class => "ws-radio-buttons" %>
    <%= f.radio_button :grease, "N/A", :class => "ws-radio-buttons" %>
    <%=f.error_span(:grease) %>
    </div>
    
    <div class="col-lg-4" style="text-align:center">
    </div>
  </div> 
  <hr>
  
  <!-- this -->
  <div class="form-group">
    <%= f.label :water, :class => 'control-label col-lg-1' %>
    <div class="col-lg-4">
    <span class="show-below-1200">Description:</span>
    <%= f.text_area :water_description, :rows => 4, :class => 'form-control' %>
    <%=f.error_span(:water_description) %>
    </div>
    
    <div class="col-lg-1" style="text-align:center">
    <span class="show-below-1200">Water Typical:</span>
    <%= f.check_box :water_typical, {:class => "", :style => ""}, "true", "false" %>
    <%=f.error_span(:water_typical) %>
    </div>
    
    <div class="col-lg-3" style="text-align:center">
    <span class="show-below-1200">Responsibility:</span>
    <%= f.radio_button :water, "Landlord", :class => "ws-radio-buttons countclass" %>
    <%= f.radio_button :water, "Tenant", :class => "ws-radio-buttons" %>
    <%= f.radio_button :water, "N/A", :class => "ws-radio-buttons" %>
    <%=f.error_span(:water) %>
    </div>
    
    <div class="col-lg-4" style="text-align:center">
    </div>
  </div> 
  <hr>
  
  <!-- this -->
  <div class="form-group">
    <%= f.label :gas, :class => 'control-label col-lg-1' %>
    <div class="col-lg-4">
    <span class="show-below-1200">Description:</span>
    <%= f.text_area :gas_description, :rows => 4, :class => 'form-control' %>
    <%=f.error_span(:gas_description) %>
    </div>
    
    <div class="col-lg-1" style="text-align:center">
    <span class="show-below-1200">Gas Typical:</span>
    <%= f.check_box :gas_typical, {:class => "", :style => ""}, "true", "false" %>
    <%=f.error_span(:gas_typical) %>
    </div>
    
    <div class="col-lg-3" style="text-align:center">
    <span class="show-below-1200">Responsibility:</span>
    <%= f.radio_button :gas, "Landlord", :class => "ws-radio-buttons countclass" %>
    <%= f.radio_button :gas, "Tenant", :class => "ws-radio-buttons" %>
    <%= f.radio_button :gas, "N/A", :class => "ws-radio-buttons" %>
    <%=f.error_span(:gas) %>
    </div>
    
    <div class="col-lg-4" style="text-align:center">
    </div>
  </div> 
  <hr>
  
  <!-- this -->
  <div class="form-group">
    <%= f.label :sprinkler_stub, :class => 'control-label col-lg-1' %>
    <div class="col-lg-4">
    <span class="show-below-1200">Description:</span>
    <%= f.text_area :sprinkler_stub_description, :rows => 4, :class => 'form-control' %>
    <%=f.error_span(:sprinkler_stub_description) %>
    </div>
    
    <div class="col-lg-1" style="text-align:center">
    <span class="show-below-1200">Sprinkler Stub Typical:</span>
    <%= f.check_box :sprinkler_stub_typical, {:class => "", :style => ""}, "true", "false" %>
    <%=f.error_span(:sprinkler_stub_typical) %>
    </div>
    
    <div class="col-lg-3" style="text-align:center">
    <span class="show-below-1200">Responsibility:</span>
    <%= f.radio_button :sprinkler_stub, "Landlord", :class => "ws-radio-buttons countclass" %>
    <%= f.radio_button :sprinkler_stub, "Tenant", :class => "ws-radio-buttons" %>
    <%= f.radio_button :sprinkler_stub, "N/A", :class => "ws-radio-buttons" %>
    <%=f.error_span(:sprinkler_stub) %>
    </div>
    
    <div class="col-lg-4" style="text-align:center">
    </div>
  </div> 
  <hr>
  
  <!-- this -->
  <div class="form-group">
    <%= f.label :sprinkler_grid, :class => 'control-label col-lg-1' %>
    <div class="col-lg-4">
    <span class="show-below-1200">Description:</span>
    <%= f.text_area :sprinkler_grid_description, :rows => 4, :class => 'form-control' %>
    <%=f.error_span(:sprinkler_grid_description) %>
    </div>
    
    <div class="col-lg-1" style="text-align:center">
    <span class="show-below-1200">Sprinkler Grid Typical:</span>
    <%= f.check_box :sprinkler_grid_typical, {:class => "", :style => ""}, "true", "false" %>
    <%=f.error_span(:sprinkler_grid_typical) %>
    </div>
    
    <div class="col-lg-3" style="text-align:center">
    <span class="show-below-1200">Responsibility:</span>
    <%= f.radio_button :sprinkler_grid, "Landlord", :class => "ws-radio-buttons countclass" %>
    <%= f.radio_button :sprinkler_grid, "Tenant", :class => "ws-radio-buttons" %>
    <%= f.radio_button :sprinkler_grid, "N/A", :class => "ws-radio-buttons" %>
    <%=f.error_span(:sprinkler_grid) %>
    </div>
    
    <div class="col-lg-4" style="text-align:center">
    </div>
  </div> 
  <hr>
  
  <!-- this -->
  <div class="form-group">
    <%= f.label :fire_alarm, :class => 'control-label col-lg-1' %>
    <div class="col-lg-4">
    <span class="show-below-1200">Description:</span>
    <%= f.text_area :fire_alarm_description, :rows => 4, :class => 'form-control' %>
    <%=f.error_span(:fire_alarm_description) %>
    </div>
    
    <div class="col-lg-1" style="text-align:center">
    <span class="show-below-1200">Fire Alarm Typical:</span>
    <%= f.check_box :fire_alarm_typical, {:class => "", :style => ""}, "true", "false" %>
    <%=f.error_span(:fire_alarm_typical) %>
    </div>
    
    <div class="col-lg-3" style="text-align:center">
    <span class="show-below-1200">Responsibility:</span>
    <%= f.radio_button :fire_alarm, "Landlord", :class => "ws-radio-buttons countclass" %>
    <%= f.radio_button :fire_alarm, "Tenant", :class => "ws-radio-buttons" %>
    <%= f.radio_button :fire_alarm, "N/A", :class => "ws-radio-buttons" %>
    <%=f.error_span(:fire_alarm) %>
    </div>
    
    <div class="col-lg-4" style="text-align:center">
    </div>
  </div> 
  <hr>
  
  
  <!-- this -->
  <div class="form-group">
    <%= f.label :demolition, :class => 'control-label col-lg-1' %>
    <div class="col-lg-4">
      <span class="show-below-1200">Description:</span>
    <%= f.text_area :demolition_description, :rows => 4, :class => 'form-control' %>
    <%=f.error_span(:demolition_description) %>
    </div>
    
    <div class="col-lg-1" style="text-align:center">
      <span class="show-below-1200">Demolition Typical:</span>
    <%= f.check_box :demolition_typical, {:class => "", :style => ""}, "true", "false" %>
    <%=f.error_span(:demolition_typical) %>
    </div>
    
    <div class="col-lg-3" style="text-align:center">
    <span class="show-below-1200">Responsibility:</span>
    <%= f.radio_button :demolition, "Landlord", :class => "ws-radio-buttons countclass" %>
    <%= f.radio_button :demolition, "Tenant", :class => "ws-radio-buttons" %>
    <%= f.radio_button :demolition, "N/A", :class => "ws-radio-buttons" %>
    <%=f.error_span(:demolition) %>
    </div>
    
    <div class="col-lg-4" style="text-align:center">
    </div>
  </div>  
  <hr>
  
  <!-- this -->
  <div class="form-group">
    <%= f.label :other, :class => 'control-label col-lg-1' %>
    <div class="col-lg-4">
      <span class="show-below-1200">Description:</span>
    <%= f.text_area :other_description, :rows => 4, :class => 'form-control' %>
    <%=f.error_span(:other_description) %>
    </div>
    
    <div class="col-lg-1" style="text-align:center">
      <span class="show-below-1200">Other Typical:</span>
    <%= f.check_box :other_typical, {:class => "", :style => ""}, "true", "false" %>
    <%=f.error_span(:other_typical) %>
    </div>
    
    <div class="col-lg-3" style="text-align:center">
    <span class="show-below-1200">Responsibility:</span>
    <%= f.radio_button :other, "Landlord", :class => "ws-radio-buttons countclass" %>
    <%= f.radio_button :other, "Tenant", :class => "ws-radio-buttons" %>
    <%= f.radio_button :other, "N/A", :class => "ws-radio-buttons" %>
    <%=f.error_span(:other) %>
    </div>
    
    <div class="col-lg-4" style="text-align:center">
    </div>
  </div>  
  <hr>
  
  
  

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit nil, :class => 'btn btn-primary' %>

      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                project_url(@project.id), :class => 'btn btn-default' %>
      <% if @workletter_template.id != nil %>
      <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
            workletter_template_path(@workletter_template),
            :method => :delete,
            :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
            :class => 'btn btn-danger', :style => '' %>
      <% end %>
    </div>
  </div>
<% end %>

<%= render :partial => 'wtjquery' %>