<%- model_class = WorkletterTemplate -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:template_name) %>:</strong></dt>
  <dd><%= @workletter_template.template_name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:project_id) %>:</strong></dt>
  <dd><%= @workletter_template.project_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:slab) %>:</strong></dt>
  <dd><%= @workletter_template.slab %></dd>
  <dt><strong><%= model_class.human_attribute_name(:slab_description) %>:</strong></dt>
  <dd><%= @workletter_template.slab_description %></dd>
  <dt><strong><%= model_class.human_attribute_name(:slab_typical) %>:</strong></dt>
  <dd><%= @workletter_template.slab_typical %></dd>
  <dt><strong><%= model_class.human_attribute_name(:studs) %>:</strong></dt>
  <dd><%= @workletter_template.studs %></dd>
  <dt><strong><%= model_class.human_attribute_name(:studs_description) %>:</strong></dt>
  <dd><%= @workletter_template.studs_description %></dd>
  <dt><strong><%= model_class.human_attribute_name(:studs_typical) %>:</strong></dt>
  <dd><%= @workletter_template.studs_typical %></dd>
  <dt><strong><%= model_class.human_attribute_name(:drywall) %>:</strong></dt>
  <dd><%= @workletter_template.drywall %></dd>
  <dt><strong><%= model_class.human_attribute_name(:drywall_description) %>:</strong></dt>
  <dd><%= @workletter_template.drywall_description %></dd>
  <dt><strong><%= model_class.human_attribute_name(:drywall_typical) %>:</strong></dt>
  <dd><%= @workletter_template.drywall_typical %></dd>
  <dt><strong><%= model_class.human_attribute_name(:insulation) %>:</strong></dt>
  <dd><%= @workletter_template.insulation %></dd>
  <dt><strong><%= model_class.human_attribute_name(:insulation_description) %>:</strong></dt>
  <dd><%= @workletter_template.insulation_description %></dd>
  <dt><strong><%= model_class.human_attribute_name(:insulation_typical) %>:</strong></dt>
  <dd><%= @workletter_template.insulation_typical %></dd>
  <dt><strong><%= model_class.human_attribute_name(:service_door) %>:</strong></dt>
  <dd><%= @workletter_template.service_door %></dd>
  <dt><strong><%= model_class.human_attribute_name(:service_door_description) %>:</strong></dt>
  <dd><%= @workletter_template.service_door_description %></dd>
  <dt><strong><%= model_class.human_attribute_name(:service_door_typical) %>:</strong></dt>
  <dd><%= @workletter_template.service_door_typical %></dd>
  <dt><strong><%= model_class.human_attribute_name(:storefront) %>:</strong></dt>
  <dd><%= @workletter_template.storefront %></dd>
  <dt><strong><%= model_class.human_attribute_name(:storefront_description) %>:</strong></dt>
  <dd><%= @workletter_template.storefront_description %></dd>
  <dt><strong><%= model_class.human_attribute_name(:storefront_typical) %>:</strong></dt>
  <dd><%= @workletter_template.storefront_typical %></dd>
  <dt><strong><%= model_class.human_attribute_name(:supply) %>:</strong></dt>
  <dd><%= @workletter_template.supply %></dd>
  <dt><strong><%= model_class.human_attribute_name(:supply_description) %>:</strong></dt>
  <dd><%= @workletter_template.supply_description %></dd>
  <dt><strong><%= model_class.human_attribute_name(:supply_typical) %>:</strong></dt>
  <dd><%= @workletter_template.supply_typical %></dd>
  <dt><strong><%= model_class.human_attribute_name(:exhaust) %>:</strong></dt>
  <dd><%= @workletter_template.exhaust %></dd>
  <dt><strong><%= model_class.human_attribute_name(:exhaust_description) %>:</strong></dt>
  <dd><%= @workletter_template.exhaust_description %></dd>
  <dt><strong><%= model_class.human_attribute_name(:exhaust_typical) %>:</strong></dt>
  <dd><%= @workletter_template.exhaust_typical %></dd>
  <dt><strong><%= model_class.human_attribute_name(:unit) %>:</strong></dt>
  <dd><%= @workletter_template.unit %></dd>
  <dt><strong><%= model_class.human_attribute_name(:unit_description) %>:</strong></dt>
  <dd><%= @workletter_template.unit_description %></dd>
  <dt><strong><%= model_class.human_attribute_name(:unit_typical) %>:</strong></dt>
  <dd><%= @workletter_template.unit_typical %></dd>
  <dt><strong><%= model_class.human_attribute_name(:line_set_pathways) %>:</strong></dt>
  <dd><%= @workletter_template.line_set_pathways %></dd>
  <dt><strong><%= model_class.human_attribute_name(:line_set_pathways_description) %>:</strong></dt>
  <dd><%= @workletter_template.line_set_pathways_description %></dd>
  <dt><strong><%= model_class.human_attribute_name(:line_set_pathways_typical) %>:</strong></dt>
  <dd><%= @workletter_template.line_set_pathways_typical %></dd>
  <dt><strong><%= model_class.human_attribute_name(:ems) %>:</strong></dt>
  <dd><%= @workletter_template.ems %></dd>
  <dt><strong><%= model_class.human_attribute_name(:ems_description) %>:</strong></dt>
  <dd><%= @workletter_template.ems_description %></dd>
  <dt><strong><%= model_class.human_attribute_name(:ems_typical) %>:</strong></dt>
  <dd><%= @workletter_template.ems_typical %></dd>
  <dt><strong><%= model_class.human_attribute_name(:voltage) %>:</strong></dt>
  <dd><%= @workletter_template.voltage %></dd>
  <dt><strong><%= model_class.human_attribute_name(:voltage_description) %>:</strong></dt>
  <dd><%= @workletter_template.voltage_description %></dd>
  <dt><strong><%= model_class.human_attribute_name(:voltage_typical) %>:</strong></dt>
  <dd><%= @workletter_template.voltage_typical %></dd>
  <dt><strong><%= model_class.human_attribute_name(:amperage) %>:</strong></dt>
  <dd><%= @workletter_template.amperage %></dd>
  <dt><strong><%= model_class.human_attribute_name(:amperage_description) %>:</strong></dt>
  <dd><%= @workletter_template.amperage_description %></dd>
  <dt><strong><%= model_class.human_attribute_name(:amperage_typical) %>:</strong></dt>
  <dd><%= @workletter_template.amperage_typical %></dd>
  <dt><strong><%= model_class.human_attribute_name(:conduit_size) %>:</strong></dt>
  <dd><%= @workletter_template.conduit_size %></dd>
  <dt><strong><%= model_class.human_attribute_name(:conduit_size_description) %>:</strong></dt>
  <dd><%= @workletter_template.conduit_size_description %></dd>
  <dt><strong><%= model_class.human_attribute_name(:conduit_size_typical) %>:</strong></dt>
  <dd><%= @workletter_template.conduit_size_typical %></dd>
  <dt><strong><%= model_class.human_attribute_name(:electrical) %>:</strong></dt>
  <dd><%= @workletter_template.electrical %></dd>
  <dt><strong><%= model_class.human_attribute_name(:electrical_description) %>:</strong></dt>
  <dd><%= @workletter_template.electrical_description %></dd>
  <dt><strong><%= model_class.human_attribute_name(:electrical_typical) %>:</strong></dt>
  <dd><%= @workletter_template.electrical_typical %></dd>
  <dt><strong><%= model_class.human_attribute_name(:electrical_meter) %>:</strong></dt>
  <dd><%= @workletter_template.electrical_meter %></dd>
  <dt><strong><%= model_class.human_attribute_name(:electrical_meter_description) %>:</strong></dt>
  <dd><%= @workletter_template.electrical_meter_description %></dd>
  <dt><strong><%= model_class.human_attribute_name(:electrical_meter_typical) %>:</strong></dt>
  <dd><%= @workletter_template.electrical_meter_typical %></dd>
  <dt><strong><%= model_class.human_attribute_name(:telephone) %>:</strong></dt>
  <dd><%= @workletter_template.telephone %></dd>
  <dt><strong><%= model_class.human_attribute_name(:telephone_description) %>:</strong></dt>
  <dd><%= @workletter_template.telephone_description %></dd>
  <dt><strong><%= model_class.human_attribute_name(:telephone_typical) %>:</strong></dt>
  <dd><%= @workletter_template.telephone_typical %></dd>
  <dt><strong><%= model_class.human_attribute_name(:sanitary) %>:</strong></dt>
  <dd><%= @workletter_template.sanitary %></dd>
  <dt><strong><%= model_class.human_attribute_name(:sanitary_description) %>:</strong></dt>
  <dd><%= @workletter_template.sanitary_description %></dd>
  <dt><strong><%= model_class.human_attribute_name(:sanitary_typical) %>:</strong></dt>
  <dd><%= @workletter_template.sanitary_typical %></dd>
  <dt><strong><%= model_class.human_attribute_name(:sanitary_vent) %>:</strong></dt>
  <dd><%= @workletter_template.sanitary_vent %></dd>
  <dt><strong><%= model_class.human_attribute_name(:sanitary_vent_description) %>:</strong></dt>
  <dd><%= @workletter_template.sanitary_vent_description %></dd>
  <dt><strong><%= model_class.human_attribute_name(:sanitary_vent_typical) %>:</strong></dt>
  <dd><%= @workletter_template.sanitary_vent_typical %></dd>
  <dt><strong><%= model_class.human_attribute_name(:grease) %>:</strong></dt>
  <dd><%= @workletter_template.grease %></dd>
  <dt><strong><%= model_class.human_attribute_name(:grease_description) %>:</strong></dt>
  <dd><%= @workletter_template.grease_description %></dd>
  <dt><strong><%= model_class.human_attribute_name(:grease_typical) %>:</strong></dt>
  <dd><%= @workletter_template.grease_typical %></dd>
  <dt><strong><%= model_class.human_attribute_name(:water) %>:</strong></dt>
  <dd><%= @workletter_template.water %></dd>
  <dt><strong><%= model_class.human_attribute_name(:water_description) %>:</strong></dt>
  <dd><%= @workletter_template.water_description %></dd>
  <dt><strong><%= model_class.human_attribute_name(:water_typical) %>:</strong></dt>
  <dd><%= @workletter_template.water_typical %></dd>
  <dt><strong><%= model_class.human_attribute_name(:gas) %>:</strong></dt>
  <dd><%= @workletter_template.gas %></dd>
  <dt><strong><%= model_class.human_attribute_name(:gas_description) %>:</strong></dt>
  <dd><%= @workletter_template.gas_description %></dd>
  <dt><strong><%= model_class.human_attribute_name(:gas_typical) %>:</strong></dt>
  <dd><%= @workletter_template.gas_typical %></dd>
  <dt><strong><%= model_class.human_attribute_name(:sprinkler_stub) %>:</strong></dt>
  <dd><%= @workletter_template.sprinkler_stub %></dd>
  <dt><strong><%= model_class.human_attribute_name(:sprinkler_stub_description) %>:</strong></dt>
  <dd><%= @workletter_template.sprinkler_stub_description %></dd>
  <dt><strong><%= model_class.human_attribute_name(:sprinkler_stub_typical) %>:</strong></dt>
  <dd><%= @workletter_template.sprinkler_stub_typical %></dd>
  <dt><strong><%= model_class.human_attribute_name(:sprinkler_grid) %>:</strong></dt>
  <dd><%= @workletter_template.sprinkler_grid %></dd>
  <dt><strong><%= model_class.human_attribute_name(:sprinkler_grid_description) %>:</strong></dt>
  <dd><%= @workletter_template.sprinkler_grid_description %></dd>
  <dt><strong><%= model_class.human_attribute_name(:sprinkler_grid_typical) %>:</strong></dt>
  <dd><%= @workletter_template.sprinkler_grid_typical %></dd>
  <dt><strong><%= model_class.human_attribute_name(:fire_alarm) %>:</strong></dt>
  <dd><%= @workletter_template.fire_alarm %></dd>
  <dt><strong><%= model_class.human_attribute_name(:fire_alarm_description) %>:</strong></dt>
  <dd><%= @workletter_template.fire_alarm_description %></dd>
  <dt><strong><%= model_class.human_attribute_name(:fire_alarm_typical) %>:</strong></dt>
  <dd><%= @workletter_template.fire_alarm_typical %></dd>
  <dt><strong><%= model_class.human_attribute_name(:structure) %>:</strong></dt>
  <dd><%= @workletter_template.structure %></dd>
  <dt><strong><%= model_class.human_attribute_name(:structure_description) %>:</strong></dt>
  <dd><%= @workletter_template.structure_description %></dd>
  <dt><strong><%= model_class.human_attribute_name(:structure_typical) %>:</strong></dt>
  <dd><%= @workletter_template.structure_typical %></dd>
  <dt><strong><%= model_class.human_attribute_name(:demolition) %>:</strong></dt>
  <dd><%= @workletter_template.demolition %></dd>
  <dt><strong><%= model_class.human_attribute_name(:demolition_description) %>:</strong></dt>
  <dd><%= @workletter_template.demolition_description %></dd>
  <dt><strong><%= model_class.human_attribute_name(:demolition_typical) %>:</strong></dt>
  <dd><%= @workletter_template.demolition_typical %></dd>
  <dt><strong><%= model_class.human_attribute_name(:other) %>:</strong></dt>
  <dd><%= @workletter_template.other %></dd>
  <dt><strong><%= model_class.human_attribute_name(:other_description) %>:</strong></dt>
  <dd><%= @workletter_template.other_description %></dd>
  <dt><strong><%= model_class.human_attribute_name(:other_typical) %>:</strong></dt>
  <dd><%= @workletter_template.other_typical %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              workletter_templates_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_workletter_template_path(@workletter_template), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              workletter_template_path(@workletter_template),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
