<%= form_for @map, :html => { :class => "form-horizontal map formatFunctions" } do |f| %>

  <% if @map.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@map.errors.count, "error") %> prohibited this map from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @map.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :name, :class => 'form-control' %>
    </div>
    <%=f.error_span(:name) %>
  </div>
  <div class="form-group">
    <%= f.label :project_id, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <% if controller.action_name == "new" %>
        <%= f.number_field :project_id, value: params[:project_id],  :class => 'form-control' %>
      <% else %>
        <%= f.number_field :project_id, :class => 'form-control' %>
      <% end %>
    </div>
    <%=f.error_span(:user_id) %>
  </div>

  <div class="form-group">  
    <% if @images.exists? %>
      <%= f.label :map_image, 'Map Image', :class => 'control-label col-lg-2'  %>
        <div class="col-lg-10">
          <% if (@images.count > 0) %>
            <% @images.each do |p| %>
                  <div class="form-control">
                    <% if p.image_url != nil %>
                    <%= image_tag p.image_url, :class => 'form-control-image' %>
                    <% end %>
  
                  <%= link_to '<i class="fa fa-edit"></i>'.html_safe,
                        edit_image_path(p), :class => 'form-control-button', 
                        :title => 'Edit Attachment'  %>
                  </div>
                  
            <% end %>
          <% end %>
        </div>
    
    <% else %>  
         <%= f.label :map_image, 'Map Image', :class => 'control-label col-lg-2'  %>
         <div class="col-lg-10">
         <%= f.file_field :image, :multiple => false, name: "images[image][]",
          :class => 'form-control', onchange: "validateFiles(this);",
          data: { max_file_size: 2.megabytes } %>
         </div>
    <% end %>
  </div> 

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">  
      *Image files must be in jpg jpeg gif png format and less than 10mb in size.
    </div>
  </div>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                project_path(@project), :class => 'btn btn-default' %>
    </div>
  </div>

<% end %>

<!-- This is a client side validation for the image -->
<script>
  function validateFiles(inputFile) {
  var maxExceededMessage = "This file exceeds the maximum allowed file size (2 MB)";
  var extErrorMessage = "Only image file with extensions: .jpg, .jpeg, .gif or .png are allowed";
  var allowedExtension = ["jpg", "jpeg", "gif", "png"];

  var extName;
  var maxFileSize = $(inputFile).data('max-file-size');
  var sizeExceeded = false;
  var extError = false;

  $.each(inputFile.files, function() {
    if (this.size && maxFileSize && this.size > parseInt(maxFileSize)) {sizeExceeded=true;};
    extName = this.name.split('.').pop();
    if ($.inArray(extName, allowedExtension) == -1) {extError=true;};
  });
  if (sizeExceeded) {
    window.alert(maxExceededMessage);
    $(inputFile).val('');
  };

  if (extError) {
    window.alert(extErrorMessage);
    $(inputFile).val('');
  };
}
</script>

<%#= render :partial => 'calcjquery' %>
