<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Cheers <%= @user.first_name %> - (<%= @user.email %>)</h1>
    <p>
      Status Plan is running normally as of <%= Time.now.in_time_zone('Eastern Time (US & Canada)').strftime("%A %B %d, %Y %l:%M%P %Z") %> / <%= Time.now.in_time_zone('Central Time (US & Canada)').strftime("%l:%M%P %Z") %>.
    </p>
    <p>System Stats:<br>
      Projects: <%= @projectscount %><br>
      Areas: <%= @areascount %><br>
      Deals: <%= @dealscount %><br>
      Users: <%= @userscount %><br>
      Super Admins: <%= @superadmincount %><br>
      Admins: <%= @admincount %><br>
      Editors: <%= @editorcount %><br>
      Normal Users: <%= @ucount %><br>
    </p>
  </body>
</html>