<%- model_class = Notification -%>
<br><br>
<div class="row">
    <div class="col-xs-2 col-xs-offset-1">
    </div>
    <div class="col-xs-6">
        <b>All Notifications:</b>
        <hr style="margin-top:2px;margin-bottom:10px;">
            <%# @notificationsall.reverse.each do |notification| %>
            <% @notificationspaginated.each do |notification| %>
            
                  <% if UserAvatar.where(user_id: notification.actor_id).first.present? %>
                      <img style="width:60px;margin-bottom:10px;margin-right:10px;float:left;" src="<%= UserAvatar.where(user_id: notification.actor_id).first.avatar %>">
                  <% else %>
                      <img style="width:60px;margin-bottom:10px;margin-right:10px;float:left;" src="/images/NO-IMAGE-AVAILABLE.jpg">
                  <% end %>
                  
                  <div style="margin-left:10px;">
                      <% if User.find_by_id(notification.actor_id) == nil %>
                          (Deleted User)
                      <% else %>
                          <%= User.find_by_id(notification.actor_id).first_name %>
                          <%= User.find_by_id(notification.actor_id).last_name %>
                      <% end %>
                  
                  
                  
                   
                  <% if notification.notifiable_type == 'Deal'%>
                      <% if Deal.find_by_id(notification.notifiable_id) == nil %>
                          <span><%= notification.action %> the <%= notification.notifiable_type %> for (Deleted Deal)</span>
                      <% else %>
                          <a href="/deals/<%= Deal.find_by_id(notification.notifiable_id).id %>"><%= notification.action %> the <%= notification.notifiable_type %> <%= Deal.find_by_id(notification.notifiable_id).deal_name %></a>
                      <% end %>
                  <% elsif notification.notifiable_type == 'Workletter' %>
                      <% if Workletter.find_by_id(notification.notifiable_id) == nil %>
                          <span><%= notification.action %> the <%= notification.notifiable_type %> for (Deleted Workletter)</a>
                      <% else %>
                          <a href="/deals/<%= Workletter.find_by_id(notification.notifiable_id).deal.id %>"><%= notification.action %> the <%= notification.notifiable_type %> for <%= Workletter.find_by_id(notification.notifiable_id).deal.deal_name %></a>
                      <% end %>
                  <% elsif notification.notifiable_type == 'Schedule' %>
                      <% if Schedule.find_by_id(notification.notifiable_id) == nil %>
                          <span><%= notification.action %> the <%= notification.notifiable_type %> for (Deleted Schedule)</a>
                      <% else %>
                          <a href="/deals/<%= Schedule.find_by_id(notification.notifiable_id).deal.id %>"><%= notification.action %> the <%= notification.notifiable_type %> for <%= Schedule.find_by_id(notification.notifiable_id).deal.deal_name %></a>
                      <% end %>
                  <% elsif notification.notifiable_type == 'Map' %>
                      <% if Map.find_by_id(notification.notifiable_id) == nil %>
                          <span><%= notification.action %> the <%= notification.notifiable_type %> for (Deleted Map)</span>
                      <% else %>
                          <a href="/maps/<%= notification.notifiable_id %>"><%= notification.action %> the <%= notification.notifiable_type %> for <%= Map.find_by_id(notification.notifiable_id).name %></a>
                      <% end %>
                  <% elsif notification.notifiable_type == 'Project' %>
                      <% if Project.find_by_id(notification.notifiable_id) == nil %>
                          <span><%= notification.action %> the <%= notification.notifiable_type %> for (Deleted Project)</span>
                      <% else %>
                          <a href="/projects/<%= Project.find_by_id(notification.notifiable_id) %>/projects/<%= notification.notifiable_id %>"><%= notification.action %> <%= notification.notifiable_type %> <%= Project.find_by_id(notification.notifiable_id).name %></a>
                      <% end %>
                  <% elsif notification.notifiable_type == 'Area' %>
                      <% if Area.find_by_id(notification.notifiable_id) == nil %>
                          <span><%= notification.action %> the <%= notification.notifiable_type %> for (Deleted Area)</span>
                      <% else %>
                          <a href="/areas/<%= notification.notifiable_id %>"><%= notification.action %> <%#= notification.notifiable_type %> Space #<%= Area.find_by_id(notification.notifiable_id).suite_number %></a>
                      <% end %>
                  <% else %>
                  -area (This shouldn't be happening)
                  <% end %>
           
                   on <%= Date.strptime(notification.created_at.to_s).strftime('%a %b %d, %Y') %>
                   at
                   <% datetime = DateTime.parse(notification.created_at.to_s).in_time_zone('Eastern Time (US & Canada)') %>
                   <%= datetime.strftime('%I:%M %p') %>
                  </div>
        
                  <hr style="margin-top:2px;margin-bottom:10px;clear:both;">
                  
            <% end %>
            
            <div style="width:100%;text-align:center;">
                <%= will_paginate @notificationspaginated, renderer: BootstrapPagination::Rails %>
            </div>
            
    </div>
    <div class="col-xs-2">
    </div>
</div>


<br><br>
