<div class="panel panel-default">
        <table class="table table-striped add-responsive /*print-none*/" style="/*display:none;*/">
          <thead>
            <tr>
              <!--<th>Area Image:</th>-->
              <th style="min-width:80px;">Deal Image:</th>
              <th style="min-width:80px;"><%= sort_link( @dealsquery, :deal_name, 'Deal Name:', {}, { :remote => true, :method => :get }) %></th>
              <th style="min-width:80px;"><%= sort_link(@dealsquery, :gross_area, 'Gross Area:', {}, { :remote => true, :method => :get }) %></th>
              <th style="min-width:80px;"><%= sort_link(@dealsquery, :lease_status, 'Lease Status:', {}, { :remote => true, :method => :get }) %></th>
              <!--<th style="min-width:80px;">Merch Status:</th>-->
              <th style="min-width:80px;"><%#= sort_link(@dealsquery, :suite_number) %>Suite #:</th>
              <th style="min-width:80px;"><%#= sort_link(@dealsquery, :areas) %>Associated Spaces:</th>
              
              <!--<th style="min-width:80px;">Leasing Manager:</th>-->
              
              <th style="min-width:25%;">Deal Term Notes:</th>
              
              <th class="print-none"><%=t '.actions', :default => t("helpers.actions") %></th>
            </tr>
          </thead>
          <tbody>
            <% @dealsforlist.each do |deal| %>
              <tr>
                <td style="text-align:left;">
                  <% if deal.dealimages.count > 0 %>
                    <%= link_to image_tag(deal.dealimages.first.dealimage_url, :style => 'width:80px;'), deal %>
                  <% else %>
                    <%= link_to image_tag('/images/status-plan-logo.png', :style => 'width:80px;'), deal %>
                  <% end %>
                </td>
                <td style="text-align:left;"><%= deal.deal_name %></td>
                <td style="text-align:left;"><%= number_with_delimiter(deal.gross_area, :delimiter => ',') %></td>
                <td style="text-align:left;"><%= deal.lease_status %></td>
                <!--<td style="text-align:left;"><%#= deal.merchandising_status %></td>-->
                
                <td style="text-align:left;"><% if deal.areas.count > 0 %><%= deal.areas.first.suite_number %><% else %>*No Space<% end %></td>
                <td style="text-align:left;"><%= deal.areas.count %></td>
                
                <!--
                <td style="text-align:left;"><% if !deal.leasing_manager.blank? %><%= LeasingManager.find(deal.leasing_manager).name %><% end %></td>
                -->
                
                <td style="text-align:left;width:30%;"><%= deal.term_notes.to_s.truncate(180) %></td>


                <td style="text-align:left;" class="print-none">
                  <%= link_to image_tag('/images/view-button.png'),
                              deal_path(deal), :class => 'action-buttons print-none',
                          :style => '' %>
                
                  <% if current_user.is_admin? || current_user.role == 'Admin' || current_user.role == 'Editor' %>
                  <%= link_to image_tag('/images/edit-button.png'),
                              edit_deal_path(deal), :class => 'action-buttons print-none',
                          :style => '' %>
                  <%#= link_to image_tag('/images/delete-button.png'),
                              deal_path(deal),
                              :method => :delete,
                              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                              :class => 'action-buttons print-none' %>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
</div>