<!-- go back to secondcharts -->
<div class="row" id="leasingStatusRow">
  <div class="col-xs-6" style="text-align:center;">
    <div id="chartContainer1" style="height: 300px; width: 100%;"></div>
    <!-- END Chart1 -->

    <h3 style="margin-top:20px;margin-bottom:2px;width:100%;">Deals: <%= @dealscount %></h3>
    
    <h3 style="margin-top:2px;margin-bottom:2px;width:100%;">Spaces: <%= @tenants %></h3>
  </div>
  <div class="col-xs-6" style="text-align:center;">
    
    <!-- Chart2 -->
    <div id="chartContainer2" style="height: 300px; width: 100%;"></div>
    <!-- END Chart2 -->

    <h3 style="margin-top:20px;margin-bottom:2px;width:100%;"><%= number_with_delimiter(@netrentablearea.compact.sum, :delimiter => ',') %> Potential (sf)</h3>
    
    <h3 style="margin-top:2px;margin-bottom:2px;width:100%;"><%= number_with_delimiter(@areasquarefootage.compact.sum, :delimiter => ',') %> GLA (sf)</h3>
  </div>
</div>

<div class="row" id="areaStatusRow">
  <div class="col-xs-6" style="text-align:center;">
     <div id="chartContainer3" style="height: 300px; width: 100%;"></div>
    
    <h3 style="margin-top:20px;margin-bottom:2px;">Tenants: <%= @tenants %></h3>
  </div>
  <div class="col-xs-6" style="text-align:center;">
    <div id="chartContainer4" style="height: 300px; width: 100%;"></div>
    <h3 style="margin-top:20px;margin-bottom:2px;"><%= number_with_delimiter(@areasquarefootage.compact.sum, :delimiter => ',') %> GLA (sf)</h3>
  </div>
</div>




<div class="row" id="merchandisingStatusRow">
  <div class="col-xs-6" style="text-align:center;">
    <!-- this original way was messing up the colors -->
    <%#= pie_chart @areas.group(:status).size, donut: true, library: {pieSliceText: "value", backgroundColor: "none", pieHole: 0.4, legend: {position: "none"}, slices: [{color: '#D13E27'}, {color: '#F16528'}, {color: '#d7b920'}, {color: '#89cadc'}, {color: '#38b449'}, {color: '#561871'}, {color: '#337198'}]} %>

     <!-- Chart5 -->
    <div id="chartContainer5" style="height: 300px; width: 100%;"></div>
    <!-- END Chart5 -->
    
    <h3 style="margin-top:20px;margin-bottom:2px;width:100%;">Deals: <%= @dealscount %></h3>
    
    <h3 style="margin-top:2px;margin-bottom:2px;width:100%;">Spaces: <%= @tenants %></h3>
    
    <!--
    <h3 style="margin-top:2px;margin-bottom:2px;width:100%;">Deals Archived: <%= @dealsarchivedcount %></h3>
    
    <h3 style="margin-top:2px;margin-bottom:2px;width:100%;">Deals Not Archived: <%= @dealsnotarchivedcount %></h3>
    
    -->
    
  </div>
  <div class="col-xs-6" style="text-align:center;">
    <!-- this original way was messing up the colors -->
    <%#= pie_chart @deals.group(:status).sum(:area_sqft), donut: true, library: {pieSliceText: "value", backgroundColor: "none", pieHole: 0.4, legend: {position: "none"}, slices: { '0': { color: '#D13E27' }, '1': { color: '#F16528' }, '2': { color: '#d7b920' }, '3': { color: '#89cadc' }, '4': { color: '#38b449' }, '5': { color: '#561871' }, '6': { color: '#337198' } }} %>
    
    <!-- Chart6 -->
    <div id="chartContainer6" style="height: 300px; width: 100%;"></div>
    <!-- END Chart6 -->
    
    <h3 style="margin-top:20px;margin-bottom:2px;width:100%;"><%= number_with_delimiter(@netrentablearea.compact.sum, :delimiter => ',') %> Potential (sf)</h3>
    
    <h3 style="margin-top:2px;margin-bottom:2px;width:100%;"><%= number_with_delimiter(@areasquarefootage.compact.sum, :delimiter => ',') %> GLA (sf)</h3>

  </div>
</div>


<div class="row" id="statsRow">
  <div class="col-xs-10 col-xs-offset-1" style="">
     <%= render '/projects/stats' %>
  </div>
</div>

<div class="row" id="spacesRow">
  <div class="col-xs-10 col-xs-offset-1" style="">
     <%= render '/projects/bottom_areas_list' %>
  </div>
</div>

<div class="row" id="dealsRow">
  <div class="col-xs-10 col-xs-offset-1" style="">
     <%= render '/projects/bottom_deals_list' %>
  </div>
</div>

<div class="row" id="infoRow">
  <div class="col-xs-10 col-xs-offset-1" style="">
     <%= render '/projects/project_info' %>
  </div>
</div>

<div class="row" id="settingsRow">
  <div class="col-xs-10 col-xs-offset-1" style="">
     <%= render '/projects/project_settings' %>
  </div>
</div>



<br><br>
<script>
    window.onload = function () {
    
    var chart1 = new CanvasJS.Chart("chartContainer1", {
    	animationEnabled: true,
    	//title:{
    		//text: "Email Categories",
    		//horizontalAlign: "left"
    	//},
    	data: [{
    		type: "doughnut",
    		startAngle: 60,
    		//innerRadius: 60,
    		indexLabelFontSize: 14,
    		indexLabel: "{label} - {y}",
    		toolTipContent: "<b>{label}:</b> {y} (#percent%)",
    		dataPoints: [
    			{ y: <%= @deals.where(lease_status: "Available").size %>, label: "Available", color: "#D13E27" },
    			{ y: <%= @deals.where(lease_status: "Prospect").size %>, label: "Prospect", color: "#E5BA21"  },
    			{ y: <%= @deals.where(lease_status: "LOI").size %>, label: "LOI", color: "#F16528"  },
    			{ y: <%= @deals.where(lease_status: "At Lease").size %>, label: "At Lease", color: "#15958A"  },
    			{ y: <%= @deals.where(lease_status: "Leased").size %>, label: "Leased", color: "#8BC53F"  }
    		]
    	}]
    });
    chart1.render();
    
    var chart2 = new CanvasJS.Chart("chartContainer2", {
    	animationEnabled: true,
    	//title:{
    		//text: "Email Categories",
    		//horizontalAlign: "left"
    	//},
    	data: [{
    		type: "doughnut",
    		startAngle: 60,
    		//innerRadius: 60,
    		indexLabelFontSize: 14,
    		indexLabel: "{label} - {y}",
    		toolTipContent: "<b>{label}:</b> {y} (#percent%)",
    		dataPoints: [
    			{ y: <%= @deals.where(lease_status: "Available").sum(:net_rentable_area) %>, label: "Available", color: "#D13E27" },
    			{ y: <%= @deals.where(lease_status: "Prospect").sum(:net_rentable_area) %>, label: "Prospect", color: "#E5BA21" },
    			{ y: <%= @deals.where(lease_status: "LOI").sum(:net_rentable_area) %>, label: "LOI", color: "#F16528" },
    			{ y: <%= @deals.where(lease_status: "At Lease").sum(:net_rentable_area) %>, label: "At Lease", color: "#15958A" },
    			{ y: <%= @deals.where(lease_status: "Leased").sum(:net_rentable_area) %>, label: "Leased", color: "#8BC53F" }
    		]
    	}]
    });
    chart2.render();
    
    var chart3 = new CanvasJS.Chart("chartContainer3", {
    	animationEnabled: true,
    	//title:{
    		//text: "Email Categories",
    		//horizontalAlign: "left"
    	//},
    	data: [{
    		type: "doughnut",
    		startAngle: 60,
    		//innerRadius: 60,
    		indexLabelFontSize: 14,
    		indexLabel: "{label} - {y}",
    		toolTipContent: "<b>{label}:</b> {y} (#percent%)",
    		dataPoints: [
    			{ y: <%= @areas.where(status: "01 Available").size %>, label: "01 Available", color: "#D13E27" },
    			{ y: <%= @areas.where(status: "02 Lease Negotiation").size %>, label: "02 Lease Negotiation", color: "#F16528" },
    			{ y: <%= @areas.where(status: "03 Landlord Construction").size %>, label: "03 Landlord Construction", color: "#E5BA21" },
    			{ y: <%= @areas.where(status: "04 Tenant Design").size %>, label: "04 Tenant Design", color: "#24b9ae" },
    			{ y: <%= @areas.where(status: "05 Tenant Fit-Out").size %>, label: "05 Tenant Fit-Out", color: "#c9e1f7" },
    			{ y: <%= @areas.where(status: "06 Open for Business").size %>, label: "06 Open for Business", color: "#15958A" },
    			{ y: <%= @areas.where(status: "07 Close-Out").size %>, label: "07 Close-Out", color: "#6e4a86" },
    			{ y: <%= @areas.where(status: "08 Operating").size %>, label: "08 Operating", color: "#8BC53F" }
    		]
    	}]
    });
    chart3.render();
    
    var chart4 = new CanvasJS.Chart("chartContainer4", {
    	animationEnabled: true,
    	//title:{
    		//text: "Email Categories",
    		//horizontalAlign: "left"
    	//},
    	data: [{
    		type: "doughnut",
    		startAngle: 60,
    		//innerRadius: 60,
    		indexLabelFontSize: 14,
    		indexLabel: "{label} - {y}",
    		toolTipContent: "<b>{label}:</b> {y} (#percent%)",
    		dataPoints: [
    			{ y: <%= @areas.where(status: "01 Available").sum(:area_sqft) %>, label: "01 Available", color: "#D13E27" },
    			{ y: <%= @areas.where(status: "02 Lease Negotiation").sum(:area_sqft) %>, label: "02 Lease Negotiation", color: "#F16528" },
    			{ y: <%= @areas.where(status: "03 Landlord Construction").sum(:area_sqft) %>, label: "03 Landlord Construction", color: "#E5BA21" },
    			{ y: <%= @areas.where(status: "04 Tenant Design").sum(:area_sqft) %>, label: "04 Tenant Design", color: "#24b9ae" },
    			{ y: <%= @areas.where(status: "05 Tenant Fit-Out").sum(:area_sqft) %>, label: "05 Tenant Fit-Out", color: "#c9e1f7" },
    			{ y: <%= @areas.where(status: "06 Open for Business").sum(:area_sqft) %>, label: "06 Open for Business", color: "#15958A" },
    			{ y: <%= @areas.where(status: "07 Close-Out").sum(:area_sqft) %>, label: "07 Close-Out", color: "#6e4a86" },
    			{ y: <%= @areas.where(status: "08 Operating").sum(:area_sqft) %>, label: "08 Operating", color: "#8BC53F" }
    		]
    	}]
    });
    chart4.render();
    
    var chart5 = new CanvasJS.Chart("chartContainer5", {
    	animationEnabled: true,
    	//title:{
    		//text: "Email Categories",
    		//horizontalAlign: "left"
    	//},
    	data: [{
    		type: "doughnut",
    		startAngle: 60,
    		//innerRadius: 60,
    		indexLabelFontSize: 12,
    		indexLabel: "{label} - {y}",
    		toolTipContent: "<b>{label}:</b> {y} (#percent%)",
    		dataPoints: [
    
    			{ y: <%= @deals.where(merchandising_status: "Auto / Gas").size %>, label: "Auto / Gas", color: "#66635f" },
    			{ y: <%= @deals.where(merchandising_status: "Candy / Confectionary").size %>, label: "Candy / Confectionary", color: "#f9ef7b" },
    			{ y: <%= @deals.where(merchandising_status: "Department Store").size %>, label: "Department Store", color: "#fed389" },
    			{ y: <%= @deals.where(merchandising_status: "Electronics").size %>, label: "Electronics", color: "#be8b67" },
    			{ y: <%= @deals.where(merchandising_status: "Entertainment").size %>, label: "Entertainment", color: "#e62536" },
    			{ y: <%= @deals.where(merchandising_status: "Fashion").size %>, label: "Fashion", color: "#67a5d7" },
    			{ y: <%= @deals.where(merchandising_status: "Food & Beverage").size %>, label: "Food & Beverage", color: "#f7b131" },
    			{ y: <%= @deals.where(merchandising_status: "Grocery / Hypermarket").size %>, label: "Grocery / Hypermarket", color: "#b6cf42" },
    			{ y: <%= @deals.where(merchandising_status: "Home / Furnishings").size %>, label: "Home / Furnishings", color: "#f38a7c" },
    			{ y: <%= @deals.where(merchandising_status: "Jewelry / Handbags").size %>, label: "Jewelry / Handbags", color: "#a6749c" },
    			{ y: <%= @deals.where(merchandising_status: "Mobiles / Accessories").size %>, label: "Mobiles / Accessories", color: "#3a63a8" },
    			{ y: <%= @deals.where(merchandising_status: "Perfume / Cosmetics").size %>, label: "Perfume / Cosmetics", color: "#ec4f92" },
    			{ y: <%= @deals.where(merchandising_status: "Pets").size %>, label: "Pets", color: "#e29423" },
    			{ y: <%= @deals.where(merchandising_status: "Services / Specialty Stores").size %>, label: "Services / Specialty Stores", color: "#efa1c5" },
    			{ y: <%= @deals.where(merchandising_status: "Sports / Outdoor / Fitness").size %>, label: "Sports / Outdoor / Fitness", color: "#7ca180" },
    			{ y: <%= @deals.where(merchandising_status: "Toys & Hobbies / Gifts / Books").size %>, label: "Toys & Hobbies / Gifts / Books", color: "#b2cce9" }
    		]
    	}]
    });
    chart5.render();
    
    var chart6 = new CanvasJS.Chart("chartContainer6", {
    	animationEnabled: true,
    	//title:{
    		//text: "Email Categories",
    		//horizontalAlign: "left"
    	//},
    	data: [{
    		type: "doughnut",
    		startAngle: 60,
    		//innerRadius: 60,
    		indexLabelFontSize: 12,
    		indexLabel: "{label} - {y}",
    		toolTipContent: "<b>{label}:</b> {y} (#percent%)",
    		dataPoints: [
    
    			{ y: <%= @deals.where(merchandising_status: "Auto / Gas").sum(:net_rentable_area) %>, label: "Auto / Gas", color: "#66635f" },
    			{ y: <%= @deals.where(merchandising_status: "Candy / Confectionary").sum(:net_rentable_area) %>, label: "Candy / Confectionary", color: "#f9ef7b" },
    			{ y: <%= @deals.where(merchandising_status: "Department Store").sum(:net_rentable_area) %>, label: "Department Store", color: "#fed389" },
    			{ y: <%= @deals.where(merchandising_status: "Electronics").sum(:net_rentable_area) %>, label: "Electronics", color: "#be8b67" },
    			{ y: <%= @deals.where(merchandising_status: "Entertainment").sum(:net_rentable_area) %>, label: "Entertainment", color: "#e62536" },
    			{ y: <%= @deals.where(merchandising_status: "Fashion").sum(:net_rentable_area) %>, label: "Fashion", color: "#67a5d7" },
    			{ y: <%= @deals.where(merchandising_status: "Food & Beverage").sum(:net_rentable_area) %>, label: "Food & Beverage", color: "#f7b131" },
    			{ y: <%= @deals.where(merchandising_status: "Grocery / Hypermarket").sum(:net_rentable_area) %>, label: "Grocery / Hypermarket", color: "#b6cf42" },
    			{ y: <%= @deals.where(merchandising_status: "Home / Furnishings").sum(:net_rentable_area) %>, label: "Home / Furnishings", color: "#f38a7c" },
    			{ y: <%= @deals.where(merchandising_status: "Jewelry / Handbags").sum(:net_rentable_area) %>, label: "Jewelry / Handbags", color: "#a6749c" },
    			{ y: <%= @deals.where(merchandising_status: "Mobiles / Accessories").sum(:net_rentable_area) %>, label: "Mobiles / Accessories", color: "#3a63a8" },
    			{ y: <%= @deals.where(merchandising_status: "Perfume / Cosmetics").sum(:net_rentable_area) %>, label: "Perfume / Cosmetics", color: "#ec4f92" },
    			{ y: <%= @deals.where(merchandising_status: "Pets").sum(:net_rentable_area) %>, label: "Pets", color: "#e29423" },
    			{ y: <%= @deals.where(merchandising_status: "Services / Specialty Stores").sum(:net_rentable_area) %>, label: "Services / Specialty Stores", color: "#efa1c5" },
    			{ y: <%= @deals.where(merchandising_status: "Sports / Outdoor / Fitness").sum(:net_rentable_area) %>, label: "Sports / Outdoor / Fitness", color: "#7ca180" },
    			{ y: <%= @deals.where(merchandising_status: "Toys & Hobbies / Gifts / Books").sum(:net_rentable_area) %>, label: "Toys & Hobbies / Gifts / Books", color: "#b2cce9" }
    		]
    	}]
    });
    chart6.render();
    }
</script>