
<% if @project.maps.present? %>
<div class="row /*print-none*/" style="">
  <div class="col-xs-10 col-xs-offset-1">
    
    <div class="page-header print-none">
      <button data-toggle="collapse" data-target="#workletter-template-collapse" 
      class='btn btn-primary responsive-none print-none' 
      style='float:right;margin-left:10px;margin-top:12px;'><i class="fa fa-chevron-down"></i></button>
      <% if current_user.is_admin? || current_user.role == 'Admin' %>
      <%= link_to '+ Add Workletter Template',
                  new_workletter_template_path(:project_id => @project),
                  :class => 'btn btn-primary responsive-none print-none', :style => 'float:right;margin-top:12px;' %>
      <% end %>
      <h1>Workletter Templates</h1>
    </div>
    
    <div id="workletter-template-collapse" class="collapse">    
        <table class="table table-striped add-responsive /*print-none*/" style="/*display:none;*/">
          <thead>
            <tr>
              <th>ID</th>
              <th>Template Name</th>
              <th>Project ID</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% @workletter_templates.each do |workletter_template| %>
              <tr>
                <td><%= link_to workletter_template.id, workletter_template_path(workletter_template) %></td>
                <td><%= link_to workletter_template.template_name, workletter_template_path(workletter_template) %></td>
                <td><%= workletter_template.project_id %></td>
                <!--<td><%# if area.name.blank? %><%#= link_to 'Untitled Area', area_path(area) %><%# else %><%#= link_to area.name, area_path(area) %><%# end %></td>
                -->
                <td style="min-width:180px;">
                  <%= link_to 'View',
                              workletter_template_path(workletter_template), :class => 'btn btn-default btn-xs add-responsive-bottom print-none' %>
                  <% if current_user.is_admin? || current_user.role == 'Admin' %>
                  <%= link_to 'Edit',
                              edit_workletter_template_path(workletter_template), :class => 'btn btn-primary btn-xs responsive-none print-none' %>
                  <%= link_to 'Destroy',
                              workletter_template_path(workletter_template),
                              :method => :delete,
                              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                              :class => 'btn btn-xs btn-danger responsive-none print-none' %>
                  <% end %>
                </td>
              </tr>
              <!-- this worked - I can get it to do print only - 
              I need to decide what I want to do here report wise.
              <tr class="print-only-table-row">
                <td colspan="6">
                  This is the test...
                </td>
              </tr>
              -->
            <% end %>
          </tbody>
        </table>
    </div>
  </div>
</div>


<br>
<hr>
<% end %>