<% if current_user %>
<%- model_class = Project -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:picture) %></th>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <!--<th><%#= model_class.human_attribute_name(:users) %></th>-->
      <th><%= model_class.human_attribute_name(:owned_by) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><%= link_to project.id, project_path(project) %></td>
        <td>
          <% if (project.icons.exists?) && (project.icons.first.icon_url != nil) %>
          <%= link_to image_tag(project.icons.first.icon_url, 
              :style => 'max-width:100px;max-height:100px;padding:2px;', :class => ''), 
              project_path(project) %>
          <% end %>
        </td>
        <td><%= link_to project.name, project_path(project) %></td>
        <!--<td><%#= project.users.count %></td>-->
        <td><%= project.user_id %></td>
        <td><%=l project.created_at %></td>
        <td>
          
          <%= link_to t('.show', :default => t("helpers.links.show")),
                      project_path(project), :class => 'btn btn-default' %>
          
          <% if (current_user && current_user.is_admin?) || (current_user && current_user.role == 'Admin') || (current_user && current_user.role == 'Editor')  %>
            <%= link_to t('.edit', :default => t("helpers.links.edit")),
                        edit_project_path(project), :class => 'btn btn-primary' %>
            <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                        project_path(project),
                        :method => :delete,
                        :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                        :class => 'btn btn-danger' %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%#= link_to t('.new', :default => t("helpers.links.new")),
            new_project_path,
            :class => 'btn btn-primary' %>
<% else %>
  <h2>You are not authorized to be here. <a href="/" class="btn btn-default">Return Home</a></h2>
<% end %>
