<!-- Report by deal -->
<style>
 th, td {font-size: 1.0em;}
 th.center, td.center {text-align:center;}
</style>


<!-- additions for cover page -->
<div style="padding-top: 0.3in; padding-left: 0.7in; padding-right: 0.7in">
  <span style="font-size: 35px">Property Statistics</span>
  <hr>
</div>

<!-- overall row one -->
<div class="row" id="leasingStatusRow">
  <div class="col-xs-5" style="text-align:center;">
    <div id="chart-12" style="text-align: center; color: #999; 
    height: 500px; width: 600px; line-height: 600px; margin-left:100px;
    font-size: 16pt; font-family: 'Lucida Grande', 'Lucida Sans Unicode', Verdana, Arial, Helvetica, sans-serif;">Loading...</div>
    <script type="text/javascript">
      new Chartkick.PieChart("chart-12", {
          "Available":<%= @deals.where(lease_status: "Available").count %>,
          "Prospect":<%= @deals.where(lease_status: "Prospect").count %>,
          "LOI":<%= @deals.where(lease_status: "LOI").count %>,
          "At Lease":<%= @deals.where(lease_status: "At Lease").count %>,
          "Leased":<%= @deals.where(lease_status: "Leased").count %>
        },
        {
          "donut": true, "library": {
            "pieSliceText": "value",
            "backgroundColor": "none",
            "pieHole": 0.4,
            "legend": {"position": "none"},
            "slices": [{"color": "#D13E27"}, {"color": "#E5BA21"}, {"color": "#F16528"}, {"color": "#15958A"}, {"color": "#8BC53F"}]
          }
        });
    </script>

    <span style="font-size: 27px;font-weight: bold;">Deals: <%= @dealscount %></span><br>
    <span style="font-size: 27px;font-weight: bold;">Spaces: <%= @tenants %></span>
  </div>
  <div class="col-xs-5" style="text-align:center;">
    <div id="chart-13" style="text-align: center; color: #999; 
    height: 500px; width: 600px; line-height: 600px; margin-left:100px;
    font-size: 16pt; font-family: 'Lucida Grande', 'Lucida Sans Unicode', Verdana, Arial, Helvetica, sans-serif;">Loading...</div>
    <script type="text/javascript">
      new Chartkick.PieChart("chart-13", {
        "Available":<%= @deals.where(lease_status: "Available").sum(:net_rentable_area) %>,
        "Prospect":<%= @deals.where(lease_status: "Prospect").sum(:net_rentable_area) %>,
        "LOI":<%= @deals.where(lease_status: "LOI").sum(:net_rentable_area) %>,
        "At Lease":<%= @deals.where(lease_status: "At Lease").sum(:net_rentable_area) %>,
        "Leased":<%= @deals.where(lease_status: "Leased").sum(:net_rentable_area) %>
      }, {
        "donut": true,
        "library": {
          "pieSliceText": "value",
          "backgroundColor": "none",
          "font-size": "16pt",
          "pieHole": 0.4,
          "legend": {"position": "none"},

          "slices": {
            "0": {"color": "#D13E27"},
            "1": {"color": "#E5BA21"},
            "2": {"color": "#F16528"},
            "3": {"color": "#15958A"},
            "4": {"color": "#8BC53F"}
          }
        }
      });
    </script>

    <span style="font-size: 27px; font-weight: bold;"><%= number_with_delimiter(@netrentablearea.compact.sum, :delimiter => ',') %> Potential (sf)</span><br>
    <span style="font-size: 27px; font-weight: bold;"><%= number_with_delimiter(@areasquarefootage.compact.sum, :delimiter => ',') %> GLA (sf)</span>

  </div>


  <div class="col-xs-2" style="text-align:left; font-size: 20pt; height: 100%; padding-top: 80px">
      <div><i class="fa fa-certificate" style="color:#D13E27 !important;"></i> Available</div>
      <div><i class="fa fa-certificate" style="color:#E5BA21 !important;"></i> Prospect</div>
      <div><i class="fa fa-certificate" style="color:#F16528 !important;"></i> LOI</div>
      <div><i class="fa fa-certificate" style="color:#15958A !important;"></i> At Lease</div>
      <div><i class="fa fa-certificate" style="color:#8BC53F !important;"></i> Leased</div>
  </div>
</div>
<!-- End overall row one -->

<div style="margin-top: 10px; margin-bottom: 10px; padding-left: 0.7in; padding-right: 0.7in">
  <hr>
</div>

<!-- END additions for cover page -->

<div class="alwaysbreak">
  <table class="table">
    <thead>
      <!-- found solution here: https://github.com/mileszs/wicked_pdf/issues/185 -->
      <tr class="nobreak" style="page-break-inside: avoid;">
        <th width="6%" class="center">Lease Status</th>
        <th width="5%" class="center">Owner Approval</th>
        <th width="10%">Tenant Name</th>
        <th width="5%" class="center">Size</th>
        <th width="15%" class="center">Merchant Category</th>
        <th width="5%" class="center">Suite #</th>
        <th width="10%" class="center">Leasing Manager</th>
        <th>Lease Managers' Update</th>
        <th width="20%" class="center">Action</th>
        <th width="5%" class="center">Priority</th>
        
      </tr>
    </thead>
    <tbody>
      <% @table_object.each do |object| %>
        <!-- found solution here: https://github.com/mileszs/wicked_pdf/issues/185 -->
        <tr class="nobreak" style="page-break-inside: avoid;">
          <td class="<%= object[:lease_status].parameterize.underscore %> center"> <%= object[:lease_status] %> </td>
          <td class="center"> <% if object[:owner_approval] == true %><i style="color:#8BC53F;" class="fa fa-check" aria-hidden="true"></i><% else %><%#= object[:owner_approval] %><% end %> </td>
          <td> <%= object[:name] %> </td>
          <td class="center"> <%= number_with_precision(object[:area_sqft], precision: 0, delimiter: ',') %> </td>
          <td class="<%= object[:merchandising_status].parameterize.underscore %> center"> <%= object[:merchandising_status] %> </td>
          <td class="center"> <%= object[:suite_number] %> </td>
          <td class="center"> <%= object[:leasing_manager] %> </td>
          <td> <%= object[:status_notes].to_s.truncate(195) %> </td>
          <td class="center"> <%= object[:action_required] %> </td>
          <td class="center"> <% if object[:priority] == true %><i style="color:#E5BA21;" class="fa fa-star" aria-hidden="true"></i><% else %><% end %> </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<!-- END Report by deal -->