<style>
  .fa-minus-square {color:#d13e27;}
</style>

<% if (current_user && (current_user.project_ids.include? @project.id)) || (current_user && current_user.is_admin?) %>
<%- model_class = Project -%>
<% if @project.maps.present? %>

<% else %>
<br><br>
<% end %>

<% if @project.maps.present? %>
<div class="row row-correction" style="display:none">
<% else %>
<div class="row row-correction">
<% end %>
  <div class="col-xs-10 col-xs-offset-1">
    <div class="page-header">
        <h1 style="font-size: 38px;color:#231f20;">
          <% if @project.maps.present? %>
            <%= link_to @maptitle, map_path(@map), :style => 'color:#231f20' %>
          <% else %>
            Add your first image map here: 
            <%= link_to '+ Image Map',
                        new_map_path(:project_id => @project),
                        :class => 'btn btn-primary responsive-none print-none', :style => 'color:#231f20;background-color:#fff;' %> 
          <% end %>
        </h1>
    </div>
  </div>
</div>

<% if @project.maps.present? %>
<div class="row row-correction" style="page-break-inside: avoid;">
  <div class="col-xs-10 col-xs-offset-1" style="">
    <br><br>
    <%= render '/maps/fullmap' %>
  </div>
</div>
<% end %>

<% if @project.maps.present? %>
<%= render '/projects/switch_buttons' %>
<% end %>





<% else %>
 <h2>You are not authorized to be here. <a href="/" class="btn btn-default">Return Home</a></h2>
<% end %>

<%= render '/projects/switch_jquery' %>