
<style>
  .fa-minus-square {color:#d13e27;}
</style>

<% if (current_user && (current_user.project_ids.include? @project.id)) || (current_user && current_user.is_admin?) %>
<%- model_class = Project -%>
<% if @project.maps.present? %>

<% else %>
<br><br>
<% end %>

<% if @project.maps.present? %>
<div class="row" style="display:none">
<% else %>
<div class="row">
<% end %>
  <div class="col-xs-10 col-xs-offset-1">
    <div class="page-header">
        <h1 style="font-size: 38px;color:#231f20;">
          <% if @project.maps.present? %>
            <%= link_to @maptitle, map_path(@map), :style => 'color:#231f20' %>
          <% else %>
            Add your first image map here: 
            <%= link_to '+ Image Map',
                        new_map_path(:project_id => @project),
                        :class => 'btn btn-primary responsive-none print-none', :style => 'color:#231f20;background-color:#fff;' %> 
          <% end %>
        </h1>
    </div>
  </div>
</div>

<% if @project.maps.present? %>
<div class="row" style="page-break-inside: avoid;">
  <div class="col-xs-12" style="padding-left:0;padding-right:0;">
    <%= render '/maps/fullmap' %>
  </div>
</div>
<% end %>

<% if @project.maps.present? %>
<%= render '/projects/switch_buttons' %>
<% end %>

<!--
<div class="project-admin-bar" style="text-align:center;">
  <%# if current_user.is_admin? || current_user.role == 'Admin' || current_user.role == 'Editor' %>
  <%#= link_to '+ Add space', new_area_path(:map_id => @map,:project_id => @project),
                    :class => 'btn btn-primary print-none',
                    :style => 'margin-top:4px;margin-bottom:4px;margin-right:10px;color:#fff;background-color:#F16528;border-color:#F16528;' %>
  <%#= link_to '+ Add Deal', new_deal_path(:map_id => @map,:project_id => @project),
                    :class => 'btn btn-primary print-none',
                    :style => 'margin-top:4px;margin-bottom:4px;margin-right:10px;color:#fff;background-color:#16A3BA;border-color:#16A3BA;' %>
  <%# end %>

</div>
-->





<% if @project.maps.present? %>
  <% if @areas.count > 0 %>
    <%= render '/projects/switch_area' %>
  <% end %>
<% end %>

</div>



<!-- Workletter templates index -->
<%#= render '/projects/workletter_templates' %>

<!-- project info -->
<%#= render '/projects/project_info' %>

<br>

<% else %>
 <h2>You are not authorized to be here. <a href="/" class="btn btn-default">Return Home</a></h2>
<% end %>

<%= render '/projects/switch_jquery' %>