<%- model_class = Deal -%>
<strong><%= model_class.human_attribute_name(:add_area_association) %>:</strong>
<%= form_for @areas_deal, :html => { :class => "form-horizontal areas_deal" } do |f| %>

  <% if @areas_deal.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@areas_deal.errors.count, "error") %> prohibited this areas_deal from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @areas_deal.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

<div style="width:160px;float:left;padding-right:5px;margin-bottom:20px;">
    <%= f.number_field :deal_id, value: params[:id], :class => 'form-control', :style => 'display:none;' %>
    <%= f.select :area_id, @otherareas.map{ |a| [a.suite_number, a.id] }, {include_blank: false}, :class => 'form-control', :style => 'height:40px;' %>
    <%= f.number_field :project_id, value: @deal.project_id, :class => 'form-control', :style => 'display:none;' %>

    <%=f.error_span(:area_id) %>
    <%=f.error_span(:deal_id) %>
    <%=f.error_span(:project_id) %>
</div>    
    <%= f.submit '+ Associate Area', :class => 'btn btn-primary', :style => 'height:40px;' %>

<% end %>

    
