<div class="row">
<!-- buttons for changing the color layers with script for buttons -->
  <div class="" style="width:100%;margin-top:10px;margin-bottom:10px;text-align:center;">
    <button type="button" id="dealInfoButton" style="" class="btn print-none deal-switch-buttons deal-buttons-active">Deal Info</button>
    <button type="button" id="dealTermButton" style="" class="btn print-none deal-switch-buttons">Term of Deal</button>
    <button type="button" id="thirdDealButton" style="" class="btn print-none deal-switch-buttons">Third</button>
    <button type="button" id="fourthDealButton" style="" class="btn print-none deal-switch-buttons">Fourth</button>
    <button type="button" id="fifthDealButton" style="" class="btn print-none deal-switch-buttons">Fifth</button>
    <button type="button" id="sixthDealButton" style="" class="btn print-none deal-switch-buttons">Sixth</button>
    <button type="button" id="seventhDealButton" style="" class="btn print-none deal-switch-buttons">Seventh</button>
  </div>
</div>



<div class="row" id="dealInfoRow"><!-- switch row -->
  <div class="col-xs-10 col-xs-offset-1"><!-- inner -->


<div class="row">
  <div class="col-xs-2">
  </div>
  <div class="col-xs-8">
    <strong>Status Notes:</strong> <%= simple_format(@deal.status_notes) %>
    
  </div>
  <div class="col-xs-2">

  </div>
</div>

<div class="row">
  <div class="col-xs-2">
  </div>
  <div class="col-xs-8">
    <strong>Tenant Description:</strong> <%= simple_format(@deal.tenant_description) %>
    
  </div>
  <div class="col-xs-2">

  </div>
</div>


<div class="row">
  <div class="col-xs-2">
  </div>
  <div class="col-xs-8">
    <strong>Tenant Contact:</strong> <%= @deal.tenant_contact %><br><br>
  </div>
  <div class="col-xs-2">

  </div>
</div>

<div class="row">
  <div class="col-xs-2">
  </div>
  <div class="col-xs-8">
    <strong>Key Contacts:</strong> <%= simple_format(@deal.key_contacts) %>
    
  </div>
  <div class="col-xs-2">

  </div>
</div>

<div class="row">
  <div class="col-xs-2">
  </div>
  <div class="col-xs-8">
    <!--<strong>Tenant Documents:</strong> <%= @deal.tenant_documents %>-->
      <%= form_for @deal, :html => { :class => "form-horizontal area" } do |f| %>
            <p style="font-weight:bold;">Tenant Documents:</p>
            <%= f.text_field :tenant_documents, :class => 'form-control add-tags' %>
          <hr>
      <% end %>
  </div>
  <div class="col-xs-2">
  </div>
</div>

<div class="row">
  <div class="col-xs-2">
  </div>
  <div class="col-xs-8">
    <!--<strong>Tenant Documents:</strong> <%= @deal.landlord_work %>-->
      <%= form_for @deal, :html => { :class => "form-horizontal area" } do |f| %>
            <p style="font-weight:bold;">Landlord Work:</p>
            <%= f.text_field :landlord_work, :class => 'form-control add-tags' %>
          <hr>
      <% end %>
  </div>
  <div class="col-xs-2">
  </div>
</div>

<hr>

<div class="row">
  <div class="col-xs-2">
  </div>
  <div class="col-xs-4">
    <strong>Priority:</strong> <% if @deal.priority == true %><i style="color:#E5BA21;" class="fa fa-star" aria-hidden="true"></i><% else %><% end %>
  </div>
  <div class="col-xs-4">
    <strong>Owner Approval:</strong> <%#= @deal.owner_approval %>
    <% if @deal.owner_approval == true %><i style="color:#8BC53F;" class="fa fa-check" aria-hidden="true"></i><% else %><%#= object[:owner_approval] %><% end %>
  </div>
  <div class="col-xs-2">
  </div>
</div>

<hr>


  </div><!-- inner -->
</div><!-- switch row -->


<div class="row" id="dealTermRow"><!-- switch row -->
  <div class="col-xs-10 col-xs-offset-1"><!-- inner -->

<div class="row">
  <div class="col-xs-12">
    <div class="page-header"><h3>Term of Deal</h3></div>
  </div>
</div>

<div class="row">
  <div class="col-xs-2">
  </div>
  <div class="col-xs-4">
    <strong>Deal Term:</strong> <%= @deal.deal_term %> years<br>
    <% if @deal.fit_out_duration == 'other' %>
      <strong>Fit Out Duration:</strong> <%= @deal.fit_out_duration_if %> days
    <% else %>
      <strong>Fit Out Duration:</strong> <%= @deal.fit_out_duration %> days
    <% end %>
  </div>
  <div class="col-xs-4">
    <strong>Date of Possession:</strong> <%= @deal.date_of_possession %><br>
    <strong>Action Required:</strong> <%= @deal.action_required %>
    
  </div>
  <div class="col-xs-2">
  </div>
</div>

<div class="row">
  <div class="col-xs-2">
  </div>
  <div class="col-xs-8">
    <strong>Term Notes:</strong> <%= simple_format(@deal.term_notes) %>
  </div>
  <div class="col-xs-2">
  </div>
</div>
<hr>

<div class="row">
  <div class="col-xs-12">
    <div class="page-header"><h3>Budget</h3></div>
  </div>
</div>

<div class="row">
  <div class="col-xs-2">
  </div>
  <div class="col-xs-4">
    <strong>Budget Rate:</strong> $<%= number_with_delimiter(@deal.budget_rate, :delimiter => ',') %>
  </div>
  <div class="col-xs-4">
    <strong>Budget TI:</strong> $<%= number_with_delimiter(@deal.budget_ti, :delimiter => ',') %><br>
    <strong>Base Building Cost:</strong> $<%= number_with_delimiter(@deal.base_building_cost, :delimiter => ',') %>
  </div>
  <div class="col-xs-2">
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <div class="page-header"><h3>Rent</h3></div>
  </div>
</div>

<div class="row">
  <div class="col-xs-2">
  </div>
  <div class="col-xs-4">
    <strong>Base Rent ($ per SqFt):</strong> $<%= number_with_delimiter(@deal.base_rent, :delimiter => ',') %><br>
    <strong>Percentage of Rent:</strong> <%= @deal.percentage_of_rent %><% if !@deal.percentage_of_rent %><% else %>%<% end %><br>
    <strong>Increase:</strong> <%= @deal.increase %><% if !@deal.increase %><% else %>%<% end %>
  </div>
  <div class="col-xs-4">
    <strong>Total Base Rent:</strong> $<%= number_with_delimiter(@deal.total_base_rent, :delimiter => ',') %><br>
    <strong>Break Point:</strong> $<%= number_with_delimiter(@deal.break_point, :delimiter => ',') %>
  </div>
  <div class="col-xs-2">
  </div>
</div>

<hr>

<div class="row">
  <div class="col-xs-12">
    <div class="page-header"><h3>Inducement</h3></div>
  </div>
</div>

<div class="row">
  <div class="col-xs-2">
  </div>
  <div class="col-xs-4">
    <strong>TI Allowance (per SqFt):</strong> $<%= number_with_delimiter(@deal.ti_allowance, :delimiter => ',') %><br>
    <strong>LL Work (per SqFt):</strong> <% if @workletter != nil %>$<%= number_with_delimiter(@workletter.ll_work, :delimiter => ',') %><% end %><br>
    <strong>Fit Out (per SqFt):</strong> $<%= number_with_delimiter(@deal.fit_out, :delimiter => ',') %>
  </div>
  <div class="col-xs-4">
    <strong>TI Cost:</strong> $<%= number_with_delimiter(@deal.ti_cost, :delimiter => ',') %><br>
    <strong>LL Work Cost:</strong> <% if @workletter != nil %>$<%= number_with_delimiter(@workletter.ll_work_cost, :delimiter => ',') %><% end %><br>
    <strong>Fit Out Cost:</strong> $<%= number_with_delimiter(@deal.fit_out_cost, :delimiter => ',') %>

  </div>
  <div class="col-xs-2">
  </div>
</div>

<div class="row">
  <div class="col-xs-2">
  </div>
  <div class="col-xs-8">
    <strong>Abatement:</strong> <%= simple_format(@deal.abatement) %>
  </div>
  <div class="col-xs-2">
  </div>
</div>

<hr>

<div class="row">
  <div class="col-xs-12">
    <div class="page-header"><h3>CAM</h3></div>
  </div>
</div>

<div class="row">
  <div class="col-xs-2">
  </div>
  <div class="col-xs-4">
    <strong>CAM (per SqFt):</strong> $<%= number_with_delimiter(@deal.cam, :delimiter => ',') %>
  </div>
  <div class="col-xs-4">
    <strong>CAM Cost Annually:</strong> $<%= number_with_delimiter(@deal.cam_cost, :delimiter => ',') %>
  </div>
  <div class="col-xs-2">
  </div>
</div>

<hr>

<div class="row">
  <div class="col-xs-12">
    <div class="page-header"><h3>Commission</h3></div>
  </div>
</div>

<div class="row">
  <div class="col-xs-2">
  </div>
  <div class="col-xs-4">
    <strong>Commission Inside:</strong> $<%= number_with_delimiter(@deal.comm_inside, :delimiter => ',') %>
  </div>
  <div class="col-xs-4">
    <strong>Commission Outside:</strong> $<%= number_with_delimiter(@deal.comm_outside, :delimiter => ',') %>
  </div>
  <div class="col-xs-2">
  </div>
</div>

<hr>

<div class="row">
  <div class="col-xs-12">
    <div class="page-header"><h3>Fees</h3></div>
  </div>
</div>

<div class="row">
  <div class="col-xs-2">
  </div>
  <div class="col-xs-4">
    <strong>Taxes (per SqFt):</strong> $<%= number_with_delimiter(@deal.taxes, :delimiter => ',') %><br>
    <strong>Insurance (per SqFt):</strong> $<%= number_with_delimiter(@deal.insurance, :delimiter => ',') %><br>
    <strong>Marketing (per SqFt):</strong> $<%= number_with_delimiter(@deal.marketing, :delimiter => ',') %><br>
    <strong>GO Marketing (per SqFt):</strong> $<%= number_with_delimiter(@deal.go_marketing, :delimiter => ',') %><br>
    <strong>Trash (per SqFt):</strong> $<%= number_with_delimiter(@deal.trash, :delimiter => ',') %><br>
    <strong>Other (per SqFt):</strong> $<%= number_with_delimiter(@deal.other, :delimiter => ',') %><br>
    <strong>Fee SqFt Total:</strong> $<%= number_with_delimiter(@deal.fee_sqft_total, :delimiter => ',') %>
  </div>
  <div class="col-xs-4">
    <strong>Taxes Cost:</strong> $<%= number_with_delimiter(@deal.taxes_cost, :delimiter => ',') %><br>
    <strong>Insurance Cost:</strong> $<%= number_with_delimiter(@deal.insurance_cost, :delimiter => ',') %><br>
    <strong>Marketing Cost:</strong> $<%= number_with_delimiter(@deal.marketing_cost, :delimiter => ',') %><br>
    <strong>GO Marketing Cost:</strong> $<%= number_with_delimiter(@deal.go_marketing_cost, :delimiter => ',') %><br>
    <strong>Trash Cost:</strong> $<%= number_with_delimiter(@deal.trash_cost, :delimiter => ',') %><br>
    <strong>Other Cost:</strong> $<%= number_with_delimiter(@deal.other_cost, :delimiter => ',') %><br>
    <strong>Fee Total Cost:</strong> $<%= number_with_delimiter(@deal.fee_cost_total, :delimiter => ',') %>
  </div>
  <div class="col-xs-2">
  </div>
</div>


  </div><!-- inner -->
</div><!-- switch row -->

<div class="row" id="thirdDealRow"><!-- switch row -->
  <div class="col-xs-10 col-xs-offset-1"><!-- inner -->
    This is the third deal switch area
  </div><!-- inner -->
</div><!-- switch row -->

<div class="row" id="fourthDealRow"><!-- switch row -->
  <div class="col-xs-10 col-xs-offset-1"><!-- inner -->
    This is the fourth deal switch area
  </div><!-- inner -->
</div><!-- switch row -->

<div class="row" id="fifthDealRow"><!-- switch row -->
  <div class="col-xs-10 col-xs-offset-1"><!-- inner -->
    This is the fifth deal switch area
  </div><!-- inner -->
</div><!-- switch row -->

<div class="row" id="sixthDealRow"><!-- switch row -->
  <div class="col-xs-10 col-xs-offset-1"><!-- inner -->
    This is the sixth deal switch area
  </div><!-- inner -->
</div><!-- switch row -->

<div class="row" id="seventhDealRow"><!-- switch row -->
  <div class="col-xs-10 col-xs-offset-1"><!-- inner -->


<div class="row">
  <div class="col-xs-8 col-xs-offset-2 print-none">
    <hr class="print-none">

  <div class="page-header print-none">
    <button data-toggle="collapse" data-target="#schedule-collapse" 
      class='btn btn-primary green-button print-none' 
      style='float:right;margin-top:12px;margin-left:10px;'><i class="fa fa-chevron-down"></i></button>
      <% if (current_user && current_user.is_admin?) || (current_user && current_user.role == 'Admin') || (current_user && current_user.role == 'Editor') %>
      
        <% if @deal.schedule.present? %>
          <%= link_to '+ Edit Schedule',
                      edit_schedule_path(@deal.schedule.id),
                      :class => 'btn btn-primary green-button responsive-none print-none', :style => 'float:right;margin-top:12px;' %>
        
        <% else %>
          <%= link_to '+ Create Schedule',
                      new_schedule_path(:deal_id => @deal),
                      :class => 'btn btn-primary green-button responsive-none print-none', :style => 'float:right;margin-top:12px;' %>
        <% end %>
      <% end %>  
      <h1 class="print-none">Schedule</h1>
  </div>
  
  <div id="schedule-collapse" class="collapse in">
    <% if @deal.schedule.present? %>
      <%= render 'schedule' %>
    <% else %>
      <h1 style="font-style:italic;">*There is currently no Schedule.</h1>
    <% end %>
  </div>

  </div>
</div>
<br><br>




<div class="row">
  <div class="col-xs-8 col-xs-offset-2 print-none">
    

      <div class="page-header print-none">
        <button data-toggle="collapse" data-target="#workletters-collapse" 
          class='btn btn-primary green-button print-none' 
          style='float:right;margin-top:12px;margin-left:10px;'><i class="fa fa-chevron-down"></i></button>
          <% if (current_user && current_user.is_admin?) || (current_user && current_user.role == 'Admin') || (current_user && current_user.role == 'Editor') %>
          
            <% if @deal.workletter.present? %>
              <%= link_to '+ Edit Workletter',
                          edit_workletter_path(@deal.workletter.id),
                          :class => 'btn btn-primary green-button responsive-none print-none', :style => 'float:right;margin-top:12px;' %>
            
            <% else %>
              <%= link_to '+ Create Workletter',
                          new_workletter_path(:deal_id => @deal),
                          :class => 'btn btn-primary green-button responsive-none print-none', :style => 'float:right;margin-top:12px;' %>
            <% end %>
          <% end %>  
          <h1 class="print-none">Workletter</h1>
          
      </div>
      
      <div id="workletters-collapse" class="collapse">
        <% if @deal.workletter.present? %>
          <%= render 'workletter' %>
        <% else %>
          <h1 style="font-style:italic;">*There is currently no Workletter.</h1>
        <% end %>
      </div>

  </div>
</div>

  </div><!-- inner -->
</div><!-- switch row -->


<style>
.deal-buttons-active,.deal-buttons-active:focus { background-color: #000; color:#fff;
            border:0; outline:0 !important; }
.deal-buttons-active:hover {color:#ddd;}
.deal-switch-buttons:focus { outline:0 !important; }
</style>


<script>
  $(document).ready(function(){
      
      //click leasing
    $('#dealInfoButton').click(function (){
      $('#dealInfoRow').show("slow");
      $('#dealTermRow').hide("slow");
      $('#thirdDealRow').hide("slow");
      $('#fourthDealRow').hide("slow");
      $('#fifthDealRow').hide("slow");
      $('#sixthDealRow').hide("slow");
      $('#seventhDealRow').hide("slow");
      
      $( "#dealInfoButton" ).removeClass( "" ).addClass( "deal-buttons-active" );
      $( "#dealTermButton" ).removeClass( "deal-buttons-active" ).addClass( "" );
      $( "#thirdDealButton" ).removeClass( "deal-buttons-active" ).addClass( "" );
      $( "#fourthDealButton" ).removeClass( "deal-buttons-active" ).addClass( "" );
      $( "#fifthDealButton" ).removeClass( "deal-buttons-active" ).addClass( "" );
      $( "#sixthDealButton" ).removeClass( "deal-buttons-active" ).addClass( "" );
      $( "#seventhDealButton" ).removeClass( "deal-buttons-active" ).addClass( "" );
    });  
    
    $('#dealTermButton').click(function (){
      $('#dealInfoRow').hide("slow");
      $('#dealTermRow').show("slow");
      $('#thirdDealRow').hide("slow");
      $('#fourthDealRow').hide("slow");
      $('#fifthDealRow').hide("slow");
      $('#sixthDealRow').hide("slow");
      $('#seventhDealRow').hide("slow");
      
      $( "#dealInfoButton" ).removeClass( "deal-buttons-active" ).addClass( "" );
      $( "#dealTermButton" ).removeClass( "" ).addClass( "deal-buttons-active" );
      $( "#thirdDealButton" ).removeClass( "deal-buttons-active" ).addClass( "" );
      $( "#fourthDealButton" ).removeClass( "deal-buttons-active" ).addClass( "" );
      $( "#fifthDealButton" ).removeClass( "deal-buttons-active" ).addClass( "" );
      $( "#sixthDealButton" ).removeClass( "deal-buttons-active" ).addClass( "" );
      $( "#seventhDealButton" ).removeClass( "deal-buttons-active" ).addClass( "" );
    });  
    
    $('#thirdDealButton').click(function (){
      $('#dealInfoRow').hide("slow");
      $('#dealTermRow').hide("slow");
      $('#thirdDealRow').show("slow");
      $('#fourthDealRow').hide("slow");
      $('#fifthDealRow').hide("slow");
      $('#sixthDealRow').hide("slow");
      $('#seventhDealRow').hide("slow");
      
      $( "#dealInfoButton" ).removeClass( "deal-buttons-active" ).addClass( "" );
      $( "#dealTermButton" ).removeClass( "deal-buttons-active" ).addClass( "" );
      $( "#thirdDealButton" ).removeClass( "" ).addClass( "deal-buttons-active" );
      $( "#fourthDealButton" ).removeClass( "deal-buttons-active" ).addClass( "" );
      $( "#fifthDealButton" ).removeClass( "deal-buttons-active" ).addClass( "" );
      $( "#sixthDealButton" ).removeClass( "deal-buttons-active" ).addClass( "" );
      $( "#seventhDealButton" ).removeClass( "deal-buttons-active" ).addClass( "" );
    });  
    
    $('#fourthDealButton').click(function (){
      $('#dealInfoRow').hide("slow");
      $('#dealTermRow').hide("slow");
      $('#thirdDealRow').hide("slow");
      $('#fourthDealRow').show("slow");
      $('#fifthDealRow').hide("slow");
      $('#sixthDealRow').hide("slow");
      $('#seventhDealRow').hide("slow");
      
      $( "#dealInfoButton" ).removeClass( "deal-buttons-active" ).addClass( "" );
      $( "#dealTermButton" ).removeClass( "deal-buttons-active" ).addClass( "" );
      $( "#thirdDealButton" ).removeClass( "deal-buttons-active" ).addClass( "" );
      $( "#fourthDealButton" ).removeClass( "" ).addClass( "deal-buttons-active" );
      $( "#fifthDealButton" ).removeClass( "deal-buttons-active" ).addClass( "" );
      $( "#sixthDealButton" ).removeClass( "deal-buttons-active" ).addClass( "" );
      $( "#seventhDealButton" ).removeClass( "deal-buttons-active" ).addClass( "" );
    });  
    
    $('#fifthDealButton').click(function (){
      $('#dealInfoRow').hide("slow");
      $('#dealTermRow').hide("slow");
      $('#thirdDealRow').hide("slow");
      $('#fourthDealRow').hide("slow");
      $('#fifthDealRow').show("slow");
      $('#sixthDealRow').hide("slow");
      $('#seventhDealRow').hide("slow");
      
      $( "#dealInfoButton" ).removeClass( "deal-buttons-active" ).addClass( "" );
      $( "#dealTermButton" ).removeClass( "deal-buttons-active" ).addClass( "" );
      $( "#thirdDealButton" ).removeClass( "deal-buttons-active" ).addClass( "" );
      $( "#fourthDealButton" ).removeClass( "deal-buttons-active" ).addClass( "" );
      $( "#fifthDealButton" ).removeClass( "" ).addClass( "deal-buttons-active" );
      $( "#sixthDealButton" ).removeClass( "deal-buttons-active" ).addClass( "" );
      $( "#seventhDealButton" ).removeClass( "deal-buttons-active" ).addClass( "" );
    });  
    
    $('#sixthDealButton').click(function (){
      $('#dealInfoRow').hide("slow");
      $('#dealTermRow').hide("slow");
      $('#thirdDealRow').hide("slow");
      $('#fourthDealRow').hide("slow");
      $('#fifthDealRow').hide("slow");
      $('#sixthDealRow').show("slow");
      $('#seventhDealRow').hide("slow");
      
      $( "#dealInfoButton" ).removeClass( "deal-buttons-active" ).addClass( "" );
      $( "#dealTermButton" ).removeClass( "deal-buttons-active" ).addClass( "" );
      $( "#thirdDealButton" ).removeClass( "deal-buttons-active" ).addClass( "" );
      $( "#fourthDealButton" ).removeClass( "deal-buttons-active" ).addClass( "" );
      $( "#fifthDealButton" ).removeClass( "deal-buttons-active" ).addClass( "" );
      $( "#sixthDealButton" ).removeClass( "" ).addClass( "deal-buttons-active" );
      $( "#seventhDealButton" ).removeClass( "deal-buttons-active" ).addClass( "" );
    });  
    
    $('#seventhDealButton').click(function (){
      $('#dealInfoRow').hide("slow");
      $('#dealTermRow').hide("slow");
      $('#thirdDealRow').hide("slow");
      $('#fourthDealRow').hide("slow");
      $('#fifthDealRow').hide("slow");
      $('#sixthDealRow').hide("slow");
      $('#seventhDealRow').show("slow");
      
      $( "#dealInfoButton" ).removeClass( "deal-buttons-active" ).addClass( "" );
      $( "#dealTermButton" ).removeClass( "deal-buttons-active" ).addClass( "" );
      $( "#thirdDealButton" ).removeClass( "deal-buttons-active" ).addClass( "" );
      $( "#fourthDealButton" ).removeClass( "deal-buttons-active" ).addClass( "" );
      $( "#fifthDealButton" ).removeClass( "" ).addClass( "" );
      $( "#sixthDealButton" ).removeClass( "deal-buttons-active" ).addClass( "" );
      $( "#seventhDealButton" ).removeClass( "" ).addClass( "deal-buttons-active" );
    });  

  });

  //this happens on load
  $(document).ready(function() {
    setTimeout(function() {
      $('#dealTermRow').hide("slow");
      $('#thirdDealRow').hide("slow");
      $('#fourthDealRow').hide("slow");
      $('#fifthDealRow').hide("slow");
    }, 1000);
  });
</script>
<!-- END buttons for changing the color layers with script for buttons -->