<%= form_for @deal, :html => { :class => "form-horizontal deal" } do |f| %>

  <% if @deal.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@deal.errors.count, "error") %> prohibited this deal from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @deal.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :deal_name, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :deal_name, :class => 'form-control' %>
    </div>
    <%=f.error_span(:deal_name) %>
  </div>
  <div class="form-group">
    <%= f.label :gross_area, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :gross_area, :class => 'form-control' %>
    </div>
    <%=f.error_span(:gross_area) %>
  </div>
  <div class="form-group">
    <%= f.label :net_rentable_area, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :net_rentable_area, :class => 'form-control' %>
    </div>
    <%=f.error_span(:net_rentable_area) %>
  </div>
  <div class="form-group">
    <%= f.label :lease_status, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :lease_status, :class => 'form-control' %>
    </div>
    <%=f.error_span(:lease_status) %>
  </div>
  <div class="form-group">
    <%= f.label :project_id, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :project_id, :class => 'form-control' %>
    </div>
    <%=f.error_span(:project_id) %>
  </div>
  <div class="form-group">
    <%= f.label :map_id, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :map_id, :class => 'form-control' %>
    </div>
    <%=f.error_span(:map_id) %>
  </div>
  <div class="form-group">
    <%= f.label :area_id, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :area_id, :class => 'form-control' %>
    </div>
    <%=f.error_span(:area_id) %>
  </div>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                deals_path, :class => 'btn btn-default' %>
    </div>
  </div>

<% end %>
