<% if current_user %>
<%- model_class = Deal -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:deal_name) %></th>
      <th><%= model_class.human_attribute_name(:gross_area) %></th>
      <th><%= model_class.human_attribute_name(:net_rentable_area) %></th>
      <th><%= model_class.human_attribute_name(:lease_status) %></th>
      <th><%= model_class.human_attribute_name(:project_id) %></th>
      <th><%= model_class.human_attribute_name(:map_id) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @deals.each do |deal| %>
      <tr>
        <td><%= link_to deal.id, deal_path(deal) %></td>
        <td><%= link_to deal.deal_name, deal_path(deal) %></td>
        <td><%= number_with_delimiter(deal.gross_area, :delimiter => ',') %></td>
        <td><%= number_with_delimiter(deal.net_rentable_area, :delimiter => ',') %></td>
        <td><%= deal.lease_status %></td>
        <td><%= deal.project_id %></td>
        <td><%= deal.map_id %></td>
        <td><%=l deal.created_at %></td>
        <td>
          <%= link_to t('.show', :default => t("helpers.links.show")),
                      deal_path(deal), :class => 'btn btn-default' %>
          <% if (current_user && current_user.is_admin?) || (current_user && current_user.role == 'Admin' && (current_user.project_ids.include? deal.project_id)) || (current_user && current_user.role == 'Editor') %>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_deal_path(deal), :class => 'btn btn-primary' %>
          <% end %>
          <% if (current_user && current_user.is_admin?) || (current_user && current_user.role == 'Admin' && (current_user.project_ids.include? deal.project_id)) %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      deal_path(deal),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-danger' %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%#= link_to t('.new', :default => t("helpers.links.new")),
            new_deal_path,
            :class => 'btn btn-primary' %>
<% else %>
 <h2>Must be logged in. <a href="/" class="btn btn-default">Return Home</a></h2>
<% end %>
