<%= form_for @area, :html => { :class => "form-horizontal area formatFunctions" } do |f| %>

  <% if @area.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@area.errors.count, "error") %> prohibited this area from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @area.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :suite_number, :class => 'control-label col-lg-2' %>
    <div class="col-lg-2">
      <%= f.text_field :suite_number, :class => 'form-control' %>
    </div>
    <%=f.error_span(:suite_number) %>

    <%= f.label :map_id, :class => 'control-label col-lg-2' %>
    <div class="col-lg-2">
      <% if controller.action_name == "new" %>
      <%= f.number_field :map_id, value: params[:map_id], :class => 'form-control' %>
      <% else %>
      <%= f.number_field :map_id, :class => 'form-control' %>
      <% end %>
    </div>
    <%=f.error_span(:map_id) %>

    <%= f.label :project_id, :class => 'control-label col-lg-2' %>
    <div class="col-lg-2">
      <% if controller.action_name == "new" %>
        <%= f.number_field :project_id, value: params[:project_id], :class => 'form-control' %>
      <% else %>
        <%= f.number_field :project_id, :class => 'form-control' %>
      <% end %>
    </div>
    <%=f.error_span(:project_id) %>
  </div>
  
  <div class="form-group">
    <%= f.label :status, :class => 'control-label col-lg-2' %>
    <div class="col-lg-2">
      <%#= f.text_field :status, :class => 'form-control' %>
      <%= f.select :status, ['01 Available', '02 Lease Negotiation', '03 Landlord Construction', '04 Tenant Design', '05 Tenant Fit-Out', '06 Open for Business', '07 Close-Out', '08 Operating'], {include_blank:false}, :class => 'form-control' %>
    </div>
    <%=f.error_span(:status) %>
    
    <%= f.label :area_sqft, :class => 'control-label col-lg-2' %>
    <div class="col-lg-2">
        <%= f.text_field :area_sqft, :class => 'form-control required sf-background' %>
    </div>
    <%=f.error_span(:area_sqft) %>
  </div>
  
  <div class="form-group">
    <%= f.label :coords, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :coords, :class => 'form-control' %>
    </div>
    <%=f.error_span(:coords) %>
  </div>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                project_path(@project), :class => 'btn btn-default' %>
    </div>
  </div>

<% end %>


  <%= render 'formjquery' %>
