<!-- folder drop down stuff -->
<script>
$(document).ready(function(){
    $("#folder-icon").click(function(){
        $(".everything").toggle();
    });
});
</script>

<% if (current_user.is_admin?) || (current_user.project_ids.include? @project.id) %>
  <div class="everything" style="display:none;">
    <div class="row print-none">
      <div class="col-xs-10 col-xs-offset-1">
        <br>
        <% if @area.deals.any? %>
            <%= form_for @area.deals.first, :html => { :class => "form-horizontal area" } do |f| %>
                  <p style="font-weight:bold;">Tenant Documents:</p>
                  <%= f.text_field :tenant_documents, :class => 'form-control add-tags' %>
                  <% if (current_user.is_admin?) || (current_user.role == 'Admin') || (current_user.role == 'Editor')  %>
                  <p><%= link_to 'Edit',
                              edit_deal_path(@area.deals.first),
                              :class => 'btn btn-primary responsive-none print-none', :style => '' %>
    
                  </p>
                  <% end %>
                  <br>
                  <p style="font-weight:bold;">Landlord Work:</p>
                  <%= f.text_field :landlord_work, :class => 'form-control add-tags' %>
                  <% if (current_user.is_admin?) || (current_user.role == 'Admin') || (current_user.role == 'Editor')  %>
                  <p><%= link_to 'Edit',
                              edit_deal_path(@area.deals.first),
                              :class => 'btn btn-primary responsive-none print-none', :style => '' %>
    
                  </p>
                  <% end %>
                  <br>
            <% end %>
        <% else %>
          *There is no deal currently associated with this area.<br><br>
        <% end %>
        
        <br>
      </div>
    </div>
  </div>
<% end %>
<!-- END folder drop down stuff -->


<% if (current_user && current_user.is_admin?) || (current_user && (current_user.project_ids.include? @area.project_id)) %>
<%- model_class = Area -%>

<br><br>

<div class="row">
  <div class="col-xs-5 col-xs-offset-1">
    <%= render 'areamap' %>
  </div>
  <div class="col-xs-5">
    <% if @area.deals.count > 0 %>
      <% if @area.deals.first.dealimages.blank? %>
        <%= link_to image_tag('/images/status-plan-logo.png', :style => 'max-width:300px !important;'), deal_path(@area.deals.first) %>
      <% else %>
        <%= link_to image_tag(@area.deals.first.dealimages.first.dealimage_url, :style => 'max-width:300px !important;'), deal_path(@area.deals.first) %>
      <% end %>
    <% else %>
      <%= image_tag('/images/status-plan-logo.png', :style => 'max-width:300px !important;') %>
    <% end %>
    <br><hr>
    SqFt: <%= number_with_delimiter(@area.area_sqft, :delimiter => ',') %><br>
    Suite #: <%= @area.suite_number %><br>
    Status: <%= @area.status %><br>
    Area Budget Rate: <%= number_with_delimiter(@area.area_budget_rate, :delimiter => ',') %><br><br>
    
    Associated Deals: <%= @area.areas_deals.count %><br>
    Deal Titles:<br>
    <% if @area.deals.count > 0 %>
        <% @area.deals.each do |deal| %>
          <%= link_to deal.deal_name, deal %> <%#= AreasDeal.where(deal_id: deal, area_id: @area).ids %> 
          <% if current_user.is_admin? || current_user.role == 'Admin' || current_user.role == 'Editor' %>
          <%= link_to '<i class="fa fa-minus-square"></i>'.html_safe,
                      areas_deal_path(AreasDeal.where(deal_id: deal, area_id: @area).ids),
                      :method => :delete,
                      :title => 'Remove Association',
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => '/*btn btn-danger*/' %>
          <% end %><br>
        <% end %>
      <% else %><i>There are no deals associated.</i><% end %>
    <br>
    <% if current_user.is_admin? || current_user.role == 'Admin' || current_user.role == 'Editor' %>
    <br>
    <%= render :partial => 'add_deal_association' %>
    <% end %>
  </div>
</div>


<div class="row">
  <div class="col-xs-8 col-xs-offset-2 print-none">
    <hr class="print-none">

      <div class="page-header print-none">
        <button data-toggle="collapse" data-target="#schedule-collapse" 
          class='btn btn-primary green-button print-none' 
          style='float:right;margin-top:12px;margin-left:10px;'><i class="fa fa-chevron-down"></i></button>
          <% if (current_user && current_user.is_admin?) || (current_user && current_user.role == 'Admin') || (current_user && current_user.role == 'Editor') %>
          
            <% if @area.schedule.present? %>
              <%= link_to '+ Edit Schedule',
                          edit_schedule_path(@area.schedule.id),
                          :class => 'btn btn-primary green-button responsive-none print-none', :style => 'float:right;margin-top:12px;' %>
            
            <% else %>
              <%= link_to '+ Create Schedule',
                          new_schedule_path(:area_id => @area),
                          :class => 'btn btn-primary green-button responsive-none print-none', :style => 'float:right;margin-top:12px;' %>
            <% end %>
          <% end %>  
          <h1 class="print-none">Schedule</h1>
      </div>
      
      <div id="schedule-collapse" class="collapse in">
        <% if @area.schedule.present? %>
          <%= render 'schedule' %>
        <% else %>
          <h1 style="font-style:italic;">*There is currently no Schedule.</h1>
        <% end %>
      </div>

  </div>
</div>



<div class="row">
  <div class="col-xs-8 col-xs-offset-2 print-none">
    

      <div class="page-header print-none">
        <button data-toggle="collapse" data-target="#workletters-collapse" 
          class='btn btn-primary green-button print-none' 
          style='float:right;margin-top:12px;margin-left:10px;'><i class="fa fa-chevron-down"></i></button>
          <% if (current_user && current_user.is_admin?) || (current_user && current_user.role == 'Admin') || (current_user && current_user.role == 'Editor') %>
          
            <% if @area.workletter.present? %>
              <%= link_to '+ Edit Workletter',
                          edit_workletter_path(@area.workletter.id),
                          :class => 'btn btn-primary green-button responsive-none print-none', :style => 'float:right;margin-top:12px;' %>
            
            <% else %>
              <%= link_to '+ Create Workletter',
                          new_workletter_path(:area_id => @area),
                          :class => 'btn btn-primary green-button responsive-none print-none', :style => 'float:right;margin-top:12px;' %>
            <% end %>
          <% end %>  
          <h1 class="print-none">Workletter</h1>
          
      </div>
      
      <div id="workletters-collapse" class="collapse">
        <% if @area.workletter.present? %>
          <%= render 'workletter' %>
        <% else %>
          <h1 style="font-style:italic;">*There is currently no Workletter.</h1>
        <% end %>
      </div>

  </div>
</div>

<br><br>


<div class="row">
  <div class="col-xs-8 col-xs-offset-2">
    <table class="report-table" style="margin-bottom:0;border:none;">
      <tr>
        <td style="text-align:center;border:none;">General</td>
      </tr>
    </table>
    
    <table class="report-table add-responsive">
      <thead>
      <tr>
        <th>Suite #:</th>
        <th>Area SF:</th>
        <th>Status:</th>
        <th>Area Budget Rate:</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td><%= @area.suite_number %></td>
        <td><%= number_with_delimiter(@area.area_sqft, :delimiter => ',') %></td>
        <td><%= @area.status %></td>
        <td><%= number_with_delimiter(@area.area_budget_rate, :delimiter => ',') %></td>
      </tr>
      <tr>
        <td colspan="4" style="text-align:center;">Address:</td>
      </tr>
      <tr>
        <td colspan="4" style= "text-align:center;"><%= @area.address %></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>




<div class="row">
  <div class="col-xs-8 col-xs-offset-2">
<table class="report-table" style="margin-bottom:0;border:none;">
      <tr>
        <td style="text-align:center;color:#fff;background-color:#231f20;border:none;">Technical Information (HVAC) <i class="fa fa-certificate print-only-inline" style="color:#231f20 !important;"></i></td>
      </tr>
    </table>
    
    <table class="report-table add-responsive">
      <thead>
      <tr>
        <th>System Type:</th>
        <th>Quantity:</th>
        <th>Tonnage:</th>
        <th>Unit-brand:</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td><%= @area.system_type %></td>
        <td><%= @area.quantity %></td>
        <td><%= @area.tonnage %></td>
        <td><%= @area.unit_brand %></td>
      </tr>
      </tbody>
    </table>
    
    <table class="report-table add-responsive">
      <thead>
      <tr>
        <th>Unit Voltage:</th>
        <th>Vav Size:</th>
        <th>Pipe System:</th>
        
      </tr>
      </thead>
      <tbody>
      <tr>
        <td><%= @area.unit_voltage %></td>
        <td><%= @area.vav_size %></td>
        <td><%= @area.pipe_system %></td>
      </tr>
      </tbody>
    </table>
    
    <% if @area.pipe_system == 'other' %>
    <table class="report-table add-responsive">
      <thead>
      <tr>
        <th>Pipe System Note:</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td><%= @area.pipe_system_note %></td>
      </tr>
      </tbody>
    </table>
    <% end %>

    <table class="report-table" style="margin-bottom:0;border:none;">
      <tr>
        <td style="text-align:center;color:#fff;background-color:#231f20;border:none;">Technical Information (Electrical) <i class="fa fa-certificate print-only-inline" style="color:#231f20 !important;"></i></td>
      </tr>
    </table>
    
    <table class="report-table add-responsive">
      <thead>
      <tr>
        <th>Voltage:</th>
        <th>Main Amperage:</th>
        <th>Transformer:</th>
        <th>Sub Panel Amperage:</th>
        <th>Conduit Quantity:</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td><%= @area.voltage %></td>
        <td><%= @area.main_amperage %></td>
        <td><%= @area.transformer %></td>
        <td><%= @area.sub_panel_amperage %></td>
        <td><%= @area.conduit_quantity %></td>
      </tr>
      </tbody>
    </table>
    
    <table class="report-table add-responsive">
      <thead>
      <tr>
        <th>Main Amperage:</th>
        <th>Transformer:</th>
        <th>Sub Panel Amperage:</th>
        <th>Conduit Quantity:</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td><%= @area.main_amperage %></td>
        <td><%= @area.transformer %></td>
        <td><%= @area.sub_panel_amperage %></td>
        <td><%= @area.conduit_quantity %></td>
      </tr>
      </tbody>
    </table>
    
    <table class="report-table add-responsive">
      <thead>
      <tr>
        <th>Conduit Size:</th>
        <th>Meter Number:</th>
        <th>Meter Install Date:</th>
        <th>Meter Transfer Date:</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td><%= @area.conduit_size %></td>
        <td><%= @area.electric_meter_number %></td>
        <td><%= @area.electric_meter_install_date %></td>
        <td><%= @area.electric_meter_transfer_date %></td>
      </tr>
      </tbody>
    </table>

    <table class="report-table" style="margin-bottom:0;border:none;">
      <tr>
        <td style="text-align:center;color:#fff;background-color:#231f20;border:none;">Technical Information (Plumbing) <i class="fa fa-certificate print-only-inline" style="color:#231f20 !important;"></i></td>
      </tr>
    </table>
    
    <table class="report-table add-responsive">
      <thead>
      <tr>
        <th>Sanitary Size:</th>
        <th>Sanitary Type:</th>
        <th>Vent Size:</th>
        <th>Water Size:</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td><%= @area.sanitary_size %></td>
        <td><%= @area.sanitary_type %></td>
        <td><%= @area.vent_size %></td>
        <td><%= @area.water_size %></td>
      </tr>
      </tbody>
    </table>
    
    <table class="report-table add-responsive">
      <thead>
      <tr>
        <th>Water Meter Number:</th>
        <th>Sub Meter Number:</th>
        <th>Sub Meter Install Date:</th>
        <th>Sub Meter Transfer Date:</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td><%= @area.water_meter_number %></td>
        <td><%= @area.sub_meter_number %></td>
        <td><%= @area.sub_meter_install_date %></td>
        <td><%= @area.sub_meter_transfer_date %></td>
      </tr>
      </tbody>
    </table>
    
    <table class="report-table add-responsive">
      <thead>
      <tr>
        <th>Gas Size:</th>
        <th>Gas Meter:</th>
        <th>Gas Meter Install Date:</th>
        <th>Gas Meter Transfer Date:</th>
        <th>Grease Size:</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td><%= @area.gas_size %></td>
        <td><%= @area.gas_meter %></td>
        <td><%= @area.gas_meter_install_date %></td>
        <td><%= @area.gas_meter_transfer_date %></td>
        <td><%= @area.grease_size %></td>
      </tr>
      </tbody>
    </table>
    
    <table class="report-table" style="margin-bottom:0;border:none;">
      <tr>
        <td style="text-align:center;color:#fff;background-color:#231f20;border:none;">Technical Information (Other) <i class="fa fa-certificate print-only-inline" style="color:#231f20 !important;"></i></td>
      </tr>
    </table>

    <table class="report-table add-responsive">
      <thead>
      <tr>
        <th>Tenant Approval:</th>
        <th>Service Door Quantity:</th>
        <th>Restrooms:</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td><%= @area.tenant_approval %></td>
        <td><%= @area.service_door_quantity %></td>
        <td><%= @area.restrooms %></td>
      </tr>
      </tbody>
    </table>

  </div>
</div>


<div class="row">
  <div class="col-xs-8 col-xs-offset-2">
   <table class="report-table" style="border:none;">
      <tr>
        <td style="text-align:center;color:#fff;background-color:#8BC53F;border:none;">
          Additional Information
        </td>
      </tr>
    </table>
    <table class="report-table add-responsive">
      <thead>
      <tr>
        <th>Area Comments:</th>
        <th>Landlord Plan Notes:</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td style="width:50%;"><%= @area.area_comments %></td>
        <td><%= @area.landlord_plan_notes %></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>


<hr>


<%= link_to "<= Project",
              project_path(@area.project_id), :class => 'btn btn-default'  %>
<% if (current_user && current_user.is_admin?) || (current_user && current_user.role == 'Admin' && (current_user.project_ids.include? @area.project_id)) || (current_user && current_user.role == 'Editor' && (current_user.project_ids.include? @area.project_id)) %>

<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_area_path(@area), :class => 'btn btn-primary' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              area_path(@area),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
<% end %>          


    <script type="text/javascript">
      $(document).ready(function() {
          $(".add-tags").tagit({
          
              // Options
              readOnly: true,
   
              // Events
              onTagClicked: function(event, ui) {
                  console.log(ui.tag);
                  console.log(ui.tagLabel);
                  //window.location = ui.tag;
                  window.open(ui.tagLabel);
              },
              onTagLimitExceeded: function(event, ui) {
                  console.log(ui.tag);
              }
          
          });
  
      });
    </script> 
              
<% else %>
 <h2>You are not authorized to be here. <a href="/" class="btn btn-default">Return Home</a></h2>
<% end %>
