<div class="col-md-4 col-md-offset-4" style="text-align:center;">
  <%= image_tag("/images/status-plan-logo.png", :style => 'max-width:250px;margin-top:100px;', :class => '') %>
</div>

<div class="col-md-4 col-md-offset-4 new-user-login" style="margin-top:40px;">
  <div id="triangle-up"></div>
  <div class="panel panel-default" style="background-color:#210f5b;border-color:#210f5b;">
    <!--
    <div class="panel-heading">
      <h4><%#= t('.sign_in', :default => "Sign in") %></h4>
    </div>
    -->
    <div class="panel-body" style="">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { role: "form" }) do |f| %>
        <div class="form-group">
          <%#= f.label :email %>
          <div class="input-group" style="width:100%;">
            <!--<span class="input-group-addon"><i class="fa fa-user" aria-hidden="true"></i></span>-->
            <%= f.email_field :email, autofocus: true, class: "form-control", style: "border-radius: 4px;", placeholder: 'Email' %>
          </div>
        </div>
        <div class="form-group">
          <%#= f.label :password %>
          <div class="input-group" style="width:100%;">
            <!--<span class="input-group-addon"><i class="fa fa-unlock-alt" aria-hidden="true"></i></span>-->
            <%= f.password_field :password, autocomplete: "off", class: "form-control", style: "border-radius: 4px;", placeholder: 'Password' %>
          </div>
        </div>
        <%# if devise_mapping.rememberable? %>
          <!--<div class="checkbox">
            <label>
              <%#= f.check_box :remember_me %>
              <%#= f.label :remember_me %>
            </label>
          </div>-->
        <%# end %>
        <%= f.submit  t('.sign_in', :default => "Sign in"), class: "btn btn-primary full-width", style: "background-color:#3071a9" %>
      <% end %>
    </div>
  </div>
  <div class="accent-links" style="text-align:center;">
    <%= render "devise/shared/links" %>
  </div>
</div>

