<div class="row">
  <div class="col-xs-10 col-xs-offset-1">

<%- model_class = LeasingManager -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:email) %></th>
      <th><%= model_class.human_attribute_name(:phone) %></th>
      <th><%= model_class.human_attribute_name(:project_id) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @leasing_managers.each do |leasing_manager| %>
      <tr>
        <td><%= link_to leasing_manager.id, leasing_manager_path(leasing_manager) %></td>
        <td><%= leasing_manager.name %></td>
        <td><%= leasing_manager.email %></td>
        <td><%= leasing_manager.phone %></td>
        <td><%= leasing_manager.project_id %></td>
        <td><%=l leasing_manager.created_at %></td>
        <td>
          <%= link_to image_tag('/images/view-button.png'),
                      leasing_manager_path(leasing_manager), :class => 'action-buttons print-none', :title => 'View' %>
          <%= link_to image_tag('/images/edit-button.png'),
                      edit_leasing_manager_path(leasing_manager), :class => 'action-buttons print-none', :title => 'Edit' %>
          <%= link_to image_tag('/images/delete-button.png'),
                      leasing_manager_path(leasing_manager),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'action-buttons print-none', :title => 'Delete' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_leasing_manager_path,
            :class => 'btn btn-primary' %>


  </div>
</div>