<% if current_user %>
<p id="notice"><%= notice %></p>

<p>
  <strong>Project:</strong>
  <%= @icon.project_id %>
</p>

<p>
  <strong>Icon:</strong>
  <%= @icon.icon %>
</p>

<%= link_to 'Edit', edit_icon_path(@icon) %> |
<%= link_to 'Back', icons_path %>
<% else %>
 <h2>Must be logged in. <a href="/" class="btn btn-default">Return Home</a></h2>
<% end %>