<p id="notice"><%= notice %></p>

<p>
  <strong>Project:</strong>
  <%= @icon.project_id %>
</p>

<p>
  <strong>Icon:</strong>
  <%= @icon.icon %>
</p>

<%= link_to 'Edit', edit_icon_path(@icon) %> |
<%= link_to 'Back', icons_path %>
