<div class="container-fluid" style="">
<div class="row"> 
<div class="navbar navbar-default navbar-static-top border-bottom-dark" style="margin-bottom:1px;">

    <div class="col-lg-1">
    </div>
    <!-- logo/link upper left-hand corner -->
    <!-- quick change here to get the linking right and see if this is working -->
    <div class="col-lg-3">
    <ul class="nav navbar-middle" style="text-align:left;float:left;">
      <% if current_page?(root_path) && !current_user %>
        <!-- this is displaying the same whether logged in or not currently -->
        <li class="">
          <a href="/" style="padding:10px 0;">
            <img src="/images/status-plan-logo.png" style="height:50px;margin-top:0;"/>
          </a>
        </li>
      <% else %>
        <li class="">
          <a href="/" style="padding:10px 0;">
            <img src="/images/status-plan-logo.png" style="height:50px;margin-top:0;"/>
          </a>
        </li>
      <% end %>
    </ul>
    </div>
    <!-- end logo/link upper left-hand corner -->

    <button type="button" style="margin-top:14px;" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>

    <br class="only-768" style="clear:both;">

    <div class="navbar-collapse collapse navbar-responsive-collapse">

      <%= render '/common/navbar_menu' %>
      


      <% if current_user %>
        <!-- if logged in profile info and image -->
        <div class="col-lg-2">
          <ul class="nav navbar-right /*col-lg-3*/ display-above-1200" style="padding-top:10px;padding-left:0px;padding-right:12px;">
            <li class="">

                  <div style="float:left;" class="dropdown" data-behavior="notifications">
                    <!--
                    <a class="btn btn-secondary dropdown-toggle fas fa-bell" style="/*margin-top:10px;*/" href="#" role="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-behavior="notifications-link">
                    -->
                    <a class="btn btn-secondary dropdown-toggle fas fa-bell" style="font-size:14pt;margin-top:2px;padding-left:6px;padding-right:6px;" href="#" role="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-behavior="notifications-link">
                      <span data-behavior="unread-count"></span>
                    </a>
                  
                    <div id="notification-dropdown" class="dropdown-menu pull-right" aria-labelledby="dropdownMenu1" data-behavior="notification-items">
                      <!--<div style='width:100%;text-align:right;'>Unread Notifications: <a href='#' data-behavior='notifications-link' data-remote='true'>Mark as Read</a></div><hr>-->
                      <div style='width:100%;text-align:left;'><b>Notifications:</b><a href='/notifications' style='float:right;'>See All</a></div>
                    </div>
                  </div>

              <% if current_user.user_avatars.exists? %>
                <%= link_to image_tag(current_user.user_avatars.first.avatar, :alt => '', :title => '', :class => 'ws-border-style'), user_path(current_user), :class => 'profile-link', :style => 'padding:0 0;float:left;' %>
                <!--<img src="<%#= current_user.memberimages.first.memberimage %>" style="height:42px;float:left;margin-top:5px;">-->
              <% else %>
                <%= link_to image_tag("/images/NO-IMAGE-AVAILABLE.jpg", :alt => '', :title => '', :class => 'ws-border-style'), user_path(current_user), :class => 'profile-link', :style => 'padding:0 0;float:left;' %>
                <!--<img src="/images/NO-IMAGE-AVAILABLE.jpg" style="height:42px;float:left;">-->
              <% end %>


              <ul class="" style="max-width:200px;list-style-type: none;float:left;margin-top:15px;padding-left:10px;/*-webkit-padding-start: 10px;*/">
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle branded-font" style="font-size:16pt;color:#000;underline:none;" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    <% if !current_user.first_name.blank? %>
                    <%= truncate(current_user.first_name + " " + current_user.last_name, length: 25).html_safe %>
                    <% else %>
                    <%= truncate(current_user.email, length: 25).html_safe %>
                    <% end %>
                    <span class="caret"></span>
                  </a>

                  <ul class="dropdown-menu">
                    <li><%= link_to 'profile', user_path(current_user) %></li>
                    <li role="separator" class="divider"></li>
                    <!--<li><%#= link_to 'change password', edit_user_registration_path %></li>-->
                    <!--<li role="separator" class="divider"></li>-->
                    <li><%= link_to('logout', destroy_user_session_path,
                                    class: '', title: 'Logout', :method => :delete) %></li>
                  </ul>

                </li>
              </ul>
              <!--
              <%# if current_user.is_admin? || current_user.role == 'Admin' %>
                <%#= link_to image_tag("/images/black-belt2.png", :border => 0, :alt => '', :title => ''), user_path(current_user), :class => 'belt-style', :style => 'padding:0 0;float:left;margin-left:3px;' %>
              <%# elsif current_user.role == 'Editor' %>
                <%#= link_to image_tag("/images/green-belt2.png", :border => 0, :alt => '', :title => ''), user_path(current_user), :class => 'belt-style', :style => 'padding:0 0;float:left;margin-left:3px;' %>
              <%# else %>
                <%#= link_to image_tag("/images/yellow-belt2.png", :border => 0, :alt => '', :title => ''), user_path(current_user), :class => 'belt-style', :style => 'padding:0 0;float:left;margin-left:3px;' %>
              <%# end %>
              -->
            </li>
          </ul>
        </div>
        <!-- end if logged in profile info and image -->
      <% else %>
        <!-- sign-in button -->
        <ul class="nav navbar-right col-lg-2" style="margin-right:20px;">
          <li class="">
            <%- if controller_name == 'sessions' %>
              <div style="height:41px;clear:both;margin-top:5%;margin-bottom:5%;"></div>
            <% else %>
              <%= link_to('Sign In', new_user_session_path, class: 'btn btn-primary btn-primary-altered', title: 'Sign In') %>
            <% end %>
          </li>
        </ul>
        <!-- sign-in button -->
      <% end %>

    </div><!-- navbar-collapse collapse navbar-responsive-collapse -->
    <div class="col-lg-1">
    </div>


</div><!-- end navbar navbar-default navbar-static-top -->
</div><!-- end row --> 
</div><!-- end container-fluid -->

<script>
  //<!-- for the dropdown -->
  $(document).ready(function(){
    $('.dropdown-submenu a.secondMenu').on("click", function(e){
      $(this).next('ul').toggle();
      e.stopPropagation();
      e.preventDefault();
    });
  });
</script>