<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Status Plan by work.shopMG" %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag "application", :media => "all" %>

    <!-- For third-generation iPad with high-resolution Retina display: -->
    <!-- Size should be 512 x 512 pixels -->
    <%= favicon_link_tag '/apple-touch-icon-512.png', :rel => 'apple-touch-icon', :type => 'image/png', :sizes => '512x512' %>

    <!-- For third-generation iPad with high-resolution Retina display: -->
    <!-- Size should be 144 x 144 pixels -->
    <%= favicon_link_tag '/apple-touch-icon-144.png', :rel => 'apple-touch-icon', :type => 'image/png', :sizes => '144x144' %>

    <!-- For iPhone with high-resolution Retina display: -->
    <!-- Size should be 114 x 114 pixels -->
    <%= favicon_link_tag '/apple-touch-icon-114.png', :rel => 'apple-touch-icon', :type => 'image/png', :sizes => '114x114' %>

    <!-- For first- and second-generation iPad: -->
    <!-- Size should be 72 x 72 pixels -->
    <%= favicon_link_tag '/apple-touch-icon-72.png', :rel => 'apple-touch-icon', :type => 'image/png', :sizes => '72x72' %>

    <!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
    <!-- Size should be 57 x 57 pixels -->
    <%= favicon_link_tag '/apple-touch-icon.png', :rel => 'apple-touch-icon', :type => 'image/png' %>

    <!-- For all other devices -->
    <!-- Size should be 32 x 32 pixels -->
    <%= favicon_link_tag '/favicon.ico', :rel => 'shortcut icon' %>

    <%= javascript_include_tag "application" %>
    
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <!--
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    -->
    
    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js" type="text/javascript"></script>
    <![endif]-->
  </head>

    
  <% if !current_user && current_page?(root_path) %>
  <body style="height:100vh;background-image: url('/images/background-103.jpg');background-size:100%;background-position: center top;background-repeat: no-repeat;border-style:none;border:0;">
  <%# elsif current_user && current_page?(member_path(current_user.id))%>
  <!--<body style="height:100vh;background-image: url('/images/background-101-no-logo.jpg');background-size:cover;background-position: center;">-->
  <%# elsif current_user && current_page?(new_tenant_project_path(tenant_id: current_user.member.tenant.id))%>
  <!--<body style="height:100vh;background-color: #306770;">-->
  <% elsif current_user && controller.controller_name == "projects" && controller.action_name == "new" %>
  <body style="height:100vh;background-color: #306770;">
  <% elsif current_user && controller.controller_name == "projects" && controller.action_name == "create" %>
  <body style="height:100vh;background-color: #306770;">
  <% elsif current_user && controller.controller_name == "users" && controller.action_name == "show" %>
  <body style="height:100vh;background-color: #306770;">
  <% else %>
  <body>
  <% end %>
  
  <% if current_page?(user_session_path) || current_page?(new_user_password_path) || current_page?(new_user_confirmation_path) || current_page?(edit_user_registration_path) %>
    <!-- no render of navbar -->
  <% else %>
    <%= render 'common/navbar' %>
  <% end %>


<!-- search bars/headers -->

<!-- Logged in Home page search bar -->
  <% if current_user && current_page?(root_path) %> 
  <div class="container-fluid" style="">
    <div class="row print-none ws-search-bar">
        <div class="col-lg-1">
        </div>
        <div class="col-lg-7" style="padding-left:0;">
          <h1 style="float:left;color:#fff;margin-top:0;margin-bottom:0;" class="header-bar-title">Portfolio</h1>
        </div>
        <div class="col-lg-3" style="padding-right:0;">
          <%= search_form_for @q, url: root_path do |f| %> 
            <%= f.search_field :name_cont, :class => "form-control ws-border-style border-dark", :placeholder => "Search for..." %>
          <% end %>
        </div>
        <div class="col-lg-1">
        </div>
    </div>
  </div>
  <% end %>
  <!-- END Logged in Home page search bar -->
  
  <!-- Logged in Archive Projects search bar -->
  <% if current_user && current_page?(archived_projects_path) %>    
  <div class="row print-none ws-search-bar">
    
    <%= search_form_for @q, url: archived_projects_path do |f| %>
      <%#= f.search_field :name_cont %>
      <div class="col-lg-1">
      </div>
      <div class="col-lg-7">
        <h1 style="color:#fff;margin-top:0;margin-bottom:0;" class="header-bar-title">Archived Projects</h1>
      </div>
      <div class="col-lg-3">
        <%= f.search_field :name_cont, :class => "form-control ws-border-style border-dark", :placeholder => "Search for..." %>
      </div>
      <div class="col-lg-1">
      </div>
      <!-- these are in case he wants the buttons back
      <div class="col-lg-2">
        <%#= f.submit "Search", :class => "btn btn-primary-branded jicon", :style => "padding: 8px 12px;" %>
        <%#= link_to "Clear", request.path, :class => "btn btn-default jicon", :style => "padding: 8px 12px;" %>
      </div>
      -->
    <% end %>
    
  </div>
  <% end %>
  <!-- END Logged in Archive Projects search bar -->
  
  <!-- Logged in Edit Workletter top bar -->
    <% if controller.controller_name == "workletters" && (controller.action_name == "new" || controller.action_name == "edit")  %>
    <%# if current_user && controller.controller_name == "workletters" && controller.action_name == "edit" %>
    <div class="row print-none ws-workletter-bar">
      <div class="col-lg-1">
      </div>
      <div class="col-lg-8">
        <% if controller.controller_name == "workletters" && controller.action_name == "edit" %>
          <h1 style="color:#fff;margin-top:0;margin-bottom:0;" class="header-bar-title">Edit Workletter</h1>
        <% elsif controller.controller_name == "workletters" && controller.action_name == "new" %>
          <h1 style="color:#fff;margin-top:0;margin-bottom:0;" class="header-bar-title">New Workletter</h1>
        <% end %>
      </div>
      <div class="col-lg-2">
        <%= link_to '<i class="fa fa-times" style="margin-right:4px"></i> Cancel'.html_safe,
                deal_path(@deal), :class => 'btn btn-default ws-border-style border-light branded-font',
                :style => 'font-size:16pt;width:100px;background-color:#1F7970;color:#fff;float:right;' %>
      </div>
      <div class="col-lg-1">
      </div>
    </div>
    <% end %>
  <!-- END Logged in Edit Workletter top bar -->
  
  <!-- Logged in Edit Deal top bar -->
    <% if controller.controller_name == "deals" && (controller.action_name == "edit" || controller.action_name == "new")  %>
    <%# if current_user && controller.controller_name == "workletters" && controller.action_name == "edit" %>
    <div class="row print-none ws-deal-bar" style="padding-left:0;padding-right:0;margin-left:0;margin-right:0;">
      <div class="col-lg-1">
      </div>
      <div class="col-lg-8">
        <% if controller.controller_name == "deals" && controller.action_name == "edit" %>
          <h1 style="color:#fff;margin-top:0;margin-bottom:0;" class="header-bar-title">Edit Deal</h1>
        <% elsif controller.controller_name == "deals" && controller.action_name == "new" %>
          <h1 style="color:#fff;margin-top:0;margin-bottom:0;" class="header-bar-title">New Deal</h1>
        <% end %>
      </div>
      <div class="col-lg-2">
        <% if controller.controller_name == "deals" && controller.action_name == "new" %>
          <%= link_to '<i class="fa fa-times" style="margin-right:4px"></i> Cancel'.html_safe,
                project_path(@project), :class => 'btn btn-default ws-border-style border-light branded-font',
                :style => 'float:right;font-size:16pt;width:100px;background-color:#CB562D;color:#fff;' %>
        <% else %>
          <%= link_to '<i class="fa fa-times" style="margin-right:4px"></i> Cancel'.html_safe,
                deal_path(@deal), :class => 'btn btn-default ws-border-style border-light branded-font',
                :style => 'float:right;font-size:16pt;width:100px;background-color:#CB562D;color:#fff;' %>
        <% end %>
      </div>
      <div class="col-lg-1">
      </div>
    </div>
    <% end %>
  <!-- END Logged in Edit Deal top bar -->
  
  <!-- Logged in Deal show top bar -->
    <% if controller.controller_name == "deals" && controller.action_name == "show" %>
    <%# if current_user && controller.controller_name == "workletters" && controller.action_name == "edit" %>
    <div class="row print-none ws-deal-bar" style="padding-left:0;padding-right:0;margin-left:0;margin-right:0;">
      <div class="col-lg-1">
      </div>
      <div class="col-lg-8">
        <h1 style="color:#fff;margin-top:0;margin-bottom:0;" class="header-bar-title"><%= @deal.deal_name %><% if @deal.archive == true %> [Archived]<% end %></h1>
      </div>
      <div class="col-lg-2">
        <%= link_to 'Project <i class="fa fa-arrow-right" style="margin-left:4px"></i>'.html_safe,
                project_path(@project), :class => 'btn btn-default ws-border-style border-light branded-font',
                :style => 'float:right;font-size:16pt;width:100px;background-color:#CB562D;color:#fff;' %>
      </div>
      <div class="col-lg-1">
      </div>
    </div>
    <% end %>
  <!-- END Logged in Deal show top bar -->
  
  <!-- Logged in Area Edit top bar -->
    <% if controller.controller_name == "areas" && (controller.action_name == "edit" || controller.action_name == "new" || controller.action_name == "show")  %>
    <%# if current_user && controller.controller_name == "workletters" && controller.action_name == "edit" %>
    <div class="row print-none ws-area-bar row-correction">
      <div class="col-lg-1">
      </div>
      <% if controller.controller_name == "areas" && (controller.action_name == "edit" || controller.action_name == "new")  %>
      <div class="col-lg-8">
        <% if controller.controller_name == "areas" && controller.action_name == "edit" %>
          <h1 style="color:#fff;margin-top:0;margin-bottom:0;" class="header-bar-title">Edit Area</h1>
        <% elsif controller.controller_name == "areas" && controller.action_name == "new" %>
          <h1 style="color:#fff;margin-top:0;margin-bottom:0;" class="header-bar-title">New Area</h1>
        <% end %>
      </div>
      <% elsif controller.controller_name == "areas" && controller.action_name == "show" %>
      <div class="col-lg-4">
        <h1 class="header-bar-title" style="margin-top:0px;margin-bottom:2px;color:#fff;"><%= @area.suite_number %></h1>
      </div>
      <div class="col-lg-4">
        <h3 style="margin-top:10px;font-size:12pt;color:#fff;">Project: <%= link_to @project.name, project_url(@project.id), :style => 'color:#fff;' %>
        <!--- Map: <%#= link_to @map.name, map_path(@map), :style => 'color:#fff;' %>-->
        </h3>
      </div>
      <% end %>
      <div class="col-lg-2">
        <% if controller.controller_name == "areas" && (controller.action_name == "edit")  %>
        <%= link_to '<i class="fa fa-times" style="margin-right:4px"></i> Cancel'.html_safe,
                area_path(@area), :class => 'btn btn-default ws-border-style border-light branded-font',
                :style => 'float:right;font-size:16pt;width:100px;background-color:#69A020;color:#fff;' %>
        <% elsif controller.controller_name == "areas" && controller.action_name == "show" %>
          

         
          <% if (current_user && current_user.is_admin?) || (current_user && current_user.role == 'Admin') || (current_user && current_user.role == 'Editor') %>
              <%= link_to '<i class="fa fa-pencil-alt" style="margin-right:4px;"></i> Edit'.html_safe,
                  edit_area_path(@area), :class => 'btn btn-default ws-border-style border-light branded-font',
                  :style => 'float:right;font-size:16pt;width:120px;background-color:#69A020;color:#fff;vertical-align:top;margin-left:10px;' %>
          <% end %>

          <!-- switched from a font awesome icon to an image -->
          <%#= link_to ('<i class="fa fa-folder-open"></i>').html_safe,
		              "#", :title => 'Tenant Documents/Landlord Work', :class => 'print-none', :style => "color: #fff;font-size:36pt;line-height:36pt;margin-left:10px;", :id => "folder-icon" %>

          <%= link_to "#", class: "folder-icon-link", style: "float:right;" do %><%= image_tag "/images/Folder-open-white-120.png", :class => "print-none", :style => "height:28px;margin-top:6px;", :id => "folder-icon" %><% end %>
          <!-- END switched from a font awesome icon to an image -->
          
          
        <% end %>
      </div>
      <div class="col-lg-1">
      </div>
    </div>
    <% end %>
  <!-- END Logged in Area Edit top bar -->

<!-- Logged in Map Edit top bar -->
    <% if controller.controller_name == "maps" && (controller.action_name == "edit" || controller.action_name == "new" || controller.action_name == "show")  %>
    <%# if current_user && controller.controller_name == "workletters" && controller.action_name == "edit" %>
    <div class="row print-none ws-green-bar">
      <div class="col-lg-1">
      </div>
      <% if controller.controller_name == "maps" && (controller.action_name == "edit" || controller.action_name == "new")  %>
      <div class="col-lg-8">
        <% if controller.controller_name == "maps" && controller.action_name == "edit" %>
          <h1 style="color:#fff;margin-top:0;margin-bottom:0;" class="header-bar-title">Edit Map</h1>
        <% elsif controller.controller_name == "maps" && controller.action_name == "new" %>
          <h1 style="color:#fff;margin-top:0;margin-bottom:0;" class="header-bar-title">New Map</h1>
        <% elsif controller.controller_name == "maps" && controller.action_name == "show" %>
          <h1 style="color:#fff;margin-top:0;margin-bottom:0;" class="header-bar-title"><%= @map.name %></h1>
        <% end %>
      </div>
      <% elsif controller.controller_name == "maps" && controller.action_name == "show" %>
      <div class="col-lg-4">
          <h1 style="color:#fff;margin-top:0;margin-bottom:0;" class="header-bar-title"><%= @map.name %></h1>
      </div>
      <div class="col-lg-4">
        <h1 class="branded-font" style="color:#fff;margin-top:0;">Project: <%= link_to @project.name, project_url(@project.id), :style => 'color:#fff;' %></h1>
      </div>
      <% end %>
      <div class="col-lg-3">
        
        <%= link_to "< Back to Project",
                project_url(@project.id), 
                :class => 'btn btn-default ws-border-style border-light branded-font',
                :style => 'font-size:16pt;width:130px;background-color:#1f7970;color:#fff;' %>
        <% if current_user.is_admin? || current_user.role == 'Admin' || current_user.role == 'Editor' %>
          <% if @project.maps.present? && !controller.action_name == "new" %>
            <%= link_to ('<i class="fa fa-pencil-alt"></i> ').html_safe,
                  edit_map_path(@map), title: 'Edit Profile', :class => 'branded-color responsive-none print-none', :style => 'color: #210f5b;font-size:24pt;margin-left:10px;' %>
          <% end %>
        <% end %>
      </div>
    </div>
    <% end %>
  <!-- END Logged in Map Edit top bar -->
  
  <!-- Logged in Projects show top bar -->
  <%= render '/projects/title_bar' %>
  <!-- END Logged in Projects show top bar -->
  
<!-- END search bars/headers -->
    

    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">
          <%= bootstrap_flash %>
          <%= yield %>
          <% if !current_user && current_page?(root_path) %>
            <div style="height:120px;"></div>
            <% else %>
            <!--<div style="height:120px;"></div>-->
          <% end %>
        </div>
      </div><!--/row-->
    </div> <!-- /container -->


<!-- footer bars -->    
    <% if !current_user && current_page?(root_path) %>
      <div class="row print-none" style="background-color:#fff;border-top:thin solid #231f20;">
          <div class="col-lg-12" style="text-align:center">-->
            <footer style="background-color: #f8f8f8;">
              <a href="http://workshop-mg.com/" target="_blank" class="createdBy">
                  <!--created by--> <img src="/images/work.shop-logo-750.png" class="createdByImage" />
              </a>
            </footer>
            
          </div>
      </div>

    <% elsif current_user && (controller_name == "projects" && (controller.action_name == "show" || controller.action_name == "retail" || controller.action_name == "merch")) %>
      <!-- Project Path -->
      
      <%= render '/projects/bottom_buttons' %>
      
      <div class="row print-none row-correction" style="background-color:#f2f2f2;padding-top:40px;padding-bottom:40px;">
          <div class="col-xs-3 col-xs-offset-1" style="text-align:left">
            <span style="padding:10px 0;">
              <img src="/images/status-plan-logo.png" style="height:50px;margin-top:0;"/>
            </span>
          </div>
          <div class="col-xs-4" style="text-align:center">
            <%= render '/common/bottom_navbar' %>
          </div>
          <div class="col-xs-3" style="text-align:right">
            <a href="https://www.linkedin.com/company/work-shopmg-llc" target="_blank" class="bottom-icons"><i class="fab fa-linkedin" style="font-size:16pt;margin-top:20px;margin-right:20px;"></i></a>
            <a href="https://twitter.com/workshopMG" target="_blank" class="bottom-icons"><i class="fab fa-twitter" style="font-size:16pt;margin-top:20px;margin-right:20px;"></i></a>
            <!--<i class="fa fa-cog" style="font-size:16pt;margin-top:20px;margin-right:20px;"></i>-->
          </div>
      </div>
    
    <% elsif current_user && (controller_name == "projects" && controller.action_name == "edit") %>
      <!-- Tenant Project Path -->
      <div class="row print-none" style="background-color:#f8f8f8;border-top:thin solid #231f20;">
          <div class="col-lg-12" style="text-align:center">
            <footer style="background-color: #f8f8f8;" class="affixfooter" data-spy="affix-bottom">
              
                <% if current_user.is_admin? %>
                  <%= link_to 'Delete Project',
                    project_path(@project),
                    :method => 'delete',
                    :data => { :confirm => 'Are you sure you want to DELETE this project?'},
                    :class => 'btn btn-danger print-none float-left-until',
                    :style => 'margin-left:6px;margin-right:6px;' %>
                <% end %>
              
              <% if current_user.is_admin? || current_user.role == 'Admin' %>
                <%= submit_tag 'Update Project', 
                  :form => 'edit_project_' + @project.id.to_s,
                  :class => 'btn btn-primary print-none float-right-until', 
                  :style => 'margin-right:6px;background-color:#16A3BA;border-color:#16A3BA;' %>
              <% end %>
                  
                <%= link_to 'Cancel', project_path(@project), 
                  :class => 'btn btn-primary print-none float-right-until', 
                  :style => 'margin-right:6px;background-color:#fff;color:#16A3BA;border-color:#16A3BA;' %>
            </footer>
          </div>
      </div>
      
    <% elsif (current_user && (controller_name == "areas" && controller.action_name == "new")) || (current_user && (controller_name == "areas" && controller.action_name == "create")) %>
      <!-- Tenant Project Path -->
      <div class="row print-none" style="background-color:#f8f8f8;border-top:thin solid #231f20;">
          <div class="col-lg-12" style="text-align:center">
            <footer style="background-color: #f8f8f8;" class="affixfooter" data-spy="affix-bottom">
              
                <%= submit_tag 'Create Area', 
                  :form => 'new_area',
                  :class => 'btn btn-primary print-none float-right-until', 
                  :style => 'margin-right:6px;background-color:#8BC53F;border-color:#8BC53F;' %>
                  
                <%= link_to 'Cancel', #map_path(@map), 
                    project_path(@project), 
                  :class => 'btn btn-primary print-none float-right-until', 
                  :style => 'margin-right:6px;background-color:#fff;color:#8BC53F;border-color:#8BC53F;' %>
            </footer>
          </div>
      </div>
      
      <% elsif current_user && (controller_name == "areas" && controller.action_name == "edit") %>
      <!-- Tenant Project Path -->
      <div class="row row-correction print-none" style="background-color:#f8f8f8;border-top:thin solid #231f20;">
          <div class="col-lg-12" style="text-align:center">
            <footer style="background-color: #f8f8f8;" class="affixfooter" data-spy="affix-bottom">
              
                <% if current_user.is_admin? || current_user.role == 'Admin' || current_user.role == 'Editor'  %>
                  <%= link_to 'Delete Area',
                    area_path(@area),
                    :method => 'delete',
                    :data => { :confirm => 'Are you sure you want to DELETE this Area?'},
                    :class => 'btn btn-danger print-none float-left-until',
                    :style => 'margin-left:6px;margin-right:6px;' %>
                <% end %>
              
              <% if current_user.is_admin? || current_user.role == 'Admin' || current_user.role == 'Editor' %>
                <%= submit_tag 'Update Area', 
                  :form => 'edit_area_' + @area.id.to_s,
                  :class => 'btn btn-primary print-none float-right-until', 
                  :style => 'margin-right:6px;background-color:#8BC53F;border-color:#8BC53F;' %>
              <% end %>
              
                <%= link_to 'Cancel', area_path(@area), 
                  :class => 'btn btn-primary print-none float-right-until', 
                  :style => 'margin-right:6px;background-color:#fff;color:#8BC53F;border-color:#8BC53F;' %>
            </footer>
          </div>
      </div>
      
      <% elsif current_user && (controller_name == "areas" && controller.action_name == "show") %>
      <!-- Tenant Project Path -->
      <div class="row row-correction print-none" style="background-color:#f8f8f8;border-top:thin solid #231f20;">
          <div class="col-lg-12" style="text-align:center">-->
            <footer style="background-color: #f8f8f8;" class="affixfooter" data-spy="affix-bottom">
              
            <% if current_user.is_admin? || current_user.role == 'Admin' || current_user.role == 'Editor'   %>
              <%= link_to 'Delete Area',
                area_path(@area),
                :method => 'delete',
                :data => { :confirm => 'Are you sure you want to DELETE this Area?'},
                :class => 'btn btn-danger print-none float-left-until',
                :style => 'margin-left:6px;margin-right:6px;' %>
            <% end %>
                
            <%= link_to 'Back to Project',
              project_path(@project), 
              :class => 'btn btn-default print-none',
              :style => 'border-color:#8BC53F;color:#8BC53F;' %>
              
      		  <%#= link_to 'Back to Map',
      		    map_path(@map), :class => 'btn btn-default print-none',
      		    :style => 'border-color:#8BC53F;color:#8BC53F;' %>
              
            <% if current_user.is_admin? || current_user.role == 'Admin' || current_user.role == 'Editor' %>
            <%= link_to 'Edit',
      		      edit_area_path(@area), :class => 'btn btn-primary float-right-until print-none',
      		    :style => 'background-color:#8BC53F;border-color:#8BC53F;' %>
      		  <% end %>
            </footer>
          </div>
      </div>
      
      <% elsif current_user && (controller_name == "deals" && controller.action_name == "edit") %>
      <!-- Tenant Project Path -->
      <div class="row row-correction print-none" style="background-color:#f8f8f8;border-top:thin solid #231f20;">
          <div class="col-lg-12" style="text-align:center">
            <footer style="background-color: #f8f8f8;" class="affixfooter" data-spy="affix-bottom">
              
                <% if current_user.is_admin? || current_user.role == 'Admin' || current_user.role == 'Editor'  %>
                  <%= link_to 'Kill Deal',
                    deal_path(@deal),
                    :method => 'delete',
                    :data => { :confirm => 'Are you sure you want to DELETE this Deal?'},
                    :class => 'btn btn-danger print-none float-left-until',
                    :style => 'margin-left:6px;margin-right:6px;' %>
                <% end %>
              
              <% if current_user.is_admin? || current_user.role == 'Admin' || current_user.role == 'Editor' %>
                <%= submit_tag 'Update Deal', 
                  :form => 'edit_deal_' + @deal.id.to_s,
                  :class => 'btn btn-primary print-none float-right-until', 
                  :style => 'margin-right:6px;background-color:#f16528;border-color:#f16528;' %>
              <% end %>
              
                <%= link_to 'Cancel', deal_path(@deal), 
                  :class => 'btn btn-primary print-none float-right-until', 
                  :style => 'float:right;margin-right:6px;background-color:#fff;color:#f16528;border-color:#f16528;' %>
            </footer>
          </div>
      </div>
      
      <% elsif current_user && (controller_name == "deals" && controller.action_name == "new") %>
      <!-- Tenant Project Path -->
      <div class="row row-correction print-none" style="background-color:#f8f8f8;border-top:thin solid #231f20;">
          <div class="col-lg-12" style="text-align:center">
            <footer style="background-color: #f8f8f8;" class="affixfooter" data-spy="affix-bottom">
              
                <%# if current_user.is_admin? || current_user.role == 'Admin' || current_user.role == 'Editor'  %>
                  <%#= link_to 'Kill Deal',
                    deal_path(@deal),
                    :method => 'delete',
                    :data => { :confirm => 'Are you sure you want to DELETE this Deal?'},
                    :class => 'btn btn-danger print-none float-left-until',
                    :style => 'margin-left:6px;margin-right:6px;' %>
                <%# end %>
              
              <% if current_user.is_admin? || current_user.role == 'Admin' || current_user.role == 'Editor' %>
                <%#= f.submit nil, :class => 'btn btn-primary' %>
                <%= submit_tag 'Create Deal', 
                  :form => 'new_deal',
                  :class => 'btn btn-primary print-none float-right-until', 
                  :style => 'margin-right:6px;background-color:#f16528;border-color:#f16528;' %>
              <% end %>
              
                <%= link_to 'Cancel', project_path(@project), 
                  :class => 'btn btn-primary print-none float-right-until', 
                  :style => 'float:right;margin-right:6px;background-color:#fff;color:#f16528;border-color:#f16528;' %>
            </footer>
          </div>
      </div>
      
      <% elsif current_user && (controller_name == "deals" && controller.action_name == "show") %>
      <%= render '/deals/bottom_bar' %>
      
      <% elsif controller_name == "workletters" && ( controller.action_name == "edit" ) %>
      <!-- Tenant Project Path -->
      <div class="row print-none" style="background-color:#f8f8f8;border-top:thin solid #231f20;">
          <div class="col-lg-12" style="text-align:center">
            <footer style="background-color: #f8f8f8;" class="affixfooter" data-spy="affix-bottom">
              
                <% if current_user.is_admin? || current_user.role == 'Admin' || current_user.role == 'Editor'  %>
                  <%= link_to 'Delete Workletter',
                    workletter_path(@workletter),
                    :method => 'delete',
                    :data => { :confirm => 'Are you sure you want to DELETE this Workletter?'},
                    :class => 'btn btn-danger print-none float-left-until',
                    :style => 'margin-left:6px;margin-right:6px;' %>
                <% end %>
              
              <% if current_user.is_admin? || current_user.role == 'Admin' || current_user.role == 'Editor' %>
                <%= submit_tag 'Update Workletter', 
                  :form => 'edit_workletter_' + @workletter.id.to_s,
                  :class => 'btn btn-primary print-none float-right-until', 
                  :style => 'margin-right:6px;background-color:#26968B;border-color:#26968B;' %>
              <% end %>
              
                <%= link_to 'Cancel', deal_path(@deal), 
                  :class => 'btn btn-primary print-none float-right-until', 
                  :style => 'margin-right:6px;background-color:#fff;color:#26968B;border-color:#26968B;' %>
            </footer>
          </div>
      </div>
      
      <% elsif current_user && (controller_name == "maps" && controller.action_name == "show") %>
      <!-- Tenant Project Path -->
      <div class="row print-none" style="background-color:#f8f8f8;border-top:thin solid #231f20;">
          <div class="col-lg-12" style="text-align:center">
            <footer style="background-color: #f8f8f8;" class="affixfooter" data-spy="affix-bottom">
              
            <% if current_user.is_admin? || current_user.role == 'Admin' %>
              <% if current_user.is_admin? %>
              <%= link_to 'Delete Map',
                map_path(@map),
                :method => 'delete',
                :data => { :confirm => 'This will also delete all associated Areas, Deals, etc. Do you really want to delete it? There is no way to undo...', title: 'Delete Map and Associated Models?', commit: 'Confirm Delete', cancel: 'Cancel'},
                :class => 'btn btn-danger print-none float-left-until',
                :style => 'margin-left:6px;margin-right:6px;' %>
              <% end %>
              <%= link_to 'Edit Map Image',
      		      edit_map_path(@map), :class => 'btn btn-primary float-left-until print-none',
      		    :style => 'background-color:#8BC53F;border-color:#8BC53F;' %>
                
            <% else %>
              <%= link_to '<i class="fa fa-print"></i> print page'.html_safe, 'print', :onclick => 'window.print();return false;', 
              :class => 'btn btn-primary responsive-none print-none float-left-until'%>
            <% end %>
                
            <%= link_to 'Back to Project',
              project_url(@map.project_id), 
              :class => 'btn btn-default print-none',
              :style => 'border-color:#24b9ae;color:#24b9ae;' %>
              
            
      		  
      		  <% if current_user.is_admin? || current_user.role == 'Admin' || current_user.role == 'Editor' %>
      		  
            <%= link_to '+ Add space', new_area_path(:map_id => @map),
                    :class => 'btn btn-primary responsive-none print-none float-right-until',
                    :style => 'margin-left:2px;margin-right:2px;color:#fff;background-color:#24b9ae;border-color:#24b9ae;' %>
            <%# else %>
            <%#= link_to 'Download as .xlsx', map_path(@map, format: :xlsx), 
                    :class => 'btn btn-primary responsive-none print-none float-right-until',
                    :style => 'margin-left:2px;margin-right:2px;' %>
            <% end %>

            </footer>
          </div>
      </div>
    
    <% else %>
      <!-- no footer -->
    <% end %>
<!-- END footer bars -->

  </body>
</html>
